{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Edit date characteristics
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">Edit date characteristics</div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">Dates to be edited</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                    {{ form.dates.label_tag }}<br>
                                    <p class="required">{{ form.dates.errors.as_text }}</p>
                                    {% render_field form.dates class="form-control" %}
                                    <p class="help-text">{{ form.dates.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-header">Date</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                                    {{ form.status.label_tag }}<br>
                                    <p class="required">{{ form.status.errors.as_text }}</p>
                                    {% render_field form.status class="form-control" %}
                                    <p class="help-text">{{ form.status.help_text }}</p>
                                </div>
                                <div class="form-group col-4">
                                    {{ form.execution_date.label_tag }}<br>
                                    <p class="required">{{ form.execution_date.errors.as_text }}</p>
                                    {% render_field form.execution_date class="form-control" %}
                                    <p class="help-text">{{ form.execution_date.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-3 col-md-3 col-sm-4 col-xs-4">
                                    {{ form.part_of_contract.label_tag }}<br>
                                    <p class="required">{{ form.part_of_contract.errors.as_text }}</p>
                                    {% render_field form.part_of_contract class="form-control" %}
                                    <p class="help-text">{{ form.part_of_contract.help_text }}</p>
                                </div>
                                <div class="form-group col-6">
                                    {{ form.service_provider.label_tag }}<br>
                                    <p class="required">{{ form.service_provider.errors.as_text }}</p>
                                    {% render_field form.service_provider class="form-control" %}
                                    <p class="help-text">{{ form.service_provider.help_text }}</p>
                                </div>
                                <div class="form-group col-12">
                                    {{ form.comment.label_tag }}<br>
                                    <p class="required">{{ form.comment.errors.as_text }}</p>
                                    {% render_field form.comment class="form-control" %}
                                    <p class="help-text">{{ form.comment.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}