{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Edit Date" %}
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="POST" class="post-form">
        {% csrf_token %}
        {{ form.media }}
        <div class="card">
            <div class="card-header">{% trans "Edit Date" %}</div>
            <div class="card-body">
                <div class="card">
                    <div class="card-body">
                        {% if request.resolver_match.view_name == 'events:date_add' %}
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                {{ form.windfarm.label_tag }}<br>
                                <p class="required">{{ form.windfarm.errors.as_text }}</p>
                                {% render_field form.windfarm class="form-control" id="id_windfarm" %}
                                <p class="help-text">{{ form.windfarm.help_text }}</p>
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                {{ form.turbine.label_tag }}<br>
                                <p class="required">{{ form.turbine.errors.as_text }}</p>
                                {% render_field form.turbine class="form-control" %}
                                <p class="help-text">{{ form.turbine.help_text }}</p>
                            </div>
                        </div>
                        {% endif %}
                        <div class="row">
                            <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                {{ form.order_date.label_tag }}<br>
                                <p class="required">{{ form.order_date.errors.as_text }}</p>
                                {% render_field form.order_date class="form-control" %}
                                <p class="help-text">{{ form.order_date.help_text }}</p>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                {{ form.service_provider.label_tag }}<br>
                                <p class="required">{{ form.service_provider.errors.as_text }}</p>
                                {% render_field form.service_provider class="form-control" %}
                                <p class="help-text">{{ form.service_provider.help_text }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                {{ form.execution_date.label_tag }}<br>
                                <p class="required">{{ form.execution_date.errors.as_text }}</p>
                                {% render_field form.execution_date class="form-control" %}
                                <p class="help-text">{{ form.execution_date.help_text }}</p>
                            </div>
                            <div class="form-group col-lg-4 col-md-6 col-sm-6 col-xs-6">
                                {{ form.date.label_tag }}<br>
                                <p class="required">{{ form.date.errors.as_text }}</p>
                                {% render_field form.date class="form-control" %}
                                <p class="help-text">{{ form.date.help_text }}</p>
                            </div>
                            <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                {{ form.status.label_tag }}<br>
                                <p class="required">{{ form.status.errors.as_text }}</p>
                                {% render_field form.status class="form-control" id="id_status" %}
                                <p class="help-text">{{ form.status.help_text }}</p>
                            </div>
                            <div id="next_dates_based_on_execution_date_field" class="form-group col-6">
                                {{ form.next_dates_based_on_execution_date.label_tag }}<br>
                                <p class="required">{{ form.next_dates_based_on_execution_date.errors.as_text }}</p>
                                {% render_field form.next_dates_based_on_execution_date class="form-control" %}
                                <p class="help-text">{{ form.next_dates_based_on_execution_date.help_text }}</p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group col-12">
                                {{ form.comment.label_tag }}<br>
                                <p class="required">{{ form.comment.errors.as_text }}</p>
                                {% render_field form.comment class="form-control" %}
                                <p class="help-text">{{ form.comment.help_text }}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> {% trans "Save" %}
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
var next_dates_based_on_execution_date_field = $("#next_dates_based_on_execution_date_field");
var status = $("#id_status").val();
if (status == "durchgeführt" || status == "Bericht erhalten" || status == "Rechnung erhalten" || status == "abgeschlossen" || status == "executed" || status == "report received" || status == "invoice received" || status == "closed") {
    next_dates_based_on_execution_date_field.show();
} else {
    next_dates_based_on_execution_date_field.hide();
};

$("#id_status").change(function () {
    var next_dates_based_on_execution_date_field = $("#next_dates_based_on_execution_date_field");
    var status = $("#id_status").val();
    if (status == "durchgeführt" || status == "Bericht erhalten" || status == "Rechnung erhalten" || status == "abgeschlossen" || status == "executed" || status == "report received" || status == "invoice received" || status == "closed") {
        next_dates_based_on_execution_date_field.show();
    } else {
        next_dates_based_on_execution_date_field.hide();
    };
});
</script>
{% endblock %}
