{% extends "polls/base.html" %}
{% load static %}

{% block title %}
    {{ component.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>{{ component.name }}</h1>
        <!--<a class="btn btn-primary pull-right" href="{% url "polls:new_image" component_id=component.pk component_slug=component.slug %}"><i class="fa fa-plus"></i> Add Image</a>-->
        <a class="btn btn-primary pull-right" href="{% url "components:gearbox_edit" component.id  %}" style="margin-right:2px"><i class="fa fa-edit"></i> Suggest changes</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <img src="{% if component.image.all %}{{ component.image.all.0.file.url }}{% else %}{% static "img/no_image.png" %}{% endif %}" style="max-width=100%; height:auto">
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <table class="table">
            <colgroup> <col width="80"> <col width="100"> </colgroup>
            <tr>
                <th colspan="2">General</th>
            </tr>
            {% if component.manufacturer %}<tr>
                <td>Manufacturer</td>
                <td>{{ component.manufacturer }}</td>
            </tr>{% endif %}
            {% if component.compatibleWEC|length > 0 %}<tr>
                <td>Compatible to</td>
                <td>{% for wec_typ in component.compatibleWEC %}<a href="{{ wec_typ.get_absolute_url }}">{{ wec_typ }}<br></a>{% endfor %}</td>
            </tr>{% endif %}
            {% if component.weigth_t %}<tr>
                <td>Weight</td>
                <td>{{ component.weight_t }} t</td>
            </tr>{% endif %}
            <tr>
                <th colspan="2">Specific information</th>
            </tr>
            {% if component.stages %}<tr>
                <td>Stages</td>
                <td>{{ component.stages }} t</td>
            </tr>{% endif %}
            {% if component.ratio %}<tr>
                <td>Ratio</td>
                <td>1 : {{ component.ratio }}</td>
            </tr>{% endif %}
        </table>
    </div>
    </div>
</div>
{% endblock %}