{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
   Add a new Generator
{% endblock %}

{% block content %}
<script>
</script>
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">Add/Edit a generator
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.name.label_tag }}<br>
                        {{ form.name.errors }}<br>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.manufacturer.label_tag }}<br>
                        {{ form.manufacturer.errors }}<br>
                        {% render_field form.manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.compatible_to.label_tag }}<br>
                        {{ form.compatible_to.errors }}<br>
                        {% render_field form.compatible_to class="form-control" %}
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.weight_t.label_tag }}<br>
                        {{ form.weight_t.errors }}<br>
                        {% render_field form.weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.generator_type.label_tag }}<br>
                        {{ form.generator_type.errors }}<br>
                        {% render_field form.generator_type class="form-control" %}
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.voltage.label_tag }}<br>
                        {{ form.voltage.errors }}<br>
                        {% render_field form.voltage class="form-control" %}
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.rpm.label_tag }}<br>
                        {{ form.rpm.errors }}<br>
                        {% render_field form.rpm class="form-control" %}
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}