{% extends "polls/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Wind Turbine Components
{% endblock %}

{% block content %}
{{ gearboxfilter.form.media }}
{{ generatorfilter.form.media }}
{{ towerfilter.form.media }}
<div class="container">
    <h1 class="page-header">Components</h1>
</div>
<div class="container">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #333;">
      <li style="float: left"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" class="active" href="#gearbox">Gearbox</a></li>
      <li style="float: left"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="#generator">Generator</a></li>
      <li style="float: left"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" href="#tower">Tower</a></li>
    </ul>
</div>
<div class="container" id="gearbox">
    <h2>Gearboxes</h2>
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
            <a class="btn btn-primary pull-right" href="{% url "components:new_gearbox" %}"><i class="fa fa-plus"></i> Add Gearbox</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ gearboxfilter.form.manufacturer.label_tag }}<br>
                        {% render_field gearboxfilter.form.manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ gearboxfilter.form.name.label_tag }}<br>
                        {% render_field gearboxfilter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ gearboxfilter.form.compatible_to.label_tag }}<br>
                        {% render_field gearboxfilter.form.compatible_to class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ gearboxfilter.form.weight_t.label_tag }}<br>
                        {% render_field gearboxfilter.form.weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ gearboxfilter.form.stages.label_tag }}<br>
                        {% render_field gearboxfilter.form.stages class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                    <i class="fa fa-search"></i> Search
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ gearboxfilter.qs.count }} Gearboxes</p>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
    {% for gearbox in gearboxfilter.qs %}
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4 thumbnail">
        <a href="{{ gearbox.get_absolute_url }}">
            {% if component.image.all %}
                {% if component.image.all.0.available = True %}
                    <img src="{{ component.image.all.0.file.url }}" alt="">
                {% else %}
                    <img src="{% static "img/no_image.png" %}" alt="">
                {% endif %}
            {% else %}
                <img src="{% static "img/no_image.png" %}" alt="">
            {% endif %}
            <div class="description">
                <p class="description_content">{{ gearbox.manufacturer }} {{ gearbox.name }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>

<div class="container" id="generator">
    <h2>Generators</h2>
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
            <a class="btn btn-primary pull-right" href="{% url "components:new_generator" %}"><i class="fa fa-plus"></i> Add Generator</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ generatorfilter.form.manufacturer.label_tag }}<br>
                        {% render_field generatorfilter.form.manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ generatorfilter.form.name.label_tag }}<br>
                        {% render_field generatorfilter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ generatorfilter.form.compatible_to.label_tag }}<br>
                        {% render_field generatorfilter.form.compatible_to class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ generatorfilter.form.weight_t.label_tag }}<br>
                        {% render_field generatorfilter.form.weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ generatorfilter.form.stages.label_tag }}<br>
                        {% render_field generatorfilter.form.stages class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                    <i class="fa fa-search"></i> Search
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ generatorfilter.qs.count }} Generators</p>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
    {% for generator in generatorfitler.qs %}
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4 thumbnail">
        <a href="{{ generator.get_absolute_url }}">
            {% if component.image.all %}
                {% if component.image.all.0.available = True %}
                    <img src="{{ component.image.all.0.file.url }}" alt="">
                {% else %}
                    <img src="{% static "img/no_image.png" %}" alt="">
                {% endif %}
            {% else %}
                <img src="{% static "img/no_image.png" %}" alt="">
            {% endif %}
            <div class="description">
                <p class="description_content">{{ generator.manufacturer }} {{ generator.name }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>

<div class="container" id="tower">
    <h2>Towers</h2>
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
            <a class="btn btn-primary pull-right" href="{% url "components:new_tower" %}"><i class="fa fa-plus"></i> Add Tower</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ towerfilter.form.manufacturer.label_tag }}<br>
                        {% render_field towerfilter.form.manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ towerfilter.form.name.label_tag }}<br>
                        {% render_field towerfilter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ towerfilter.form.compatible_to.label_tag }}<br>
                        {% render_field towerfilter.form.compatible_to class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ towerfilter.form.weight_t.label_tag }}<br>
                        {% render_field towerfilter.form.weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ towerfilter.form.stages.label_tag }}<br>
                        {% render_field towerfilter.form.stages class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                    <i class="fa fa-search"></i> Search
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ towerfilter.qs.count }} Towers</p>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
    {% for tower in towerfilter.qs %}
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4 thumbnail">
        <a href="{{ tower.get_absolute_url }}">
            {% if component.image.all %}
                {% if component.image.all.0.available = True %}
                    <img src="{{ component.image.all.0.file.url }}" alt="">
                {% else %}
                    <img src="{% static "img/no_image.png" %}" alt="">
                {% endif %}
            {% else %}
                <img src="{% static "img/no_image.png" %}" alt="">
            {% endif %}
            <div class="description">
                <p class="description_content">{{ tower.manufacturer }} {{ tower.name }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>

{% endblock %}