{% extends "polls/base.html" %}
{% load static %}
{% load widget_tweaks %}

{% block title %}
    Wind Turbine Components
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container">
    <h1 class="page-header">Components</h1>
</div>
<div class="container">
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
            <a class="btn btn-primary pull-right" href="{% url "components:new_component" %}"><i class="fa fa-plus"></i> Add Component</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.component_type.label_tag }}<br>
                        {% render_field filter.form.component_type class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.manufacturer.label_tag }}<br>
                        {% render_field filter.form.manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.name.label_tag }}<br>
                        {% render_field filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.compatible_to.label_tag }}<br>
                        {% render_field filter.form.compatible_to class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.weight_t.label_tag }}<br>
                        {% render_field filter.form.weight_t class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                    <i class="fa fa-search"></i> Search
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ filter.qs.count }} Components</p>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
    {% for component in filter.qs %}
    <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4 thumbnail">
        <a href="{{ component.get_absolute_url }}">
            <img src="{% if component.image %}{{ component.image.url }}{% else %}{% static "img/no_image.png" %}{% endif %}"alt="">
            <div class="description">
                <p class="description_content">{{ component.manufacturer }} {{ component.name }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
    </div>
</div>
{% endblock %}