{% extends "polls/base.html" %}
{% load static %}
{% load mathfilters %}

{% block title %}
    {{ player.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:1rem;">
        <div class="col-12">
            <h1>{{ player.name }}
                {% if perms.player.change_player %}
                <span>
                    <a class="btn btn-primary btn-sm pull-right" href="{% url "player:player_edit" player.id  %}"><i class="fa fa-edit"></i> Edit</a>
                </span>
                {% endif %}
            </h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-lg-12">
        <table class="table" style="table-layout:fixed">
            <tr>
                <th colspan="7">General</th>
            </tr>
            {% if player.adress or player.postal_code or player.city or player.country %}
            <tr>
                <th>Address</th>
                <td colspan="6">
                    {% if player.adress %}
                        {{ player.adress }} ,
                    {% else %}

                    {% endif %}
                    {% if player.postal_code %}
                        {{ player.postal_code }}
                    {% else %}

                    {% endif %}
                    {% if player.city %}
                        {{ player.city }} ,
                    {% else %}

                    {% endif %}
                    {% if player.country %}
                        {{ player.country }}
                    {% else %}

                    {% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                {% if player.mail %}
                    <th>Mail</th>
                    <td {% if player.web %}colspan="2"{% else %}colspan="6"{% endif %}>{{ player.mail }}</td>
                {% endif %}
                {% if player.web %}
                    <th>Web</th>
                    <td {% if player.mail %}colspan="3"{% else %}colspan="6"{% endif %}><a href="{{ player.web }}">{{ player.web }}</a></td>
                {% endif %}
            </tr>
            <tr>
                {% if player.phone %}
                    <th>Phone</th>
                    <td {% if player.customer_code %}colspan="2"{% else %}colspan="6"{% endif %}>{{ player.phone }}</td>
                {% endif %}
                {% if player.customer_code %}
                    <th>Customer Code</th>
                    <td {% if player.phone %}colspan="3"{% else %}colspan="6"{% endif %}>{{ player.customer_code }}</td>
                {% endif %}
            </tr>
            {% if player.sector or player.developed_turbines.count > 0 or player.com_operated_turbines.count > 0 or player.tec_operated_turbines.count > 0 or player.serviced_turbines.count > 0 or player.owned_turbines.count > 0 %}
            <tr>
                <th colspan="7">Role</th>
            </tr>
            {% if player.sector.all.count > 0 %}
            <tr>
                {% for s in player.sector.all %}
                {% with modulus=forloop.counter|mod:8 %}
                    <td {% if forloop.last %} colspan="{{ 8|sub:modulus }}" {% endif %}>{{ s.name }}</td>
                {% endwith %}
                {% endfor %}
            </tr>
            {% endif %}
            {% endif %}
            {% if developed_turbines %}
            <tr class="table-row-header">
                <th colspan="7">{{ amount_developed_turbines }} developed turbines <i class="fa fa-plus pull-right"></i></th>
                {% for model, wtgs in developed_turbines.items %}
                    <tr class="collapse-row">
                        <td style="font-weight: bold;">{{ model }}</td>
                        {% for wtg in wtgs %}
                            {% if forloop.counter0|divisibleby:7 %}
                                <tr class="collapse-row">
                            {% endif %}
                                <td><a href="{{ wtg.link }}">{{ wtg.turbine_id }}</a></td>
                            {% if forloop.counter|divisibleby:7 or forloop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
            {% endif %}
            {% if asset_managed_turbines %}
            <tr class="table-row-header">
                <th colspan="7">Asset Management for {{ amount_asset_managed_turbines }} turbines<i class="fa fa-plus pull-right"></i></th>
                {% for model, wtgs in asset_managed_turbines.items %}
                    <tr class="collapse-row">
                        <td style="font-weight: bold;">{{ model }}</td>
                        {% for wtg in wtgs %}
                            {% if forloop.counter0|divisibleby:7 %}
                                <tr class="collapse-row">
                            {% endif %}
                                <td><a href="{{ wtg.link }}">{{ wtg.turbine_id }}</a></td>
                            {% if forloop.counter|divisibleby:7 or forloop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
            {% endif %}
            {% if com_operated_turbines %}
            <tr class="table-row-header">
                <th colspan="7">Comercial operator for {{ amount_com_operated_turbines }} turbines<i class="fa fa-plus pull-right"></i></th>
                {% for model, wtgs in com_operated_turbines.items %}
                    <tr class="collapse-row">
                        <td style="font-weight: bold;">{{ model }}</td>
                        {% for wtg in wtgs %}
                            {% if forloop.counter0|divisibleby:7 %}
                                <tr class="collapse-row">
                            {% endif %}
                                <td><a href="{{ wtg.link }}">{{ wtg.turbine_id }}</a></td>
                            {% if forloop.counter|divisibleby:7 or forloop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
            {% endif %}
            {% if tec_operated_turbines %}
            <tr class="table-row-header">
                <th colspan="7">Technical operator for {{ amount_tec_operated_turbines }} turbines<i class="fa fa-plus pull-right"></i></th>
                {% for model, wtgs in tec_operated_turbines.items %}
                    <tr class="collapse-row">
                        <td style="font-weight: bold;">{{ model }}</td>
                        {% for wtg in wtgs %}
                            {% if forloop.counter0|divisibleby:7 %}
                                <tr class="collapse-row">
                            {% endif %}
                                <td><a href="{{ wtg.link }}">{{ wtg.turbine_id }}</a></td>
                            {% if forloop.counter|divisibleby:7 or forloop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
            {% endif %}
            {% if owned_turbines %}
            <tr class="table-row-header">
                <th colspan="7">Owner of {{ amount_owned_turbines }} turbines<i class="fa fa-plus pull-right"></i></th>
                {% for model, wtgs in owned_turbines.items %}
                    <tr class="collapse-row">
                        <td style="font-weight: bold;">{{ model }}</td>
                        {% for wtg in wtgs %}
                            {% if forloop.counter0|divisibleby:7 %}
                                <tr class="collapse-row">
                            {% endif %}
                                <td><a href="{{ wtg.link }}">{{ wtg.turbine_id }}</a></td>
                            {% if forloop.counter|divisibleby:7 or forloop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
            {% endif %}
            {% if serviced_turbines %}
            <tr class="table-row-header">
                <th colspan="7">Service provider for {{ amount_serviced_turbines }} turbines<i class="fa fa-plus pull-right"></i></th>
                {% for model, wtgs in serviced_turbines.items %}
                    <tr class="collapse-row">
                        <td style="font-weight: bold;">{{ model }}</td>
                        {% for wtg in wtgs %}
                            {% if forloop.counter0|divisibleby:7 %}
                                <tr class="collapse-row">
                            {% endif %}
                                <td><a href="{{ wtg.link }}">{{ wtg.turbine_id }}</a></td>
                            {% if forloop.counter|divisibleby:7 or forloop.last %}
                                </tr>
                            {% endif %}
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tr>
            {% endif %}
            {% if perms.player.add_person %}
            <tr class="table-row-header">
                <th colspan="7"><a class="btn btn-sm btn-primary pull-right" href="{% url "player:new_person" id=player.id slug=player.slug %}"><i class="fa fa-plus"></i> Add Employee</a></th>
            </tr>
            {% endif %}
            {% if player.relatedPersons.all %}
            <tr>
                <th colspan="7">Employees</th>
            </tr>
            {% for p in player.relatedPersons.all %}
            <tr>
                <td colspan="2"><a href="{{ p.get_absolute_url }}">{{ p.name }}</a></td>
                {% if p.function %}
                <td>{{ p.function }}</td>
                {% else %}
                <td></td>
                {% endif %}
                {% if p.mail %}
                <td colspan="2">{{ p.mail }}</td>
                {% else %}
                <td colspan="2"></td>
                {% endif %}
                {% if p.phone %}
                <td>{{ p.phone }}</td>
                {% else %}
                <td></td>
                {% endif %}
                <td>{% if perms.player.change_person %}<a href="{% url "player:edit_person" pk=p.id %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
            </tr>
            {% endfor %}
            {% endif %}
            {% if player.relProjects %}
              <tr>
                  <th colspan="7">Direct Projects</th>
              </tr>
              <tr>
                  <th colspan="3">Project</th>
                  <th colspan="2">Status</th>
                  <th colspan="2">Sales Manager</th>
              </tr>
              {% for p in player.relProjects %}
              <tr>
                  <td colspan="3"><a href="{{ p.get_absolute_url }}">{{ p }}</a></td>
                  <td colspan="2">{{ p.status }}</td>
                  <td colspan="2">{{ p.sales_manager }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            {% if player.related_indirect_projects %}
              <tr>
                  <th colspan="7">Related Projects</th>
              </tr>
              <tr>
                  <th colspan="3">Project</th>
                  <th colspan="2">Status</th>
                  <th colspan="2">Sales Manager</th>
              </tr>
              {% for p in player.related_indirect_projects %}
              <tr>
                  <td colspan="3"><a href="{{ p.get_absolute_url }}">{{ p }}</a></td>
                  <td colspan="2">{{ p.status }}</td>
                  <td colspan="2">{{ p.sales_manager }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            {% if player.relPoolProjects %}
              <tr>
                  <th colspan="7">Related Pool Projects</th>
              </tr>
              <tr>
                  <th colspan="4">Project</th>
                  <th colspan="3">Sales Manager</th>
              </tr>
              {% for p in player.relPoolProjects %}
              <tr>
                  <td colspan="4"><a href="{{ p.get_absolute_url }}">{{ p }}</a></td>
                  <td colspan="3">{{ p.sales_manager }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            {% if player.relContracts %}
              <tr>
                  <th colspan="7">Direct Contracts</th>
              </tr>
              <tr>
                  <th colspan="3">Wind Farm</th>
                  <th colspan="2">Commencement Date</th>
                  <th colspan="2">End Date</th>
              </tr>
              {% for c in player.relContracts %}
              <tr>
                  <td colspan="3">{% for wf, link in c.contracted_windfarm.items %}<a href="{{ link }}">{{ wf }} </a>{% endfor %}</td>
                  <td colspan="2">{{ c.start_date }}</td>
                  <td colspan="2">{{ c.end_date }}</td>
              </tr>
              {% endfor %}
            {% endif %}
            {% if player.related_indirect_contracts %}
              <tr>
                  <th colspan="2">Related Contracts</th>
                  <td colspan="5" style="font: normal 10px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif; color:grey;">Actor is not the direct contractual partner, but is either asset manager, technical operator, commercial operator or owner of a turbine which is part of the contract.</td>
              </tr>
              <tr>
              <tr>
                  <th colspan="3">Wind Farm</th>
                  <th colspan="2">Commencement Date</th>
                  <th colspan="2">End Date</th>
              </tr>
              {% for c in player.related_indirect_contracts %}
                <tr>
                    <td colspan="3">{% for wf, link in c.contracted_windfarm.items %}<a href="{{ link }}">{{ wf }} </a>{% endfor %}</td>
                    <td colspan="2">{{ c.start_date }}</td>
                    <td colspan="2">{{ c.end_date }}</td>
                </tr>
              {% endfor %}
            {% endif %}
            {% if perms.player.add_file %}
            <tr>
                <th colspan="7"><a class="btn btn-sm btn-primary pull-right" href="{% url "player:new_file" player_id=player.pk %}"><i class="fa fa-plus"></i> Add File</a></th>
            </tr>
            {% endif %}
            {% if files.all|length > 0 %}
            <tr>
                <th scope="col" colspan="7">Files</th>
            </tr>
            {% for c in files.all %}
            <tr>
                <td colspan="3">{{ c.created }} by {{ c.created_by }}</td>
                <td colspan="3">{{ c.name }}</td>
                <td>
                    <table style="border-collapse: collapse; border:none;" class="pull-right">
                        <tr style="border:none;">
                            <td style="border:none;"><a href="/media/{{ c.file }}"><i class="fa fa-file pull-right"></a></td>
                            <td style="border:none;">{% if perms.player.add_file %}<a href="{% url "player:edit_file" pk=c.pk player_id=player.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                        </tr>
                    </table>
                </td>
            </tr>
            {% endfor %}
            {% endif %}
            {% if perms.player.comment_on_person %}
            <tr>
                <th colspan="7"><a class="btn btn-sm btn-primary pull-right" href="{% url "player:new_comment" model='player' id=player.pk %}"><i class="fa fa-plus"></i> Add Comment</a></th>
            </tr>
            {% endif %}
            {% if player.all_comments|length > 0 %}
            <tr>
                <th colspan="7">Comments</th>
            </tr>
            {% for c in player.all_comments %}
            <tr>
                <td colspan="2">{{ c.created }} by {{ c.created_by }}</td>
                <td colspan="4">{{ c.text }}</td>
                {% if c.file %}
                <td>
                    <table style="border-collapse: collapse; border:none;" class="pull-right">
                        <tr style="border:none;">
                            <td style="border:none;"><a href="/media/{{ c.file }}"><i class="fa fa-file pull-right"></a></td>
                            <td style="border:none;">{% if perms.player.comment_on_person %}<a href="{% url "player:edit_comment" model='player' pk=c.pk id=player.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                        </tr>
                    </table>
                </td>
                {% else %}
                    <td colspan="2">{% if perms.player.comment_on_person %}<a href="{% url "player:edit_comment" model='player' pk=c.pk id=player.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            <tr class="table-row-header">
                <th colspan="7">Change history <i class="fa fa-plus pull-right"></i></th>
            </tr>
            {% for ch in player.comment.all %}
            <tr class="collapse-row">
                <td>{{ ch.created }}</td>
                <td colspan="2">by {{ ch.created_by }}</td>
                <td colspan="4">{{ ch.text }}</td>
            </tr>
            {% endfor %}
            <tr class="table-row-header"></tr>
        </table>
    </div>
</div>

<script type="text/javascript">
$('.table-row-header').click(function(){
    $(this).nextUntil('.table-row-header').css('display', function(i,v){
        return this.style.display === 'table-row' ? 'none' : 'table-row';
    });
});
</script>
{% endblock %}