{% extends "polls/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Add" %} {% trans "new" %} {% trans "Wind Industry" %} {% trans "Actor" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container-fluid">
    {% if messages %}
        <ul style="background-color:#ccffb3">
            {% for message in messages %}
            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
        <h1>{% trans "Add/Edit" %} {% trans "Wind Industry" %} {% trans "Actor" %}</h1>
        <div class="row">
            <div class="col-12 col-md-6">
                <span>
                    {{ form.name.label_tag }}
                    {% render_field form.name class="placeholder-right" %}
                    <p class="help-text">{{ form.name.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-md-6">
                <span>
                    {{ form.adress.label_tag }}
                    {% render_field form.adress class="placeholder-right" %}
                    <p class="help-text">{{ form.adress.help_text }}</p>
                </span>
            </div>
            <div class="col-12">
                <ul id="similar_names"></ul>
            </div>
            <div class="col-12 col-sm-6 col-md-3">
                <span>
                    {{ form.postal_code.label_tag }}
                    {% render_field form.postal_code class="placeholder-right" %}
                    <p class="help-text">{{ form.postal_code.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-5">
                <span>
                    {{ form.city.label_tag }}
                    {% render_field form.city class="placeholder-right" %}
                    <p class="help-text">{{ form.city.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-4"></div>
            <div class="col-12 col-sm-6 col-md-4">
                <span>
                    {{ form.phone.label_tag }}
                    {% render_field form.phone class="placeholder-right" %}
                    <p class="help-text">{{ form.phone.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <span>
                    {{ form.mail.label_tag }}
                    {% render_field form.mail class="placeholder-right" %}
                    <p class="help-text">{{ form.mail.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <span>
                    {{ form.web.label_tag }}
                    {% render_field form.web class="placeholder-right" %}
                    <p class="help-text">{{ form.web.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <span>
                    {{ form.country.label_tag }}
                    <div class="autocomplete-input-with-border-next-to-select">
                      {% render_field form.country class="placeholder-right" %}
                    </div>
                    <p class="help-text">{{ form.country.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <span>
                    {{ form.sector.label_tag }}
                    <div class="select-with-border">
                        {% render_field form.sector class="placeholder-right" %}
                    </div>
                    <p class="help-text">{{ form.sector.help_text }}</p>
                </span>
            </div>
            <div class="col-12 col-sm-6 col-md-4">
                <span>
                    {{ form.head_organisation.label_tag }}
                    <div class="autocomplete-input-with-border-next-to-select">
                        {% render_field form.head_organisation class="placeholder-right" %}
                    </div>
                    <p class="help-text">{{ form.head_organisation.help_text }}</p>
                </span>
            </div>
        </div>
        <div class="text-right">
            <input type="submit" id="submit" value="&#xf0da" class="font-awesome">
        </div>
    </form>
</div>
{% endblock %}
{% block javascript %}
<script type="text/javascript">
    $("#actor-name").change(function () {
      var actor_name = $(this).val();
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();
      var view_name = "{{ request.resolver_match.view_name }}";

      $.ajax({
        url: '{% url "player:validate_actor_name" %}',
        type: 'POST',
        data: {
          'actor_name': actor_name,
          'csrfmiddlewaretoken': csrf,
          'view_name': view_name
        },
        dataType: 'json',
        success: function (data) {
          if (data.view_name === 'player:new_player') {
              if (data.similar_actors.length <= 5) {
                    $('#similar_names').html("");
                    data.similar_actors.forEach(function (actor) {$('#similar_names').prepend("<li>"+actor.name+"</li>")});
                    $('#similar_names').prepend("<p>Similar Actors already in database:</p>");
                  } else {
                    $('#similar_names').html("");
                    $('#similar_names').prepend("<li>"+data.similar_actors.length+" similar actors</li>");
                    $('#similar_names').prepend("<p>Similar Actors already in database:</p>");
                  }
                  if (data.similar_actors.length === 0) {
                    $('#similar_names').html("");
                  }
                  if (data.is_taken) {
                    alert("An actor with exactly this name already exists.");
                  }
            }
        }
      });
    });
  </script>
  <script type="text/javascript">
        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        var selects = document.querySelectorAll('select');
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.required ){
            var label = inputEl.parentElement.querySelector( 'label' );
            label.innerHTML = label.innerHTML + " * ";
          }
          if( inputEl.value.trim() !== '' ) {
          	inputEl.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }
        for (i =0; i < selects.length; i ++) {
            var selectEl = selects[i];
            if( selectEl.required ){
                var label = selectEl.parentElement.parentElement.querySelector( 'label' );
                label.innerHTML = label.innerHTML + " * ";
            }
            if( selectEl.value.trim() !== '' ) {
                selectEl.parentNode.classList.add( 'inputs--filled' );
            }
            selectEl.addEventListener( 'focus', onFocus );
            selectEl.addEventListener( 'blur', onBlur );
        }

        function onFocus( ev ) {
            ev.target.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.classList.remove( 'inputs--filled' );
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          } if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.classList.add( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
            ev.target.addEventListener( 'select', liveValidation );
          } else if ( ev.target.checkValidity() == true ) {
            ev.target.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
            ev.target.addEventListener( 'select', liveValidation );
          }
        }

        function liveValidation( ev ) {
          if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.classList.add( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
          } else {
            ev.target.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
          }
        }

        var submitBtn = document.querySelector( 'input[type=submit]' );
        submitBtn.addEventListener( 'click', onSubmit );

        function onSubmit( ev ) {
          var inputsWrappers = ev.target.parentNode.querySelectorAll( 'span' );
          for (i = 0; i < inputsWrappers.length; i ++) {
            input = inputsWrappers[i].querySelector( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel], input[type=file], select' );
            if ( input.checkValidity() == false ) {
              inputsWrappers[i].classList.add( 'inputs--invalid' );
            } else if ( input.checkValidity() == true ) {
              inputsWrappers[i].classList.remove( 'inputs--invalid' );
            }
            if ( input.type == 'tel' ){
                if( input.value === '' && !input.required){
                    inputsWrappers[i].classList.remove( 'inputs--invalid' );
                }else if (!input.value.match(/^\+?1?\d{1,2}[\W\d]+(\d{1,2})$/)){
                    inputsWrappers[i].classList.add( 'inputs--invalid' );
                    ev.preventDefault()
                }else{
                    inputsWrappers[i].classList.remove( 'inputs--invalid' );
                }
            }
          }
        }
    </script>
{% endblock %}
