{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Add" %} {% trans "new" %} {% trans "Wind Industry" %} {% trans "Actor" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">{% trans "Add/Edit" %} {% trans "Wind Industry" %} {% trans "Actor" %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {{ form.name.label_tag }}<br>
                        <p class="required">{{ form.name.errors.as_text }}</p>
                        {% render_field form.name class="form-control" %}
                        <p class="help-text">{{ form.name.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-12 col-xs-12">
                        {{ form.adress.label_tag }}<br>
                        <p class="required">{{ form.adress.errors.as_text }}</p>
                        {% render_field form.adress class="form-control" %}
                        <p class="help-text">{{ form.adress.help_text }}</p>
                    </div>
                    <div class="col-12">
                        <ul id="similar_names"></ul>
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        {{ form.postal_code.label_tag }}<br>
                        <p class="required">{{ form.postal_code.errors.as_text }}</p>
                        {% render_field form.postal_code class="form-control" %}
                        <p class="help-text">{{ form.postal_code.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-5 col-md-5 col-sm-6 col-xs-12">
                        {{ form.city.label_tag }}<br>
                        <p class="required">{{ form.city.errors.as_text }}</p>
                        {% render_field form.city class="form-control" %}
                        <p class="help-text">{{ form.city.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.country.label_tag }}<br>
                        <p class="required">{{ form.country.errors.as_text }}</p>
                        {% render_field form.country class="form-control" %}
                        <p class="help-text">{{ form.country.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.phone.label_tag }}<br>
                        <p class="required">{{ form.phone.errors.as_text }}</p>
                        {% render_field form.phone class="form-control" %}
                        <p class="help-text">{{ form.phone.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.mail.label_tag }}<br>
                        <p class="required">{{ form.mail.errors.as_text }}</p>
                        {% render_field form.mail class="form-control" %}
                        <p class="help-text">{{ form.mail.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.web.label_tag }}<br>
                        <p class="required">{{ form.web.errors.as_text }}</p>
                        {% render_field form.web class="form-control" %}
                        <p class="help-text">{{ form.web.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.sector.label_tag }}<br>
                        <p class="required">{{ form.sector.errors.as_text }}</p>
                        {% render_field form.sector class="form-control" %}
                        <p class="help-text">{{ form.sector.help_text }}</p>
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.head_organisation.label_tag }}<br>
                        <p class="required">{{ form.head_organisation.errors.as_text }}</p>
                        {% render_field form.head_organisation class="form-control" %}
                        <p class="help-text">{{ form.head_organisation.help_text }}</p>
                    </div>
                    <!--<div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.customer_code.label_tag }}<br>
                        <p class="required">{{ form.customer_code.errors.as_text }}</p>
                        {% render_field form.customer_code class="form-control" %}
                        <p class="help-text">{{ form.customer_code.help_text }}</p>
                    </div>-->
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> {% trans "Submit" %}
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#actor-name").change(function () {
      var actor_name = $(this).val();
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();
      var view_name = "{{ request.resolver_match.view_name }}";

      $.ajax({
        url: '{% url "player:validate_actor_name" %}',
        type: 'POST',
        data: {
          'actor_name': actor_name,
          'csrfmiddlewaretoken': csrf,
          'view_name': view_name
        },
        dataType: 'json',
        success: function (data) {
          if (data.view_name === 'player:new_player') {
              if (data.similar_actors.length <= 5) {
                    $('#similar_names').html("");
                    data.similar_actors.forEach(function (actor) {$('#similar_names').prepend("<li>"+actor.name+"</li>")});
                    $('#similar_names').prepend("<p>Similar Actors already in database:</p>");
                  } else {
                    $('#similar_names').html("");
                    $('#similar_names').prepend("<li>"+data.similar_actors.length+" similar actors</li>");
                    $('#similar_names').prepend("<p>Similar Actors already in database:</p>");
                  }
                  if (data.similar_actors.length === 0) {
                    $('#similar_names').html("");
                  }
                  if (data.is_taken) {
                    alert("An actor with exactly this name already exists.");
                  }
            }
        }
      });
    });
  </script>
{% endblock %}
