{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add new Wind Industry Actor
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">Add a new wind energy actor
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        {{ form.name.label_tag }}<br>
                        {{ form.name.errors }}<br>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.adress.label_tag }}<br>
                        {{ form.adress.errors }}<br>
                        {% render_field form.adress class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-4 col-xs-12">
                        {{ form.postal_code.label_tag }}<br>
                        {{ form.postal_code.errors }}<br>
                        {% render_field form.postal_code class="form-control" %}
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-12">
                        {{ form.city.label_tag }}<br>
                        {{ form.city.errors }}<br>
                        {% render_field form.city class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.country.label_tag }}<br>
                        {{ form.country.errors }}<br>
                        {% render_field form.country class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.phone.label_tag }}<br>
                        {{ form.phone.errors }}<br>
                        {% render_field form.phone class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.mail.label_tag }}<br>
                        {{ form.mail.errors }}<br>
                        {% render_field form.mail class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                        {{ form.web.label_tag }}<br>
                        {{ form.web.errors }}<br>
                        {% render_field form.web class="form-control" %}
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{ form.sector.label_tag }}<br>
                        {{ form.sector.errors }}<br>
                        {% for value, text in form.sector.field.choices %}
                            <label><input id="id_sector_{{ forloop.counter0 }}" name="{{ form.sector.name }}" type="checkbox" value="{{ value }}" />  {{ text }}</label>
                        <!--{% render_field form.sector class="form-control" %}-->
                        {% endfor %}
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}