{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Wind Industy Actors
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container">
    <h1 class="page-header">Wind Energy Actors</h1>
</div>
<div class="container">
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
            {% if perms.projects.has_sales_status %}
            <a class="btn btn-primary pull-right" href="{% url "player:new_player" %}"><i class="fa fa-plus"></i> Add actor</a>
            {% endif %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ filter.form.name.label_tag }}<br>
                        {% render_field filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ filter.form.country.label_tag }}<br>
                        {% render_field filter.form.country class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ filter.form.city.label_tag }}<br>
                        {% render_field filter.form.city class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ filter.form.sector.label_tag }}<br>
                        {% render_field filter.form.sector class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ filter.form.dwt_customer.label_tag }}<br>
                        {% render_field filter.form.dwt_customer class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                <i class="fa fa-search"></i> Search
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ filter.qs.count }} Actors</p>
            </div>
        </div>
    </form>
</div>
<div class="container">
    {% render_table table %}
</div>
{% endblock %}