{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Wind Industy Actors
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-12">
        <h1 class="page-header">Wind Energy Actors</h1>
    </div>
</div>
<div class="col-lg-12">
    <form action="" method="get">
            <div class="well">
                <h4 style="margin-top: 0">Filter</h4>
                <div class="row">
                    <div class="form-group col-lg-2">
                        {{ filter.form.name.label_tag }}
                        {% render_field filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2">
                        {{ filter.form.country.label_tag }}
                        {% render_field filter.form.country class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2">
                        {{ filter.form.city.label_tag }}
                        {% render_field filter.form.city class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2">
                        {{ filter.form.sector.label_tag }}
                        {% render_field filter.form.sector class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-search"></span> Search
                </button>
                <b style="font-family:verdana;">{{ filter.qs.count }} Player</b>
                <a class="btn btn-primary pull-right glyphicon glyphicon-plus" href="{% url "player:new_player" %}" style="font-family:verdana;"> Add new player</a>
            </div>
        </form>
</div>
<div class="col-lg-12">
    {% render_table table %}
</div>
{% endblock %}