{% extends "polls/base.html" %}
{% load static %}

{% block title %}
    {{ wec_typ.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h1>{{ wec_typ.manufacturer }}</h1>
        <h2>{{ wec_typ.name }}</h2>
        <a class="btn btn-primary pull-right" href="{% url "polls:new_image" wec_typ_id=wec_typ.pk %}"><i class="fa fa-plus"></i> Add Image</a>
        <a class="btn btn-primary pull-right" href="{% url "polls:wec_typ_edit" wec_typ.id  %}" style="margin-right:2px"><i class="fa fa-edit"></i> Suggest changes</a>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for i in wec_typ.image.all %}
                {% if i.available = True %}
                {% if forloop.counter0 = 0 %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}" class="active"></li>
                {% else %}
                    <li data-target="#myCarousel" data-slide-to="{{ forloop.counter0 }}"></li>
                {% endif %}
                {% endif %}
                {% endfor %}
            </ol>
            <div class="carousel-inner" role="listbox">
                {% for i in wec_typ.image.all %}
                {% if i.available = True %}
                {% if forloop.counter0 = 0 %}
                    <div class="carousel-item active">
                {% else %}
                    <div class="carousel-item">
                {% endif %}
                    <img class="d-block img-fluid" src="{{ i.file.url }}" style="width: 100%; height:auto; margin-bottom:10px" alt="image {{ forloop.counter0 }}">
                    <div class="bottom-right">Source: {{ i.source }}</div>
                    </div>
                {% endif %}
                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        {% if wec_typ.image.all.available = True %}<p>All images are published under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License</a>.</p>{% endif %}
        {% if wec_typ.power_curve %}<div id="power_curve" style="width:122%; margin-left:-84px">{{ chart.as_html }}</div>{% endif %}
    </div>
    <div class="col-lg-6 col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <table class="table">
            <colgroup> <col width="80"> <col width="100"> </colgroup>
            <tr>
                <th colspan="2">General</th>
            </tr>
            {% if wec_typ.output_power %}<tr>
                <td>Output power</td>
                <td>{{ wec_typ.output_power }} kW</td>
            </tr>{% endif %}
            {% if wec_typ.nr_blades %}<tr>
                <td>Amount of blades</td>
                <td>{{ wec_typ.nr_blades }}</td>
            </tr>{% endif %}
            {% if wec_typ.rotor_diameter %}<tr>
                <td>Rotor Diameter</td>
                <td>{{ wec_typ.rotor_diameter }} m</td>
            </tr>{% endif %}
            {% if wec_typ.swept_area %}<tr>
                <td>Swept Area</td>
                <td>{{ wec_typ.swept_area }} m²</td>
            </tr>{% endif %}
            {% if wec_typ.power_density %}<tr>
                <td>Power Density</td>
                <td>{{ wec_typ.power_density }} kW/m²</td>
            </tr>{% endif %}
            {% if wec_typ.wind_class %}<tr>
                <td>Wind Class</td>
                <td>{{ wec_typ.wind_class }}</td>
            </tr>{% endif %}
            {% if wec_typ.year %}<tr>
                <td>First Installation</td>
                <td>{{ wec_typ.year }}</td>
            </tr>{% endif %}
            <tr>
                <td>Offshore</td>
                <td>{{ wec_typ.offshore }}</td>
            </tr>
            <tr>
                <td>Regulation</td>
                <td>{{ wec_typ.reg }}</td>
            </tr>
            <tr>
                <td>Drivetrain</td>
                <td>{{ wec_typ.drive }}</td>
            </tr>
            {% if wec_typ.description %}<tr>
                <th colspan="2">Information</th>
            </tr>
            <tr>
                <td colspan="2">{{ wec_typ.description|linebreaks }}</td>
            </tr>{% endif %}
            {% if wec.typ.min_rot_speed_r_m or wec_typ.max_rot_speed_r_m or wec_typ.cut_in or wec_typ.nominal_speed or wec_typ.cut_out %}<tr>
                <th colspan="2">Technical</th>
            </tr>{% endif %}
            {% if wec_typ.min_rot_speed_r_m %}<tr>
                <td>Min. Rotational Speed</td>
                <td>{{ wec_typ.min_rot_speed_r_m }} R/m</td>
            </tr>{% endif %}
            {% if wec_typ.max_rot_speed_r_m %}<tr>
                <td>Max. Rotational Speed</td>
                <td>{{ wec_typ.max_rot_speed_r_m }} R/m</td>
            </tr>{% endif %}
            {% if wec_typ.cut_in %}<tr>
                <td>Cut-in Wind Speed</td>
                <td>{{ wec_typ.cut_in }} m/s</td>
            </tr>{% endif %}
            {% if wec_typ.nominal_speed %}<tr>
                <td>Nominal Wind Speed</td>
                <td>{{ wec_typ.nominal_speed }} m/s</td>
            </tr>{% endif %}
            {% if wec_typ.cut_out %}<tr>
                <td>Cut-out Wind Speed</td>
                <td>{{ wec_typ.cut_out }} m/s</td>
            </tr>{% endif %}
            {% if wec_typ.tot_weight_t or wec_typ.tower_weight_t or wec_typ.hub_weight_t or wec_typ.rotor_weight_t%}<tr>
                <th colspan="2">Weights</th>
            </tr>{% endif %}
            {% if wec_typ.tot_weight_t %}<tr>
                <td>Total Weight</td>
                <td>{{ wec_typ.tot_weight_t }} t</td>
            </tr>{% endif %}
            {% if wec_typ.tower_weight_t %}<tr>
                <td>Tower Weight</td>
                <td>{{ wec_typ.tower_weight_t }} t</td>
            </tr>{% endif %}
            {% if wec_typ.hub_weight_t %}<tr>
                <td>Hub Weight</td>
                <td>{{ wec_typ.hub_weight_t }} t</td>
            </tr>{% endif %}
            {% if wec_typ.rotor_weight_t %}<tr>
                <td>Rotor Weight</td>
                <td>{{ wec_typ.rotor_weight_t }} t</td>
            </tr>{% endif %}
            <tr>
                <th colspan="2">Heights</th>
            </tr>
            {% if wec_typ.min_hub_height or wec_typ.max_hub_height %}<tr>
                <td>Hub Heights</td>
                <td>{% if wec_typ.min_hub_height %}{{ wec_typ.min_hub_height }} m - {% else %} {% endif %}{% if wec_typ.max_hub_height %}{{ wec_typ.max_hub_height }} m{% else %} {% endif %}</td>
            </tr>{% endif %}
            {% if wec_typ.turbine_of_type|length > 0 %}<tr>
                <th>Turbines</th>
                <td>{{ wec_typ.turbine_of_type|length }}</td>
            </tr>
            <tr>
                <td colspan="2">{% for w in wec_typ.turbine_of_type %}<a href="{{ w.get_absolute_url }}">{{ w.turbine_id }} </a>{% endfor %}</td>
            </tr>{% endif %}
            {% if wec_typ.compatibleGearboxes|length > 0 or wec_typ.compatibleGenerators|length > 0 or wec_typ.compatibleTowers|length > 0 %}
            <tr>
                <th colspan="2">Components</th>
            </tr>
            {% endif %}
            {% if wec_typ.compatibleGearboxes|length > 0 %}
            <tr>
                <td>Gearbox</td>
                <td>{% for gearbox in wec_typ.compatibleGearboxes %}<a href="{{ gearbox.get_absolute_url }}">{{ gearbox.manufacturer }} {{ gearbox.name }}<br></a>{% endfor %}</td>
            </tr>
            {% endif %}
            {% if wec_typ.compatibleGenerators|length > 0 %}
            <tr>
                <td>Generator</td>
                <td>{% for generator in wec_typ.compatibleGenerators %}<a href="{{ generator.get_absolute_url }}">{{ generator.manufacturer }} {{ generator.name }}<br></a>{% endfor %}</td>
            </tr>
            {% endif %}
            {% if wec_typ.compatibleTowers|length > 0 %}
            <tr>
                <td>Tower</td>
                <td>{% for tower in wec_typ.compatibleTowers %}<a href="{{ tower.get_absolute_url }}">{{ tower.manufacturer }} {{ tower.name }}<br></a>{% endfor %}</td>
            </tr>
            {% endif %}
        </table>
    </div>
    </div>
</div>
{% endblock %}
