{% extends "polls/base.html" %}
{% load static %}
{% load widget_tweaks %}
{% load custom_tags %}

{% block title %}
    Wind Turbines Models
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container">
    <h1 class="page-header">Wind Turbine Models</h1>
</div>
<div class="container">
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
                <a class="btn btn-primary pull-right" href="{% url "polls:new_wec_typ" %}"><i class="fa fa-plus"></i> Add Model</a>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.manufacturer.label_tag }}<br>
                        {% render_field filter.form.manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.name.label_tag }}<br>
                        {% render_field filter.form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-4 col-md-2 col-xs-6">
                        {{ filter.form.reg.label_tag }}<br>
                        {% render_field filter.form.reg class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-4 col-md-2 col-xs-6">
                        {{ filter.form.drive.label_tag }}<br>
                        {% render_field filter.form.drive class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-md-2 col-xs-6">
                        {{ filter.form.output_power.label_tag }}<br>
                        {% render_field filter.form.output_power class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-md-2 col-xs-6">
                        {{ filter.form.rotor_diameter.label_tag }}<br>
                        {% render_field filter.form.rotor_diameter class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.year.label_tag }}<br>
                        {% render_field filter.form.year class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-4 col-md-2 col-xs-6">
                        {{ filter.form.offshore.label_tag }}<br>
                        {% render_field filter.form.offshore class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-4 col-md-2 col-xs-6">
                        {{ filter.form.nr_blades.label_tag }}<br>
                        {% render_field filter.form.nr_blades class="form-control" %}
                    </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-left">
                        <i class="fa fa-search"></i> Search
                    </button>
                    <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ filter_count }} Wind turbine models</p>
                </div>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <div class="row">
    {% for wec_typ in filter.qs.iterator %}
        <div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 thumbnail">
            <a href="{{ urls|keyvalue:wec_typ.id }}">
                <img src="{{ images|keyvalue:wec_typ.id}}" alt="">
                <div class="description">
                    <p class="description_content">{{ wec_typ.manufacturer__name }} {{ wec_typ.name }}</br>{{ amount|keyvalue:wec_typ.id }} WTG</p>
                </div>
            </a>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}