{% extends "polls/home_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}Password reset{% endblock %}
{% block content2 %}
<div class="row">
    <div class="col-0 col-md-3"></div>
    <div class="col-12 col-md-6 shape-box">
        <div class="shape" style="text-align:left;background: rgba(255, 255, 255, 0.7);color:#092F57;">
         <h3>{% trans "Password set" %}</h3>
         <p>{% trans "Your password has been set." %} {% trans "You can" %} <a href="{% url "login"%}">{% trans "log in now" %}</a></p>
        </div>
    </div>
</div>
{% endblock %}