{% extends "polls/base.html" %}
{% load static %}

{% block title %}
    {{ windfarm.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="col-lg-12">
        <h1>{{ windfarm.name }}</h1>
        <input type="button" value=" Suggest changes" onclick="location.href='mailto:s.schroedter@deutsche-windtechnik.com?subject=Suggested change: Wind Farm {{ windfarm.name }}&body=Moin,%0D%0A%0DI would like to propose the following changes:%0D%0Ahttp://s73ff3n.pythonanywhere.com{{ windfarm.get_absolute_url }}%0D%0A';" class="btn btn-primary pull-right">
    </div>
</div>
<!-- Map -->
<section id="contact" class="map">
    <iframe width="100%" height="100%" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?q={{windfarm.latitude}},{{windfarm.longitude}}&hl=es;z=14&amp;output=embed"></iframe>
    <br />
    <small>
        <a href="https://maps.google.com/maps?q={{windfarm.position.latitude}},{{windfarm.position.longitude}}&hl=es;z=14&amp;output=embed"></a>
    </small>
</section>
<div class="container">
    <div class="col-lg-12">
        <table class="table">
            <colgroup> <col width="80"> <col width="100"> </colgroup>
            <tr>
                <th colspan="3">General</th>
            </tr>
            <!--<tr>
                <td>Turbines</td>
                <td colspan="2">{% if windfarm.amount_turbines %}{{ windfarm.amount_turbines }} x {% else %}{% endif %} <a href="{{ windfarm.wec_typ.get_absolute_url }}">{{ windfarm.manufacturer }} {{ windfarm.wec_typ }}</a></td>
            </tr>-->
            {% if windfarm.turbines|length > 0 %}<tr>
                <td>IDs</td>
                <td colspan="2">{% for t in windfarm.turbines %}<a href="{{ t.get_absolute_url }}">{{ t.turbine_id }} </a>{% endfor %}</td>
            </tr>{% endif %}
            {% if windfarm.city or windfarm.country or windfarm.latitude or windfarm.longitude %}<tr>
                <td>Location</td>{% endif %}
                {% if windfarm.city or windfarm.country %}<td colspan="2">{% if windfarm.city %}{{ windfarm.city }}, {% else %}{% endif %}{% if windfarm.country %}{{ windfarm.country }}{% else %}{% endif %}</td>
            </tr>{% endif %}
            {% if windfarm.latitude or windfarm.longitude %}<tr>
                <td width="20%"></td>
                <td width="40%">latitude {% if windfarm.latitude %}{{ windfarm.latitude }}{% else %} {% endif %}</td>
                <td width="40%">longitude {% if windfarm.longitude %}{{ windfarm.longitude }}{% else %} {% endif %}</td>
            </tr>{% endif %}
            <!--{% if windfarm.hub_height %}<tr>
                <td>Hub Height</td>
                <td colspan="2">{{ windfarm.hub_height }} m</td>
            </tr>{% endif %}
            {% if windfarm.developers|length > 0 or windfarm.com_operators|length > 0 or windfarm.tec_operators|length > 0 or windfarm.owner or windfarm.service_providers|length > 0 %}<tr>
                <th colspan="3">Actors</th>
            </tr>{% endif %}
            {% if windfarm.developers|length > 0 %}<tr>
                <td>Developer</td>
                <td colspan="2">{% for dev in windfarm.developers %}<a href="{{ dev.get_absolute_url }}">{{ dev }} </a>{% endfor %}</td>
            </tr>{% endif %}
            {% if windfarm.com_operators|length > 0 %}<tr>
                <td>Commercial Operator</td>
                <td colspan="2">{% for com in windfarm.com_operators %}<a href="{{ com.get_absolute_url }}">{{ com }} </a>{% endfor %}</td>
            </tr>{% endif %}
            {% if windfarm.tec_operators|length > 0 %}<tr>
                <td>Technical Operator</td>
                <td colspan="2">{% for tec in windfarm.tec_operators %}<a href="{{ tec.get_absolute_url }}">{{ tec }} </a>{% endfor %}</td>
            </tr>{% endif %}
            {% if windfarm.owner %}<tr>
                <td>Owner</td>
                <td colspan="2"><a href="{{ windfarm.owner.get_absolute_url }}">{{ windfarm.owner }}</a></td>
            </tr>{% endif %}
            {% if windfarm.service_providers|length > 0 %}<tr>
                <td>Service Provider</td>
                <td colspan="2">{% for ser in windfarm.service_providers %}<a href="{{ ser.get_absolute_url }}">{{ ser }} </a>{% endfor %}</td>
            </tr>{% endif %}
            {% if windfarm.status or windfarm.offshore or windfarm.description %}<tr>
                <th colspan="3">Further information</th>
            </tr>{% endif %}
            {% if windfarm.status %}<tr>
                <td>Status</td>
                <td colspan="2">{{ windfarm.status }}</td>
            </tr>{% endif %}
            {% if windfarm.repowered %}<tr>
                <td>Repowered</td>
                <td colspan="2">{{ windfarm.repowered }}</td>
            </tr>{% endif %}
            {% if windfarm.follow_up_farm %}<tr>
                <td>Subsequent wind farm</td>
                <td colspan="2"><a href="{{ windfarm.follow_up_farm.get_absolute_url }}">{{ windfarm.follow_up_farm }}</a></td>
            </tr>{% endif %}
            {% if windfarm.offshore %}<tr>
                <td>Offshore</td>
                <td colspan="2">{{ windfarm.offshore }}</td>
            </tr>{% endif %}-->
            {% if windfarm.description %}<tr>
                <td>Description</td>
                <td colspan="2">{{ windfarm.description }}</td>
            </tr>{% endif %}
            <tr>
                <th colspan="2">Time line</th>
            </tr>
        </table>
    </div>
</div>
<!--<div class="container">
    <div class="top">
    <div class="top-element">Comissioning: {{ windfarm.commisioning }}</div>
    {% for c in windfarm.relContracts %}<div class="top-element">{{ c.contract_type }} {{ c.actor }}<br>from: {{c.start_date}}{% if c.end_date %} to {{c.end_date }}{% endif %}</div>{% endfor %}
    {% if windfarm.dismantling %}<div class="top-element">Dismantling: {{ windfarm.dismantling }}</div>{% endif %}
  </div>

    <div class="line"></div>

  <div class="bottom">
  </div>
</div>-->
{% endblock %}