{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Wind Farms" %}
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">{% trans "Wind Farms" %}</h1>
        </div>
        <div class="col-12">
            <form action="" method="get">
                <div class="card">
                    <div class="card-header">Filter
                        {% if perms.wind_farms.add_windfarm %}
                            <span class="btn-group pull-right">
                                <a class="btn btn-primary" href="{% url "wind_farms:csv" %}"><i class="fa fa-table"></i></a>
                                <a class="btn btn-primary" href="{% url "wind_farms:new_wind_farm" %}"><i class="fa fa-plus"></i></a>
                            </span>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-12 col-md-3">
                                <span>
                                    {{ filter.form.name.label_tag }}
                                    <div class="input-next-to-autocomplete">
                                        {% render_field filter.form.name class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-12 col-md-4">
                                <span>
                                    {{ filter.form.country.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.country class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-12 col-lg-2 col-md-4">
                                <span>
                                    {{ filter.form.offshore.label_tag }}
                                    <div class="select-next-to-autocomplete">
                                        {% render_field filter.form.offshore class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-12 col-lg-3 col-md-6">
                                <span>
                                    {{ filter.form.postal_code.label_tag }}
                                    <div class="input-next-to-select">
                                        {% render_field filter.form.postal_code class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left">
                            <i class="fa fa-search"></i>
                        </button>
                        <p class="pull-right" style="font-weight:bold">{{ filter.qs.count }} {% trans "Wind farms" %}</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12" id="list">
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        var selects = document.querySelectorAll('select');
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.value.trim() !== '' ) {
          	inputEl.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }
        for (i =0; i < selects.length; i ++) {
            var selectEl = selects[i];
            if( selectEl.value.trim() !== '' ) {
                selectEl.parentNode.classList.add( 'inputs--filled' );
            }
            selectEl.addEventListener( 'focus', onFocus );
            selectEl.addEventListener( 'blur', onBlur );
        }

        function onFocus( ev ) {
            ev.target.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.classList.remove( 'inputs--filled' );
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          }
        }
    </script>
{% endblock %}