{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add new Wind Farm
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">Add/Edit a wind farm
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.name.label_tag }}<br>
                        {{ form.name.errors }}<br>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.city.label_tag }}<br>
                        {{ form.city.errors }}<br>
                        {% render_field form.city class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.country.label_tag }}<br>
                        {{ form.country.errors }}<br>
                        {% render_field form.country class="form-control" %}
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.latitude.label_tag }}<br>
                        {{ form.latitude.errors }}<br>
                        {% render_field form.latitude class="form-control" %}
                    </div>
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.longitude.label_tag }}<br>
                        {{ form.longitude.errors }}<br>
                        {% render_field form.longitude class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.offshore.label_tag }}<br>
                        {{ form.offshore.errors }}<br>
                        {% render_field form.offshore class="form-control" %}
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{ form.description.label_tag }}<br>
                        {{ form.description.errors }}<br>
                        {% render_field form.description class="form-control" %}
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}