
/* Skin */

.modal-content {
    background: #f9f6ed;
}

.border-between > [class*='col']:before {
   background: #e3e3e3;
   bottom: 0;
   content: " ";
   left: 0;
   position: absolute;
   width: 1px;
   top: 0;
}

.border-between > [class*='col-']:first-child:before {
   display: none;
}

.btn-disabled {
    background: #f9f6ed;
    border-color: #aaaaaa;
    cursor: default;
}

.btn-disabled:hover {
    background: #f9f6ed;
    border-color: #aaaaaa;
}

.btn-disabled:visited {
    background: #f9f6ed;
    border-color: #aaaaaa;
}

.submit-like-button {
    background: #0082CA;
    border: none;
    color: #fff;
}

.submit-like-button:hover,
.submit-like-button:focus,
.submit-like-button:hover,
.submit-like-button:focus{
  background: #092F57;
  cursor: pointer;
  outline: none;
}