@font-face {
font-family: "Fedra";
src: url("../../../media/WF-026011-010477-000450.woff") format("woff");
}

body {
    padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    padding-bottom:140px;
    font-family: "Fedra", CenturyGothic, Geneva, AppleGothic, sans-serif; /* Century Gothic */
    font-size:16px;
    line-height:1.2;
}
@media (min-width: 768px) {
    body {
        padding-bottom:50px;
        font-size:65%;
    }
}
@media (min-width: 992px) {
    body {
        padding-bottom:50px;
        font-size:75%;
    }
}
h1 {
    font-size:160%;
}
h2 {
    font-size:140%;
}
h3 {
    font-size:130%;
}
h4 {
    font-size:120%;
}
h5 {
    font-size:110%;
}
/* ---------  FRONT PAGE  ----------*/
header.masthead {
    position: relative;
    overflow: auto;
    width: 100%;
    min-height: 100vh;
    background-image: url("../img//header.jpg");
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin:-70px 0 -50px 0;
    overflow-x: hidden;
}
.questionnaire-background {
    background-image: url("../../../media/Senvion_Shooting-1.jpg ") !important;
}
header .header-content {
    position: relative;
    display:inline-block;
    width: 100%;
    padding: 60px 0 20px 0;
    margin-top:10px;
    background-image: url("../../../media/DW-Pfeil-halb-von-rechts-hellblau.png");
    background-size:cover;
    background-repeat: no-repeat;
    color: #092F57;
    font-weight:500;
    text-align:left;
}
.bottom-margin-50px{
    margin-bottom:50px;
}

.white-arrow {
    position:relative;
    display:inline-block;
    padding-top:5%;
    padding-left:5%;
}
.white-arrow-caption {
    padding:5%;
    position: absolute;
    max-width:75%;
    height:100%;
    text-align: left;
    font-size:70%;
}
.white-arrow-caption p{
    display:inline-block;
}
.white-arrow img{
    max-width:90%;
    height:auto;
    display:block;
}

header .header-content h1{
    padding-left:30%;
}
header .header-content h3{
    padding-left:32%;
}

.shape-box {
    margin: 0 0 15px;
}
.shape-box a{
    text-decoration: none;
}
.shape {
    position: relative;
    top: 0;
    left:0;
    margin: 0 auto;
    height: 70vh;
    width: 100%;
    background: rgba(9, 47, 87, 0.7);
    text-align: center;
    padding: 3vh;
    color:white;
}
.shape h2 {
    font-weight:300;
    color: white;
    padding-bottom: 6vh;
}
.shape p{
    font-weight:100;
}
.shape:hover {
    background: rgb(9, 47, 87);
}
.masthead .shape:hover{
    cursor:pointer;
}

@media (min-width: 767px) {
    .shape {
        height: 55vh;
        width: 90%;
    }
    header .header-content h1{
        padding-left:15%;
    }
    header .header-content h3{
        padding-left:16%;
    }
}
@media (min-width: 1250px) {
.shape-box {
    margin: 0 0 15px;
}
}

/* ---------  THUMBNAIL GALLERY  ----------*/
.thumbnail {
    padding:0;
    margin:5px 0 5px 0;
    float:left;
    text-align:center;
    overflow:hidden;
}

.thumbnail img{
    position:relative;
    height: 140px;
    min-width: 100%;
    object-fit: cover;
    border: solid 1px #092f57;
}

.thumbnail .description{
    position:absolute;
    margin-bottom:-40px;
    bottom:40px;
    height:40px;
    width:100%;
    background-color:#092f57;
    font-family: 'tahoma';
    font-size:75%;
    font-weight:bold;
    color:white;
    opacity:0.6; /* transparency */
    filter:alpha(opacity=60); /* IE transparency */
}
.thumbnail .description:hover{
    opacity:1;
}

p.description_content{
    padding-top:10px;
}
@media (min-width: 768px) {
    .thumbnail {
        padding:0;
        margin:10px 0 10px 0;
    }
    .thumbnail img {
        height: 200px;
    }
    .thumbnail .description {
        margin-bottom:-60px;
        bottom:60px;
        height:60px;
        font-size:75%;
    }
    p.description_content {
        padding-top:10px;
    }
}


/* ---------  MAP  ----------*/

.map {
    margin-bottom: 50px;
    height: 300px;
}

@media(max-width:768px) {
    .map {
        height: 75%;
    }
}

.map iframe {
    top: 0;
    left: 0;
}

/* ---------  TABLE  ----------*/
table.windfarms {
    border-collapse: separate;
    border-spacing: 3px 0;
}

table.windfarms,
table.windfarms +  ul.pagination {
    font: normal 11px/14px 'Lucida Grande', Verdana, Helvetica, Arial, sans-serif;
}

table.windfarms a:link,
table.windfarms a:visited,
table.windfarms + ul.pagination > li > a {
    color: #092f57;
    text-decoration: none;
    font-weight: bold;
}

table.windfarms td,
table.windfarms th {
    padding: 3px 0;
    margin-right:50px;
    line-height: 15px;
    text-align: left;
}

table.windfarms thead th:first-child,
table.windfarms thead td:first-child {
    border-left: none !important;
}

table.windfarms thead th,
table.windfarms thead td {
    background: #092f57 url(../img/header-bg.png) left bottom repeat-x;
    padding: 2px 5px;
    font-size: 75%;
    vertical-align: middle;
    color: white;
}

table.windfarms thead th > a:link,
table.windfarms thead th > a:visited {
    color: white;
}

table.windfarms thead th.orderable > a {
    padding-right: 20px;
    background: url(../img/arrow-inactive-up.png) right center no-repeat;
}
table.windfarms thead th.orderable.asc > a {
    background-image: url(../img/arrow-active-up.png);
}
table.windfarms thead th.orderable.desc > a {
    background-image: url(../img/arrow-active-down.png);
}

tr[traffic_light='green'] {
    background-color: #98FB98 !important;
}
tr[traffic_light='orange'] {
    background-color: #FFFF00  !important;
}
tr[traffic_light='red'] {
    background-color: #CD5C5C !important;
}
tr[traffic_light='white'] {
    background-color: #FFFFFF !important;
}
tr[warning_info='red'] {
    background-color: #ff704d !important;
}
tr[dated='nein'] {
    background-color: #CD5C5C !important;
}
tr[dated='no'] {
    background-color: #CD5C5C !important;
}


table.windfarms tr.odd {
    background-color: #c4c0c0;
}

table.windfarms tr.even {
    background-color: white;
}

table.windfarms + ul.pagination {
    background: white url(../img/pagination-bg.gif) left 180% repeat-x;
    overflow: auto;
    margin: 0;
    padding: 10px;
    border: 1px solid #092f57;
    list-style: none;
}

table.windfarms + ul.pagination > li {
    float: left;
    line-height: 22px;
    margin-left: 10px;
}

table.windfarms + ul.pagination > li:first-child {
    margin-left: 0;
}

table.windfarms + ul.pagination > li.cardinality {
    float: right;
    color: #092f57;
}

table.windfarms > tbody > tr > td > span.true,
table.windfarms > tbody > tr > td > span.false {
    background-position: top left;
    background-repeat: no-repeat;
    display: inline-block;
    height: 10px;
    overflow: hidden;
    text-indent: -200px;
    width: 10px;
}

table.windfarms > tbody > tr > td > .missing {
    background: transparent url(../img/missing.png) right center no-repeat;
    color: #717171;
    padding-right: 20px;
}

table.windfarms > tbody > tr > td > .missing:hover {
    color: #333;
}

table.windfarms > tbody > tr > td > span.true {
    background-image: url(../img/true.gif);
}

table.windfarms > tbody > tr > td > span.false {
    background-image: url(../img/false.gif);
}

div.table-container {
    display: inline-block;
}

/* ---------  TIMELINE  ----------*/
.line {
  width: 100%;
  background: #092f57;
  margin: 50px 0;
  height: 5px;
}

.top,
.bottom {
  display: flex;
  flex-direction: row;
}

.bottom {
  padding-left: 50px;
}

.top .top-element,
.bottom .bottom-element {
  padding: 0 25px;
  position: relative;
}

.top-element:before,
.bottom-element:before {
  content: "X";
  height: 20px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  background:#092f57;
  color: white;
  position: absolute;
  left: 0;
}

.top-element:before {
  bottom: -63px;
}

.bottom-element:before {
  top: -63px;
}

.top-element:after,
.bottom-element:after {
  content: "";
  height: 50px;
  width: 2px;
  background:#092f57;
  position: absolute;
}

.top-element:after {
  left: 10px;
  bottom: -40px;
}

.bottom-element:after {
  left: 10px;
  top: -40px;
}


/*#contribute {
    background:#538ce8;
    padding-top: 3vh;
}
#contribute h1{
    padding-bottom:3vh;
}
#contribute h2{
    padding-bottom:3vh;
}*/

/* ---------  FORM  ----------*/
.required {
    font-weight: bold;
    color: red;
}
.float-right {
  float:right;
}

.help-text {
    font-size: 75%;
    text-align:right;
    margin-top:-1rem;
    font-weight:lighter;
}
.page-counter{
    text-align:center;
}
.placeholder-right::-webkit-input-placeholder {
   text-align: right;
   text-indent: -10%;
}

.placeholder-right:-moz-placeholder { /* Firefox 18- */
   text-align: right;
   text-indent: -10%;
}

.placeholder-right::-moz-placeholder {  /* Firefox 19+ */
   text-align: right;
   text-indent: -10%;
}

.placeholder-right:-ms-input-placeholder {
   text-align: right;
   text-indent: -10%;
}
.input-next-to-autocomplete {
    padding:1.9rem 0 0.25rem;
}
.input-next-to-select {
    padding:1.4rem 0 0.25rem;
}
.input-next-to-multi-select {
    padding:3.6rem 0 0.25rem;
}
.select-next-to-multi-select {
    border-bottom: 1px solid #092f57;
    margin-bottom:1.25rem;
    padding:3.6rem 0 0.25rem;
}
.autocomplete-input-with-border-next-to-select {
    border-bottom: 1px solid #092f57;
    margin-bottom:1.25rem;
    padding:3rem 0 0.25rem;
}
.autocomplete-input-with-border-next-input {
    border-bottom: 1px solid #092f57;
    margin-bottom:1.25rem;
    padding:1rem 0 0.25rem;
}
.select-with-border {
    border-bottom: 1px solid #092f57;
    margin-bottom:1.25rem;
    padding:1.3rem 0 0.25rem;
}
.select-next-to-autocomplete {
    border-bottom: 1px solid #092f57;
    margin-bottom:1.25rem;
    padding:2rem 0 0.25rem;
}
/* ---------  From customer questionnaire  START----------*/
form.customer-questionnaire {
  padding:5% 10% 5% 5%;
  margin:0;
  width: 100%;
  background: rgb(229, 238, 245, 0.6);
  color: #092F57;
}
form.customer-questionnaire h2{
  color: #092F57;
}

.language-btn {
    background-color: transparent !important;
    color:#092F57 !important;
    border: 1px solid #092F57 !important;
    display: inline-block;
}
.language-btn:hover,
.language-btn:focus,
.language-btn:active{
    background-color:#092F57 !important;
    outline: none !important;
    color:#fff !important;
}
input[type=email],
input[type=text],
input[type=number],
input[type=tel],
input[type=password]{
  height: 1.5rem;
  margin: 0 0 1.15rem;
  width: 100%;
}
input[type=email],
input[type=text],
input[type=select],
input[type=number],
input[type=tel],
input[type=password]{
  background: none;
  border: none;
  border-bottom: 1px solid #092f57;
  box-sizing: border-box;
  outline: none;
}

input[type=email]:required,
input[type=number]:required,
input[type=text]:required,
input[type=tel]:required,
input[type=password]:required{
  box-shadow: none;
  outline: none;
}

input[type=submit] {
  background: #0082CA;
  border: none;
  color: #fff;
}
input[type=submit].font-awesome {
    font-Family:FontAwesome;
}
button[type=submit] {
  background: #0082CA;
  border: none;
  color: #fff;
}

input[type=submit]:hover,
input[type=submit]:focus,
button[type=submit]:hover,
button[type=submit]:focus{
  background: #092F57;
  cursor: pointer;
  outline: none;
}
.btn {
   border-radius:0;
}
.btn-primary {
    background-color:#0082CA;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active{
    background-color:#092F57;
    outline: none;
}
}
.btn .btn-primary a {
    font-size:75%;
}
.btn-sm {
    font-size:75%;
}
.inputs--filled label {
  transform: translate(0, 0);
}

.inputs--invalid input {
  animation: shake 0.3s cubic-bezier(.36,.07,.19,.97) both;
  background: url(//my-assets.netlify.com/codepen/dailyui-001/ico-invalid.svg) center right no-repeat;
  border-bottom: 1px solid #D50058;
  box-shadow: none;
  color: #D50058;
  transform: translate3d(0, 0, 0);
}

@keyframes shake {
  0%, 100% {
    transform: translate3d(0, 0, 0);
  }

  33% {
    transform: translate3d(-6px, 0, 0);
  }

  66% {
    transform: translate3d(6px, 0, 0);
  }
}

.inputs--invalid label {
  color: #D50058;
}

label {
  display: inline-block;
  transform: translate(0, 1.25rem);
  transition: 0.15s;
}
/* ---------  From customer questionnaire  END----------*/

.inline-label {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    float:left;
    }
.bottom-right {
    position: absolute;
    top: 8px;
    right: 4px;
    background-color: rgba(0, 64, 255, 0.6);
}

/* ---------  NAVBAR  ----------*/
.navbar {
  min-height: 20px;
}

.navbar-brand {
  padding: 0;
  height: 20px;
  line-height: 20px;
}
.navbar-brand>img {
  width: 30vw;
  padding: 0;
}
@media(min-width:768px) {
    .navbar-brand>img {
      width: 18vw;
    }
}

.navbar-custom {
    background-color:#092f57;
    color:#ffffff;
    border-radius:0;
}

.navbar-custom .navbar-nav > li > a {
    color:#fff;
    font-size:60%;
    padding-top:5px !important;
    padding-bottom:5px !important;
}

.navbar-custom .navbar-nav > .active > a {
    color: #ffffff;
    background-color:transparent;
}

.navbar-custom .navbar-nav > li > a:hover,
.navbar-custom .navbar-nav > li > a:focus,
.navbar-custom .navbar-nav > .active > a:hover,
.navbar-custom .navbar-nav > .active > a:focus,
.navbar-custom .navbar-nav > .open >a {
    text-decoration: none;
    background-color: #0082CA;
}

.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-toggle {
    background-color:#eeeeee;
}
.navbar-custom .icon-bar {
    background-color:#092f57;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: rgba(255, 255, 255, 1);
  border-color: rgba(255, 255, 255, 1);
  border-radius:0;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #000000;
  font-weight: 800;
  font-size:60%;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #0082CA;
  background-color: rgba(255, 255, 255, 1);
}


tr.collapse-row{
    display: none;
}
tr.table-row-header{
    display: table-row;
}
tr.table-row-header
{
    cursor:pointer;
}


.chart {
    margin-left:-8vw;
}