{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Wind Turbine Models{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{% static 'css/thumbnail-gallery.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" />

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>

    <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript" src="http://www.google.com/jsapi"></script>
    <script type="text/javascript">google.load("maps", "3",{other_params:"sensor=false&libraries=geometry"});</script>

    {{ form.media }}

    {% block head %}
    {% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-custom fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand" href="/"> <img src="/media/dwt_logo.png" alt="Deutsche Windtechnik"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav m1-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="wectypDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">Turbine Models</a>
                        <div class="dropdown-menu" aria-labelledby="wectypDropdown">
                        <a class="dropdown-item" href="{% url "polls:wec_typ_filter_list" %}">Turbine Models</a>
                        <a class="dropdown-item" href="{% url "polls:new_wec_typ" %}">New Turbine Model</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="actorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">Actors</a>
                        <div class="dropdown-menu" aria-labelledby="actorDropdown">
                        <a class="dropdown-item" href="{% url "player:player_list" %}">Actor List</a>
                        <a class="dropdown-item" href="{% url "player:new_player" %}">New Actor</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="windfarmsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">Wind Farms</a>
                        <div class="dropdown-menu" aria-labelledby="windfarmsDropdown">
                        <a class="dropdown-item" href="{% url "wind_farms:windfarm_list" %}">Wind Farm List</a>
                        <a class="dropdown-item" href="{% url "wind_farms:new_wind_farm" %}">New Wind Farm</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="turbinesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">Turbines</a>
                        <div class="dropdown-menu" aria-labelledby="turbinesDropdown">
                        <a class="dropdown-item" href="{% url "turbines:turbine_list" %}">Turbine List</a>
                        <a class="dropdown-item" href="{% url "turbines:new_turbine" %}">New Turbine</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="projectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">Projects</a>
                        <div class="dropdown-menu" aria-labelledby="projectsDropdown">
                        <a class="dropdown-item" href="{% url "projects:project_list" %}??name=&dwt=&status=Coffee&status=Soft+Offer&status=Hard+Offer&status=Negotiation&status=Final+Negotiation&prob_0=&prob_1=&turbines=&customer=&last_contact_0=&last_contact_1=&start_operation_0=&start_operation_1=&responsible=">Project List</a>
                        <a class="dropdown-item" href="{% url "projects:new_project" %}">New Project</a>
                        <a class="dropdown-item" href="{% url "projects:total_volume_report" %}">Monthly Report</a>
                        <a class="dropdown-item" href="{% url "projects:calculation_tool" %}">Calculation Tool</a>
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="contractsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">Contracts</a>
                        <div class="dropdown-menu" aria-labelledby="contractsDropdown">
                        <a class="dropdown-item" href="{% url "turbines:contract_list" %}">Contract List</a>
                        <a class="dropdown-item" href="{% url "turbines:new_contract" %}">New Contract</a>
                        </div>
                    </li>
                </ul>
            </div>
                <span>
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary pull-right" href="{% url "detail" %}">User</a>
                    {% endif %}
                </span>
                <span>
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary pull-right" href="{% url "logout" %}">Logout</a>
                    {% else %}
                        <a class="btn btn-primary pull-right"  href="{% url "login" %}">Log-in</a>
                    {% endif %}
                </span>
        </div>
    </nav>
        {% block content %}
        {% endblock %}

    <nav class="navbar navbar-expand-lg navbar-custom fixed-bottom">
        <div class="container-fluid">
            <ul class="navbar-nav m1-auto">
                <li class="nav-item">
                    <a target="_blank" rel="noopener noreferrer" class="dropdown-item" href="{% url "polls:howto" %}">How-To-Instruction</a>
                </li>
                <li class="nav-item">
                    <a target="_blank" rel="noopener noreferrer" class="dropdown-item" href="{% url "polls:conventions" %}">FAQ / Conventions</a>
                </li>
                <li class="nav-item">
                    <a href="mailto:success-map@deutsche-windtechnik.com" style="padding: 5px 10px 10px 10px;"><i class="fa fa-envelope fa-fw"></i></a>
                </li>
            </ul>
            <p class="pull-right">
                Copyright &copy; <a target="_blank" rel="noopener noreferrer" href="http://www.deutsche-windtechnik.de">Deutsche Windtechnik</a> 2018
            </p>
        </div>
    </nav>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>