{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{% static 'vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/thumbnail-gallery.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" \>

    <!-- Custom JavaScript -->
    <!-- Google Maps -->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>
    <!-- Charts -->
    <script type="text/javascript">google.load("visualization", "1", {packages:["corechart"]});</script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {% block extra_head %}{% endblock %}

    {% block head %}
    {% endblock %}
    {{ form.media }}
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-custom fixed-top">
        <a class="navbar-brand" href="/"> <img src="/media/DW-Logo-horizontal-neg.png" alt="Deutsche Windtechnik"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        {% if request.user.is_authenticated %}
        {% if perms.projects.non_customer_view %}
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav m1-auto">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="wectypDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Turbine Models" %}</a>
                        <div class="dropdown-menu" aria-labelledby="wectypDropdown">
                        <a class="dropdown-item" href="{% url "polls:wec_typ_filter_list" %}">{% trans "Turbine Model List" %}</a>
                        {% if perms.polls.add_wec_typ %}
                            <a class="dropdown-item" href="{% url "polls:new_wec_typ" %}">{% trans "New Turbine Model" %}</a>
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="actorDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Actors" %}</a>
                        <div class="dropdown-menu" aria-labelledby="actorDropdown">
                        <a class="dropdown-item" href="{% url "player:player_list" %}">{% trans "Actor List" %}</a>
                        {% if perms.player.add_player %}
                            <a class="dropdown-item" href="{% url "player:new_player" %}">{% trans "New Actor" %}</a>
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="windfarmsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Wind Farms" %}</a>
                        <div class="dropdown-menu" aria-labelledby="windfarmsDropdown">
                        <a class="dropdown-item" href="{% url "wind_farms:windfarm_list" %}">{% trans "Wind Farm List" %}</a>
                        {% if perms.wind_farms.add_windfarm %}
                            <a class="dropdown-item" href="{% url "wind_farms:new_wind_farm" %}">{% trans "New Wind Farm" %}</a>
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="turbinesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Turbines" %}</a>
                        <div class="dropdown-menu" aria-labelledby="turbinesDropdown">
                        <a class="dropdown-item" href="{% url "turbines:turbine_list" %}">{% trans "Turbine List" %}</a>
                        {% if perms.turbine.add_turbine %}
                            <a class="dropdown-item" href="{% url "turbines:new_turbine" %}">{% trans "New Turbine" %}</a>
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="projectsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Projects" %}</a>
                        <div class="dropdown-menu" aria-labelledby="projectsDropdown">
                        <a class="dropdown-item" href="{% url "projects:project_list" %}?name=&status=Coffee&status=Soft+Offer&status=Hard+Offer&status=Negotiation&status=Final+Negotiation&prob_0=&prob_1=&contract_signature_0=&contract_signature_1=&start_operation_0=&start_operation_1=&request_date_0=&request_date_1=&offer_number=">{% trans "Project List" %}</a>
                        {% if perms.projects.add_project %}
                            <a class="dropdown-item" href="{% url "projects:new_project" %}">{% trans "New Project" %}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url "projects:offer_number_list" %}">{% trans "Offer Number List" %}</a>
                        {% if perms.projects.add_project %}
                            <a class="dropdown-item" href="{% url "projects:new_offer_number" %}">{% trans "New Offer Number" %}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url "projects:pool_list" %}">{% trans "Pool Project List" %}</a>
                        {% if perms.projects.add_project %}
                            <a class="dropdown-item" href="{% url "projects:new_pool" %}">{% trans "New Pool Project" %}</a>
                            <!--<a class="dropdown-item" href="{% url "projects:customer_questionnaire" %}">{% trans "Customer Questionnaires" %}</a>-->
                        {% endif %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="contractsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Contracts" %}</a>
                        <div class="dropdown-menu" aria-labelledby="contractsDropdown">
                        <a class="dropdown-item" href="{% url "turbines:contract_list" %}">{% trans "Contract List" %}</a>
                        {% if perms.turbine.open_TO_menu %}
                            <a class="dropdown-item" href="{% url "turbines:to_contract_list" %}">{% trans "TO Contracts" %}</a>
                        {% endif %}
                        {% if perms.turbine.add_contract %}
                            <a class="dropdown-item" href="{% url "turbines:new_contract" %}">{% trans "New Contract" %}</a>
                        {% endif %}
                        <a class="dropdown-item" href="{% url "turbines:terminated_contracts" %}">{% trans "Terminated Contracts" %}</a>
                        </div>
                    </li>
                    {% if perms.projects.open_sales_tools %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="salesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Sales Tools" %}</a>
                            <div class="dropdown-menu" aria-labelledby="salesDropdown">
                            <a class="dropdown-item" href="{% url "projects:total_volume_report" %}">{% trans "Sales Report" %}</a>
                            <a class="dropdown-item" href="{% url "projects:calculation_tool" %}">{% trans "Calculation Tool" %}</a>
                            <a class="dropdown-item" href="{% url "projects:documents" %}">{% trans "Documents" %}</a>
                            </div>
                        </li>
                    {% endif %}
                    {% if perms.turbine.open_TO_menu %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="tbfDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" href="/">{% trans "Expert Reports" %}</a>
                            <div class="dropdown-menu" aria-labelledby="tbfDropdown">
                            <a class="dropdown-item" href="{% url "events:event_list" %}">{% trans "TO" %}</a>
                            <a class="dropdown-item" href="{% url "events:km_event_list" %}">{% trans "Customer Relations" %}</a>
                            </div>
                        </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" role="button" href="{% url "polls:map" %}">{% trans "Map" %}</a>
                    </li>
                </ul>
            </div>
        {% endif %}
        {% endif %}
        <div class="ml-auto">
            {% if perms.projects.non_customer_view %}
            {% else %}
                <span>
                    {% if request.user.is_authenticated %}
                        <a class="btn btn-primary btn-sm" href="{% url "projects:customer_view" %}">{% trans "Customer Questionnaires" %}</a>
                    {% endif %}
                </span>
            {% endif %}
            <span class="btn-group pull-right">
                {% if request.user.is_authenticated %}
                    <a class="btn btn-primary btn-sm" href="{% url "detail" %}">User</a>
                    <a class="btn btn-primary btn-sm" href="{% url "logout" %}">Logout</a>
                {% else %}
                    <a class="btn btn-primary btn-sm"  href="{% url "login" %}">Log-in</a>
                {% endif %}
            </span>
        </div>
    </nav>
    {% block content %}
    {% endblock %}
    <nav class="navbar navbar-expand-md navbar-custom fixed-bottom">
        <ul class="navbar-nav">
            {% if perms.projects.non_customer_view %}
                {% if request.user.is_authenticated %}
                    {% get_current_language as LANGUAGE_CODE %}
                    <li class="nav-item">
                        <a target="_blank" class="dropdown-item" href="https://success-map.readthedocs.io/{{LANGUAGE_CODE}}/latest/"><i class="fa fa-question fa-fw"></i></a>
                    </li>
                    <li class="nav-item">
                        <a href="mailto:success-map@deutsche-windtechnik.com" class="dropdown-item"><i class="fa fa-envelope fa-fw"></i></a>
                    </li>
                {% endif %}
            {% endif %}
            <li class="nav-item">
                <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="http://www.deutsche-windtechnik.de/datenschutz">Datenschutz</a>
            </li>
            <li class="nav-item">
                <a class="dropdown-item" target="_blank" rel="noopener noreferrer" href="http://www.deutsche-windtechnik.de">Copyright &copy; Deutsche Windtechnik 2020</a>
            </li>
        </ul>
    </nav>

    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" async></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    {% block javascript %}
    {% endblock %}

</body>
</html>