{% extends "polls/home_base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    SUCCESS MAP
{% endblock %}

{% block content2 %}
<div class="row">
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 shape-box">
        <a href="{% url "polls:wec_typ_filter_list" %}">
            <div class="shape">
                <h2>{% trans "Turbine Models" %}</h2>
                <img src="/media/Icon---Technologien.png" width="40%">
                <table style="width:100%;margin-top:30px;">
                    <tr>
                        <td>
                           <h5 style="text-align:left;">{% trans "Manufacturers" %}</h5>
                        </td>
                        <td>
                            <h5 style="text-align:right;">{{ manufacturers }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <h5 style="text-align:left;">{% trans "Turbine Models" %}</h5>
                        </td>
                        <td>
                            <h5 style="text-align:right;">{{ wec_types }}</h5>
                        </td>
                    </tr>
                </table>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 shape-box">
        <a href="{% url "wind_farms:windfarm_list" %}">
            <div class="shape">
                <h2 style="padding-bottom:30px">{% trans "Wind Farms" %} / {% trans "Turbines" %}</h2>
                <img src="/media/Icon---WEA.png" width="40%">
                <table style="width:100%;margin-top:30px;">
                    <tr>
                        <td>
                           <h5 style="text-align:left;">{% trans "Wind Farms" %}</h5>
                        </td>
                        <td>
                            <h5 style="text-align:right;">{{ windfarms }}</h5>
                        </td>
                    </tr>
                    <tr>
                        <td>
                           <h5 style="text-align:left;">{% trans "Turbines" %}</h5>
                        </td>
                        <td>
                            <h5 style="text-align:right;">{{ turbines }}</h5>
                        </td>
                    </tr>
                </table>
            </div>
        </a>
    </div>
    <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 shape-box">
        <a href="{% url "player:player_list" %}">
            <div class="shape">
                <h2>{% trans "Market Actors" %}</h2>
                <img src="/media/Icon---Teilnehmer.png" width="40%">
                <table style="width:100%;margin-top:30px;">
                    <tr>
                        <td>
                           <h5 style="text-align:left;">{% trans "Market actors" %}</h5>
                        </td>
                        <td>
                            <h5 style="text-align:right;">{{ players }}</h5>
                        </td>
                    </tr>
                </table>
            </div>
        </a>
    </div>
</div>
{% endblock %}