{% extends "polls/base.html" %}
{% load static %}
{% load i18n %}

{% block title %}
    iwedb - Home
{% endblock %}

{% block content %}
<header class="masthead">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 header-content">
                <div class="header-content-inner">
                    <h1>iwedb - international wind energy database</h1>
                    <h1>Crowdsourced Open Wind Energy Data</h1>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 shape-box">
                <a href="{% url "polls:wec_typ_filter_list" %}">
                    <div class="shape">
                        <div class="shape-content">
                            <h2>Turbine Models</h2>
                            <i class="fa fa-ge fa-5x"></i>
                            <h5>Manufacturers: {{ manufacturers|length }}</h5>
                            <h5>Turbine Models: {{ wec_types|length }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 shape-box">
                <a href="{% url "wind_farms:windfarm_list" %}">
                    <div class="shape">
                        <div class="shape-content">
                            <h2 style="padding-bottom:30px">Wind Farms<br>Turbines</h2>
                            <i class="fa fa-industry fa-5x"></i>
                            <h5>Wind Farms: {{ windfarms|length }}</h5>
                            <h5>Turbines: {{ turbines|length }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 shape-box">
                <a href="{% url "components:component_type_list" %}">
                    <div class="shape">
                        <div class="shape-content">
                            <h2>Components</h2>
                            <i class="fa fa-cogs fa-5x"></i>
                            <h5>Components: {{ components }}</h5>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12 shape-box">
                <a href="{% url "player:player_list" %}">
                    <div class="shape">
                        <div class="shape-content">
                            <h2>Market Actors</h2>
                            <i class="fa fa-group fa-5x"></i>
                            <h5>Market actors: {{ players|length }}</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</header>
<section id="contribute">
    <div class="container-fluid">
        <h1 class="text-center">How to contribute</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-12 col-xs-12 shape-box">
                <div class="shape">
                    <div class="shape-content">
                        <h2>Register</h2>
                        <a class="btn btn-primary" href="{% url "register" %}">Get an account</a><p> and start contributing!</p>
                        <h5>Contributors: {{ users|length }}</h5>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 col-md-6 col-sm-12 col-xs-12 shape-box">
                <div class="shape">
                    <div class="shape-content">
                        <h2>Instruction</h2>
                        <p>You have spotted a turbine that is not in our database?<br>
                        Use the 'Add turbine' button in the top right corner of the turbine list.<br>
                        Fill in the required and optional fields of the form and submit it! <br>
                        The information will be checked and uploaded to the database.</p>
                        <a class="btn btn-primary" href="{% url "polls:conventions" %}">Read Conventions</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <h1 class="text-center">License</h1>
                <p style="padding-left: 3vw">This database is made available under the <a href="http://opendatacommons.org/licenses/odbl/1.0/" style="color:white">Open Database License</a>. Any rights in individual contents of the database are licensed under the <a href="http://opendatacommons.org/licenses/dbcl/1.0/" style="color:white">Database Contents License</a>.</p>
            </div>
        </div>
    </div>
</section>
{% endblock %}