{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add Image
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="card">
            <div class="card-header">Add image
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {{ form.file.label_tag }}<br>
                        {{ form.file.errors }}<br>
                        {% render_field form.file class="form-control" %}
                    </div>
                    <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        {{ form.source.label_tag }}<br>
                        {{ form.source.errors }}<br>
                        {% render_field form.source class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.content_type.label_tag }}<br>
                        {{ form.content_type.errors }}<br>
                        {% render_field form.content_type class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.object_id.label_tag }}<br>
                        {{ form.object_id.errors }}<br>
                        {% render_field form.object_id class="form-control" %}
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{ form.description.label_tag }}<br>
                        {{ form.description.errors }}<br>
                        {% render_field form.description class="form-control" %}
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{ form.agree.errors }}<br>
                        {% render_field form.agree class="form-control" %} <p>I herewith declare, that I own the copyright of the image to be uploaded or that it is already published under an appropriate free license (s. <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License</a> or <a href="http://opendefinition.org/licenses/gfdl/">GNU Free Documentation License</a>).
                        I acknowledge, that the image to be uploaded will be licensed under the <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons License</a>.</p>
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}