{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add new Wind Turbine Model
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="card">
            <div class="card-header">Add/Edit a wind turbine model
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-3 col-md-3 col-sm-6 col-xs-6">
                        {{ form.name.label_tag }}<br>
                        {{ form.name.errors }}<br>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.manufacturer.label_tag }}<br>
                        {{ form.manufacturer.errors }}<br>
                        {% render_field form.manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.output_power.label_tag }}<br>
                        {{ form.output_power.errors }}<br>
                        {% render_field form.output_power class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.rotor_diameter.label_tag }}<br>
                        {{ form.rotor_diameter.errors }}<br>
                        {% render_field form.rotor_diameter class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.nr_blades.label_tag }}<br>
                        {{ form.nr_blades.errors }}<br>
                        {% render_field form.nr_blades class="form-control" %}
                    </div>
                    <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                        {{ form.wind_class.label_tag }}<br>
                        {{ form.wind_class.errors }}<br>
                        {% for value, text in form.wind_class.field.choices %}
                            <label><input id="id_wind_class_{{ forloop.counter0 }}" name="{{ form.wind_class.name }}" type="checkbox" value="{{ value }}" />  {{ text }}</label>
                        {% endfor %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.offshore.label_tag }}<br>
                        {{ form.offshore.errors }}<br>
                        {% render_field form.offshore class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.reg.label_tag }}<br>
                        {{ form.reg.errors }}<br>
                        {% render_field form.reg class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.drive.label_tag }}<br>
                        {{ form.drive.errors }}<br>
                        {% render_field form.drive class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.tot_weight_t.label_tag }}<br>
                        {{ form.tot_weight_t.errors }}<br>
                        {% render_field form.tot_weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.hub_weight_t.label_tag }}<br>
                        {{ form.hub_weight_t.errors }}<br>
                        {% render_field form.hub_weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.rotor_weight_t.label_tag }}<br>
                        {{ form.rotor_weight_t.errors }}<br>
                        {% render_field form.rotor_weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.tower_weight_t.label_tag }}<br>
                        {{ form.tower_weight_t.errors }}<br>
                        {% render_field form.tower_weight_t class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.cut_in.label_tag }}<br>
                        {{ form.cut_in.errors }}<br>
                        {% render_field form.cut_in class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.nominal_speed.label_tag }}<br>
                        {{ form.nominal_speed.errors }}<br>
                        {% render_field form.nominal_speed class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.cut_out.label_tag }}<br>
                        {{ form.cut_out.errors }}<br>
                        {% render_field form.cut_out class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.min_rot_speed_r_m.label_tag }}<br>
                        {{ form.min_rot_speed_r_m.errors }}<br>
                        {% render_field form.min_rot_speed_r_m class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.max_rot_speed_r_m.label_tag }}<br>
                        {{ form.max_rot_speed_r_m.errors }}<br>
                        {% render_field form.max_rot_speed_r_m class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.year.label_tag }}<br>
                        {{ form.year.errors }}<br>
                        {% render_field form.year class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.produced_until.label_tag }}<br>
                        {{ form.produced_until.errors }}<br>
                        {% render_field form.produced_until class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        {{ form.product_web.label_tag }}<br>
                        {{ form.product_web.errors }}<br>
                        {% render_field form.product_web class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.min_hub_height.label_tag }}<br>
                        {{ form.min_hub_height.errors }}<br>
                        {% render_field form.min_hub_height class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.max_hub_height.label_tag }}<br>
                        {{ form.max_hub_height.errors }}<br>
                        {% render_field form.max_hub_height class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.sound_level.label_tag }}<br>
                        {{ form.sound_level.errors }}<br>
                        {% render_field form.sound_level class="form-control" %}
                    </div>
                    <div class="form-group col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        {{ form.description.label_tag }}<br>
                        {{ form.description.errors }}<br>
                        {% render_field form.description|attr:"rows:4" class="form-control" %}
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}