{% extends "polls/base.html" %}
{% load static %}
{% load l10n %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-11">
        <h1>{{ contract.name }}</h1>
    </div>
    <div class="col-lg-1">
        {% if perms.projects.has_sales_status %}
        <a class="btn btn-primary pull-right" href="{% url "turbines:contract_edit" contract.id %}"><i class="fa fa-edit"></i> Edit</a>
        {% endif %}
    </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <table class="table">
            <colgroup> <col width="100"> <col width="100"> <col width="100"> </colgroup>
            <tr>
                <th colspan="3">General</th>
            </tr>
            {% if perms.turbine.can_view_contract_pdf %}
            {% if contract.file %}
                <tr>
                    <td>Document</td>
                    <td><a href="http://success-map.deutsche-windtechnik.com/media/{{ contract.file }}"><i class="fa fa-file"></a></td>
                </tr>
            {% endif %}
            {% endif %}
            <tr>
                <td>DWT Unit</td>
                <td colspan="2">{{ contract.dwt }}</td>
            </tr>
            {% if contract.contracted_windfarm %}
                <tr>
                    <td>Wind Farm</td>
                    <td colspan="2">
                        {% for wf, link in contract.contracted_windfarm.items %}
                        <a href="{{ link }}">{{ wf }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <td>Turbines</td>
                <td colspan="2">{{ contract.amount_turbines }} / {{ contract.mw }} MW</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    {% for wec_type, link in contract.contracted_wec_types.items %}
                    <a href="{{ link }}">{{ wec_type }} </a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2">
                    {% for t in contract.turbines.all %}
                    <a href="{{ t.get_absolute_url }}">{{ t }} </a>
                    {% endfor %}
                </td>
            </tr>
            <tr>
                <th colspan="3">Contract Details</th>
            </tr>
            <tr>
                <td>Start Date</td>
                <td colspan="2">{{ contract.start_date }}</td>
            </tr>
            <tr>
                <td>End Contact</td>
                <td colspan="2">{{ contract.end_date }}</td>
            </tr>
            <tr>
                <td>Contractual Partner</td>
                <td colspan="2">
                   <a href="{{ contract.actor.get_absolute_url }}">{{ contract.actor }}</a>
                </td>
            </tr>
            {% if contract.average_remuneration %}
            <tr>
                <td>Average Yearly Remuneration</td>
                <td>{{ contract.average_remuneration }} €/WTG/year</td>
            </tr>
            {% endif %}
            {% if contract.farm_availability %}
            <tr>
                <td>Availability Guarantee</td>
                <td>{{ contract.farm_availability }}% farm availability</td>
                {% if contract.wtg_availability %}
                <td>{{ contract.wtg_availability }}% single WTG availability</td>
                {% endif %}
            </tr>
            {% endif %}
            <tr>
                <th colspan="3">Services included</th>
            </tr>
            <tr>
                {% if contract.remote_control == True %}
                    <td>Remote Control</td>
                {% endif %}
                {% if contract.scheduled_maintenance == True %}
                    <td>Scheduled Maintenance</td>
                {% endif %}
            </tr>
            <tr>
                {% if contract.unscheduled_maintenance_personnel == True %}
                    <td>Unscheduled Maintenance Personnel</td>
                {% endif %}
                {% if contract.unscheduled_maintenance_material == True %}
                    <td>& Material</td>
                {% endif %}
            <tr>
                {% if contract.main_components == True %}
                    <td>Main Components</td>
                {% endif %}
                {% if contract.rotor_excluded == True %}
                    <td>(Rotor excluded)</td>
                {% endif %}
                {% if contract.external_damages == True %}
                    <td>External Damages</td>
                {% endif %}
            </tr>

            <tr>
                <th colspan="3"><a class="btn btn-primary pull-right" href="{% url "turbines:new_comment" contract_id=contract.pk %}"><i class="fa fa-plus"></i> Add Comment</a></th>
            </tr>
            {% if comments.all|length > 0 %}
            <tr>
                <th colspan="3">Comments</th>
            </tr>
            {% for c in comments.all %}
            <tr>
                <td>{{ c.created }} by {{ c.created_by }}</td>
                <td>{{ c.text }}</td>
                {% if c.file %}
                <td><a href="http://iwedb.tk/media/{{ c.file }}"><i class="fa fa-file"></a></td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            <tr class="table-row-header">
                <th colspan="3">Change history <i class="fa fa-plus pull-right"></i></th>
            </tr>
            {% for ch in changes.all %}
            <tr class="collapse-row">
                <td>{{ ch.created }} by {{ ch.created_by }}</td>
                <td>{{ ch.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script type="text/javascript">
$('.table-row-header').click(function(){
    $(this).nextUntil('.table-row-header').css('display', function(i,v){
        return this.style.display === 'table-row' ? 'none' : 'table-row';
    });
});
</script>
{% endblock %}