{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Add new Contract" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container-fluid">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <h1>{% trans "Add a new contract" %}</h1>
                <div class="row">
                    <div class="col-12 col-md-8">
                        <span>
                            {{ form.name.label_tag }}
                            <div class="input-next-to-select">
                                {% render_field form.name class="placeholder-right" id="contract-name" %}
                            </div>
                            <p class="help-text">{{ form.name.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4 col-sm-6">
                        <span>
                            {{ form.file.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.file class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.file.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12">
                        <ul id="similar_contracts"></ul>
                    </div>
                    <div class="col-12 col-md-2 col-sm-6">
                        <span>
                            {{ form.dwt.label_tag }}
                            <div class="select-next-to-autocomplete">
                                {% render_field form.dwt class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.dwt.help_text }}</p>
                        </span>
                    </div>
                    {% if request.resolver_match.view_name == 'turbines:new_contract' %}
                        <div class="col-12 col-md-4 col-sm-6">
                            <span>
                                {{ form.windfarm.label_tag }}
                                <div class="autocomplete-input-with-border-next-input">
                                    {% render_field form.windfarm class="placeholder-right" id="id_windfarm" %}
                                </div>
                                <p class="help-text">{{ form.windfarm.help_text }}</p>
                            </span>
                        </div>
                        <div id="all_turbines_field" class="col-12 col-lg-2 col-md-4">
                            <span>
                                {{ form.all_turbines.label_tag }}
                                <div class="select-next-to-autocomplete">
                                    {% render_field form.all_turbines class="placeholder-right" id="all_turbines" %}
                                </div>
                                <p class="help-text">{{ form.all_turbines.help_text }}</p>
                            </span>
                        </div>
                    {% endif %}
                    <div id="turbines_field" class="col-12 col-md-4">
                        <span>
                            {{ form.turbines.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.turbines class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.turbines.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <span>
                            {{ form.actor.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.actor class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.actor.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-lg-2 col-md-4 col-sm-6">
                        <span>
                            {{ form.start_date.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.start_date class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.start_date.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-lg-2 col-md-4 col-sm-6">
                        <span>
                            {{ form.end_date.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.end_date class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.end_date.help_text }}</p>
                        </span>
                    </div>
                    {% if request.resolver_match.view_name == 'turbine:new_contract' or perms.turbine.change_dwt_responsible %}
                        <div class="col-12 col-lg-4 col-md-6">
                            <span>
                                {{ form.dwt_responsible.label_tag }}
                                <div class="autocomplete-input-with-border-next-input">
                                    {% render_field form.dwt_responsible class="placeholder-right" %}
                                </div>
                                <p class="help-text">{{ form.dwt_responsible.help_text }}</p>
                            </span>
                        </div>
                    {% endif %}
                </div>
                {% if graduated_price_start_years %}
                    <div class="row">
                        <div class="col-6 col-lg-2 col-md-4"> {% trans "Graduated prices" %}: </div>
                    </div>
                {% endif %}
                {% for gp in graduated_price_start_years %}
                    <div class="row">
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_start_year.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_start_year class="placeholder-right graduated-price-start-year" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_end_year.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_end_year class="placeholder-right graduated-price-end-year" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_yearly_price.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_yearly_price class="placeholder-right graduated-price-yearly-price" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4" style="display:none">
                            <span>
                                {{ form.graduated_price_id.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_id class="placeholder-right graduated-price-id" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_delete.label_tag }}
                                <div class="select-with-border">
                                    {% render_field form.graduated_price_delete class="placeholder-right graduated-price-delete" %}
                                </div>
                                <input id='id_contract-graduated_price_delete-hidden' class='graduated-price-delete-hidden' type='hidden' value='No' name='contract-graduated_price_delete'>
                            </span>
                        </div>
                    </div>
                {% endfor %}
                <div class="row" style="padding:1rem;">
                    <button type="button" class="btn btn-primary btn-sm" id="add-another">
                        <i class="fa fa-plus"></i> {% trans "Remuneration" %}
                    </button>
                </div>
                <div id="graduated-prices"></div>
                <h1>{% trans "Availability Guarantee" %}</h1>
                <div class="row">
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.farm_availability.label_tag }}
                            <div class="input-next-to-select">
                                {% render_field form.farm_availability class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.farm_availability.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.wtg_availability.label_tag }}
                            <div class="input-next-to-select">
                                {% render_field form.wtg_availability class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.wtg_availability.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.availability_type.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.availability_type class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.availability_type.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>{% trans "Scope" %}</h1>
                <h3>Basis</h3>
                <div class="row">
                    <div class="col-4">
                        <span>
                            {{ form.remote_control.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.remote_control class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.remote_control.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-4">
                        <span>
                            {{ form.scheduled_maintenance.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.scheduled_maintenance class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.scheduled_maintenance.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-4">
                        <span>
                            {{ form.additional_maintenance.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.additional_maintenance class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.additional_maintenance.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h3>Basis +</h3>
                <div class="row">
                    <div class="col-12">
                        <span>
                            {{ form.unscheduled_maintenance_personnel.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.unscheduled_maintenance_personnel class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.unscheduled_maintenance_personnel.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h3>VWoGK</h3>
                <div class="row">
                    <div class="col-12">
                        <span>
                            {{ form.unscheduled_maintenance_material.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.unscheduled_maintenance_material class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.unscheduled_maintenance_material.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h3>VWmGK</h3>
                <div class="row">
                    <div class="col-6">
                        <span>
                            {{ form.main_components.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.main_components class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.main_components.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6">
                        <span>
                            {{ form.exclusions.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.exclusions class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.exclusions.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h3>{% trans "Technical Operation" %}</h3>
                <div class="row">
                    <div class="col-12">
                        <span>
                            {{ form.technical_operation.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.technical_operation class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.technical_operation.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h3>{% trans "Options" %}</h3>
                <div class="row">
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.service_lift_maintenance.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.service_lift_maintenance class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.service_lift_maintenance.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.certified_body_inspection_service_lift.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.certified_body_inspection_service_lift class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.certified_body_inspection_service_lift.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.safety_inspection.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.safety_inspection class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.safety_inspection.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.safety_repairs.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.safety_repairs class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.safety_repairs.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.safety_exchange.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.safety_exchange class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.safety_exchange.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.rotor_blade_inspection.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.rotor_blade_inspection class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.rotor_blade_inspection.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.videoendoscopic_inspection_gearbox.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.videoendoscopic_inspection_gearbox class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.videoendoscopic_inspection_gearbox.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.periodic_inspection_wtg.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.periodic_inspection_wtg class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.periodic_inspection_wtg.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.electrical_inspection.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.electrical_inspection class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.electrical_inspection.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.external_damages.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.external_damages class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.external_damages.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.pressure_vessels.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.pressure_vessels class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.pressure_vessels.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.overhaul_working_equipment.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.overhaul_working_equipment class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.overhaul_working_equipment.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.cms.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.cms class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.cms.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.lattice_tower_maintenance.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.lattice_tower_maintenance class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.lattice_tower_maintenance.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.continued_operation.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.continued_operation class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.continued_operation.help_text }}</p>
                        </span>
                    </div>
                </div>
                <div class="text-right">
                    <input type="submit" id="submit-btn" value="&#xf0da" class="font-awesome">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#contract-name").change(function () {
      var contract_name = $(this).val();
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();
      var view_name = "{{ request.resolver_match.view_name }}";

      $.ajax({
        url: '{% url "turbines:validate_contract_name" %}',
        type: 'POST',
        data: {
          'contract_name': contract_name,
          'csrfmiddlewaretoken': csrf,
          'view_name': view_name
        },
        dataType: 'json',
        success: function (data) {
          if (data.view_name === 'turbines:new_contract') {
              if (data.similar_contracts.length <= 5) {
                    $('#similar_contracts').html("");
                    data.similar_contracts.forEach(function (contract) {$('#similar_contracts').prepend("<li>"+contract.name+"</li>")});
                    $('#similar_contracts').prepend("<p>Similar contracts already in database:</p>");
                  } else {
                    $('#similar_contracts').html("");
                    $('#similar_contracts').prepend("<li>"+data.similar_contracts.length+" similar contracts</li>");
                    $('#similar_contracts').prepend("<p>Similar contracts already in database:</p>");
                  }
                  if (data.similar_contracts.length === 0) {
                    $('#similar_contracts').html("");
                  }
                  if (data.is_taken) {
                    alert("An contract with exactly this name already exists.");
                  }
                }
            }
      });
    });

    var graduated_price_max_id = {{ graduated_price_max_id|default:0 }};

    function initializeGraduatedPriceFields(graduated_price_start_years, graduated_price_end_years, graduated_price_yearly_prices, graduated_price_ids){
        if(graduated_price_start_years == 0){
            return;
        }
        let graduated_price_start_year_fields = document.getElementsByClassName('graduated-price-start-year');
        let graduated_price_end_year_fields = document.getElementsByClassName('graduated-price-end-year');
        let graduated_price_yearly_price_fields = document.getElementsByClassName('graduated-price-yearly-price');
        let graduated_price_id_fields = document.getElementsByClassName('graduated-price-id');

        for (let i=0; i<graduated_price_start_year_fields.length; i++){
            graduated_price_start_year_fields[i].value = graduated_price_start_years[i];
            graduated_price_end_year_fields[i].value = graduated_price_end_years[i];
            graduated_price_yearly_price_fields[i].value = graduated_price_yearly_prices[i];
            graduated_price_id_fields[i].value = graduated_price_ids[i];
        }
    };
    initializeGraduatedPriceFields({{ graduated_price_start_years|default:0 }},{{ graduated_price_end_years|default:0 }},{{ graduated_price_yearly_prices|default:0 }}, {{ graduated_price_ids|default:0 }});

    function checkGraduatedPriceFields(ev){
        let graduated_price_start_year_fields = document.getElementsByClassName('graduated-price-start-year');
        let graduated_price_end_year_fields = document.getElementsByClassName('graduated-price-end-year');
        let graduated_price_yearly_price_fields = document.getElementsByClassName('graduated-price-yearly-price');
        let graduated_price_delete_fields = document.getElementsByClassName("graduated-price-delete");
        let hidden_graduated_price_delete_fields = document.getElementsByClassName('graduated-price-delete-hidden');
        for (let i=0; i<graduated_price_delete_fields.length; i++){
            if(graduated_price_start_year_fields[i].value.length == 0){
                graduated_price_start_year_fields[i].parentNode.classList.add( 'inputs--invalid' );
                return false;
            } else {
                graduated_price_start_year_fields[i].parentNode.classList.remove( 'inputs--invalid' );
            }
            if(graduated_price_yearly_price_fields[i].value.length == 0){
                graduated_price_yearly_price_fields[i].parentNode.classList.add( 'inputs--invalid' );
                return false;
            } else {
                graduated_price_yearly_price_fields[i].parentNode.classList.remove( 'inputs--invalid' );
            }
            if(graduated_price_end_year_fields[i].value.length == 0){
                graduated_price_end_year_fields[i].value = graduated_price_start_year_fields[i].value;
            }
            if(graduated_price_delete_fields[i].checked) {
                hidden_graduated_price_delete_fields[i].disabled = true;
            }
        }
        return true;
    }

    $("#add-another").click(function() {let element = $(`<div class="row">
                            <div class="col-6 col-lg-2 col-md-4">
                                <span>
                                    {{ form.graduated_price_start_year.label_tag }}
                                    <div class="input-next-to-select">
                                        {% render_field form.graduated_price_start_year class="placeholder-right graduated-price-start-year" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-2 col-md-4">
                                <span>
                                    {{ form.graduated_price_end_year.label_tag }}
                                    <div class="input-next-to-select">
                                        {% render_field form.graduated_price_end_year class="placeholder-right graduated-price-end-year" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-2 col-md-4">
                                <span>
                                    {{ form.graduated_price_yearly_price.label_tag }}
                                    <div class="input-next-to-select">
                                        {% render_field form.graduated_price_yearly_price class="placeholder-right graduated-price-yearly-price" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-2 col-md-4" style="display:none">
                                <span>
                                    {{ form.graduated_price_id.label_tag }}
                                        {% render_field form.graduated_price_id class="placeholder-right graduated-price-id" %}
                                </span>
                            </div>
                            <div class="col-6 col-lg-2 col-md-4">
                                <span>
                                    {{ form.graduated_price_delete.label_tag }}
                                    <div class="select-with-border">
                                        {% render_field form.graduated_price_delete class="placeholder-right graduated-price-delete" %}
                                    </div>
                                    <input id='id_project-graduated_price_delete-hidden' class='graduated-price-delete-hidden' type='hidden' value='No' name='contract-graduated_price_delete'>
                                </span>
                            </div>
                        </div>`);
        element.attr('name', 'gp-form-field');
        $("#graduated-prices").append(element);
        let graduated_price_id_fields = document.getElementsByClassName('graduated-price-id');
        graduated_price_id_fields[graduated_price_id_fields.length-1].value = ++graduated_price_max_id;
    })

    var all_turbines_field = $("#all_turbines_field");
    var windfarms = $("#id_windfarm").val();
    if (typeof windfarms != "undefined" && windfarms != null && windfarms.length != null && windfarms.length > 0) {
        all_turbines_field.show();
    } else {
        all_turbines_field.hide();
    };

    $("#id_windfarm").change(function () {
        var all_turbines_field = $("#all_turbines_field");
        var windfarms = $("#id_windfarm").val();
        if (typeof windfarms != "undefined" && windfarms != null && windfarms.length != null && windfarms.length > 0) {
            all_turbines_field.show();
        } else {
            all_turbines_field.hide();
        };
    });

    $("#all_turbines").change(function () {
        var turbines_field = $("#turbines_field");
        if ($("#all_turbines").is(':checked') && $("#id_windfarm").val() != "undefined" && $("#id_windfarm").val().length > 0) {
            turbines_field.hide();
        } else {
            turbines_field.show();
        };
    });

    var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
    var selects = document.querySelectorAll('select');
    for (i = 0; i < inputs.length; i ++) {
      var inputEl = inputs[i];
      if( inputEl.required ){
        var label = inputEl.parentElement.parentElement.querySelector( 'label' );
        label.innerHTML = label.innerHTML + " * ";
      }
      if( inputEl.value.trim() !== '' ) {
      	inputEl.parentNode.classList.add( 'inputs--filled' );
      }
      inputEl.addEventListener( 'focus', onFocus );
      inputEl.addEventListener( 'blur', onBlur );
    }
    for (i =0; i < selects.length; i ++) {
        var selectEl = selects[i];
        if( selectEl.required ){
            var label = selectEl.parentElement.parentElement.querySelector( 'label' );
            label.innerHTML = label.innerHTML + " * ";
        }
        if( selectEl.value.trim() !== '' ) {
            selectEl.parentNode.classList.add( 'inputs--filled' );
        }
        selectEl.addEventListener( 'focus', onFocus );
        selectEl.addEventListener( 'blur', onBlur );
    }

    function onFocus( ev ) {
        ev.target.parentNode.classList.add( 'inputs--filled' );
    }

    function onBlur( ev ) {
      if ( ev.target.value.trim() === '' ) {
      	ev.target.parentNode.classList.remove( 'inputs--filled' );
      	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
      } if ( ev.target.checkValidity() == false ) {
        ev.target.parentNode.classList.add( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
        ev.target.addEventListener( 'input', liveValidation );
        ev.target.addEventListener( 'select', liveValidation );
      } else if ( ev.target.checkValidity() == true ) {
        ev.target.parentNode.classList.remove( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
        ev.target.addEventListener( 'input', liveValidation );
        ev.target.addEventListener( 'select', liveValidation );
      }
    }

    function liveValidation( ev ) {
      if ( ev.target.checkValidity() == false ) {
        ev.target.parentNode.classList.add( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
      } else {
        ev.target.parentNode.classList.remove( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
      }
    }

    var submitBtn = document.querySelector( 'input[type=submit]' );
    submitBtn.addEventListener( 'click', onSubmit );

    function onSubmit( ev ) {
      if(!checkGraduatedPriceFields(ev)){
        ev.preventDefault();
        return;
      }
      var inputsWrappers = ev.target.parentNode.querySelectorAll( 'span' );
      for (i = 0; i < inputsWrappers.length; i ++) {
        input = inputsWrappers[i].querySelector( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel], input[type=file], select' );
        if ( input.checkValidity() == false ) {
          inputsWrappers[i].classList.add( 'inputs--invalid' );
        } else if ( input.checkValidity() == true ) {
          inputsWrappers[i].classList.remove( 'inputs--invalid' );
        }
        if ( input.type == 'tel' ){
            if( input.value === '' && !input.required){
                inputsWrappers[i].classList.remove( 'inputs--invalid' );
            }else if (!input.value.match(/^\+?1?\d{1,2}[\W\d]+(\d{1,2})$/)){
                inputsWrappers[i].classList.add( 'inputs--invalid' );
                ev.preventDefault()
            }else{
                inputsWrappers[i].classList.remove( 'inputs--invalid' );
            }
        }
      }
    }
  </script>
{% endblock %}
