{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add new Contract
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post" enctype="multipart/form-data">{% csrf_token %}
        <div class="card">
            <div class="card-header">Add a new contract</div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">General</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-8 col-md-8 col-sm-12 col-xs-12">
                                    {{ form.name.label_tag }}<br>
                                    <p class="required">{{ form.name.errors.as_text }}</p>
                                    {% render_field form.name class="form-control" %}
                                    <p class="help-text">{{ form.name.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    {{ form.file.label_tag }}<br>
                                    <p class="required">{{ form.file.errors.as_text }}</p>
                                    {% render_field form.file class="form-control" %}
                                    <p class="help-text">{{ form.file.help_text }}</p>
                                </div>
                                <div class="col-12">
                                    <ul id="similar_contracts"></ul>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    {{ form.dwt.label_tag }}<br>
                                    <p class="required">{{ form.dwt.errors.as_text }}</p>
                                    {% render_field form.dwt class="form-control" %}
                                    <p class="help-text">{{ form.dwt.help_text }}</p>
                                </div>
                                {% if request.path == '/turbine/add_contract/' %}
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    {{ form.windfarm.label_tag }}<br>
                                    <p class="required">{{ form.windfarm.errors.as_text }}</p>
                                    {% render_field form.windfarm class="form-control" %}<br>
                                    <p class="help-text">{{ form.windfarm.help_text }}</p>
                                </div>
                                {% endif %}
                                <div class="form-group col-12">
                                    {{ form.turbines.label_tag }}<br>
                                    <p class="required">{{ form.turbines.errors.as_text }}</p>
                                    {% render_field form.turbines class="form-control" %}<br>
                                    <p class="help-text">{{ form.turbines.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                    {{ form.actor.label_tag }}<br>
                                    <p class="required">{{ form.actor.errors.as_text }}</p>
                                    {% render_field form.actor class="form-control" %}
                                    <p class="help-text">{{ form.actor.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    {{ form.start_date.label_tag }}<br>
                                    <p class="required">{{ form.start_date.errors.as_text }}</p>
                                    {% render_field form.start_date class="form-control" %}
                                    <p class="help-text">{{ form.start_date.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-12">
                                    {{ form.end_date.label_tag }}<br>
                                    <p class="required">{{ form.end_date.errors.as_text }}</p>
                                    {% render_field form.end_date class="form-control" %}
                                    <p class="help-text">{{ form.end_date.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.average_remuneration.label_tag }}<br>
                                    <p class="required">{{ form.average_remuneration.errors.as_text }}</p>
                                    {% render_field form.average_remuneration class="form-control" %}
                                    <p class="help-text">{{ form.average_remuneration.help_text }}</p>
                                </div>
                                {% if request.path == '/turbine/add_contract/' or perms.turbine.change_dwt_responsible %}
                                <div class="form-group col-lg-4 col-md-6 col-sm-12 col-xs-12">
                                    {{ form.dwt_responsible.label_tag }}<br>
                                    <p class="required">{{ form.dwt_responsible.errors.as_text }}</p>
                                    {% render_field form.dwt_responsible class="form-control" %}
                                    <p class="help-text">{{ form.dwt_responsible.help_text }}</p>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-header">Availability Guarantee</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.farm_availability.label_tag }}<br>
                                    <p class="required">{{ form.farm_availability.errors.as_text }}</p>
                                    {% render_field form.farm_availability class="form-control" %}
                                    <p class="help-text">{{ form.farm_availability.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.wtg_availability.label_tag }}<br>
                                    <p class="required">{{ form.wtg_availability.errors.as_text }}</p>
                                    {% render_field form.wtg_availability class="form-control" %}
                                    <p class="help-text">{{ form.wtg_availability.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-header">Scope</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="card">
                                    <div class="card-header">Basis</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-4">
                                                    {{ form.remote_control.label_tag }}<br>
                                                    <p class="required">{{ form.remote_control.errors.as_text }}</p>
                                                    {% render_field form.remote_control class="form-control" %}
                                                    <p class="help-text">{{ form.remote_control.help_text }}</p>
                                                </div>
                                                <div class="form-group col-4">
                                                    {{ form.scheduled_maintenance.label_tag }}<br>
                                                    <p class="required">{{ form.scheduled_maintenance.errors.as_text }}</p>
                                                    {% render_field form.scheduled_maintenance class="form-control" %}
                                                    <p class="help-text">{{ form.scheduled_maintenance.help_text }}</p>
                                                </div>
                                                <div class="form-group col-4">
                                                    {{ form.additional_maintenance.label_tag }}<br>
                                                    <p class="required">{{ form.additional_maintenance.errors.as_text }}</p>
                                                    {% render_field form.additional_maintenance class="form-control" %}
                                                    <p class="help-text">{{ form.additional_maintenance.help_text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">Basis +</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-12">
                                                    {{ form.unscheduled_maintenance_personnel.label_tag }}<br>
                                                    <p class="required">{{ form.unscheduled_maintenance_personnel.errors.as_text }}</p>
                                                    {% render_field form.unscheduled_maintenance_personnel class="form-control" %}
                                                    <p class="help-text">{{ form.unscheduled_maintenance_personnel.help_text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">VWoGK</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-12">
                                                    {{ form.unscheduled_maintenance_material.label_tag }}<br>
                                                    <p class="required">{{ form.unscheduled_maintenance_material.errors.as_text }}</p>
                                                    {% render_field form.unscheduled_maintenance_material class="form-control" %}
                                                    <p class="help-text">{{ form.unscheduled_maintenance_material.help_text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">VWmGK</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-6">
                                                    {{ form.main_components.label_tag }}<br>
                                                    <p class="required">{{ form.main_components.errors.as_text }}</p>
                                                    {% render_field form.main_components class="form-control" %}
                                                    <p class="help-text">{{ form.main_components.help_text }}</p>
                                                </div>
                                                <div class="form-group col-6">
                                                    {{ form.exclusions.label_tag }}<br>
                                                    <p class="required">{{ form.exclusions.errors.as_text }}</p>
                                                    {% render_field form.exclusions class="form-control" %}
                                                    <p class="help-text">{{ form.exclusions.help_text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                                <div class="card">
                                    <div class="card-header">Options</div>
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.service_lift_maintenance.label_tag }}<br>
                                                    <p class="required">{{ form.service_lift_maintenance.errors.as_text }}</p>
                                                    {% render_field form.service_lift_maintenance class="form-control" %}
                                                    <p class="help-text">{{ form.service_lift_maintenance.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.certified_body_inspection_service_lift.label_tag }}<br>
                                                    <p class="required">{{ form.certified_body_inspection_service_lift.errors.as_text }}</p>
                                                    {% render_field form.certified_body_inspection_service_lift class="form-control" %}
                                                    <p class="help-text">{{ form.certified_body_inspection_service_lift.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.safety_inspection.label_tag }}<br>
                                                    <p class="required">{{ form.safety_inspection.errors.as_text }}</p>
                                                    {% render_field form.safety_inspection class="form-control" %}
                                                    <p class="help-text">{{ form.safety_inspection.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.safety_repairs.label_tag }}<br>
                                                    <p class="required">{{ form.safety_repairs.errors.as_text }}</p>
                                                    {% render_field form.safety_repairs class="form-control" %}
                                                    <p class="help-text">{{ form.safety_repairs.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.safety_exchange.label_tag }}<br>
                                                    <p class="required">{{ form.safety_exchange.errors.as_text }}</p>
                                                    {% render_field form.safety_exchange class="form-control" %}
                                                    <p class="help-text">{{ form.safety_exchange.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.rotor_blade_inspection.label_tag }}<br>
                                                    <p class="required">{{ form.rotor_blade_inspection.errors.as_text }}</p>
                                                    {% render_field form.rotor_blade_inspection class="form-control" %}
                                                    <p class="help-text">{{ form.rotor_blade_inspection.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.videoendoscopic_inspection_gearbox.label_tag }}<br>
                                                    <p class="required">{{ form.videoendoscopic_inspection_gearbox.errors.as_text }}</p>
                                                    {% render_field form.videoendoscopic_inspection_gearbox class="form-control" %}
                                                    <p class="help-text">{{ form.videoendoscopic_inspection_gearbox.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.periodic_inspection_wtg.label_tag }}<br>
                                                    <p class="required">{{ form.periodic_inspection_wtg.errors.as_text }}</p>
                                                    {% render_field form.periodic_inspection_wtg class="form-control" %}
                                                    <p class="help-text">{{ form.periodic_inspection_wtg.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.electrical_inspection.label_tag }}<br>
                                                    <p class="required">{{ form.electrical_inspection.errors.as_text }}</p>
                                                    {% render_field form.electrical_inspection class="form-control" %}
                                                    <p class="help-text">{{ form.electrical_inspection.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.external_damages.label_tag }}<br>
                                                    <p class="required">{{ form.external_damages.errors.as_text }}</p>
                                                    {% render_field form.external_damages class="form-control" %}
                                                    <p class="help-text">{{ form.external_damages.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.pressure_vessels.label_tag }}<br>
                                                    <p class="required">{{ form.pressure_vessels.errors.as_text }}</p>
                                                    {% render_field form.pressure_vessels class="form-control" %}
                                                    <p class="help-text">{{ form.pressure_vessels.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.overhaul_working_equipment.label_tag }}<br>
                                                    <p class="required">{{ form.overhaul_working_equipment.errors.as_text }}</p>
                                                    {% render_field form.overhaul_working_equipment class="form-control" %}
                                                    <p class="help-text">{{ form.overhaul_working_equipment.help_text }}</p>
                                                </div>
                                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                                    {{ form.cms.label_tag }}<br>
                                                    <p class="required">{{ form.cms.errors.as_text }}</p>
                                                    {% render_field form.cms class="form-control" %}
                                                    <p class="help-text">{{ form.cms.help_text }}</p>
                                                </div>
                                            </div>
                                        </div>
                                </div>
                            </div>
                        </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#contract-name").change(function () {
      var contract_name = $(this).val();
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();

      $.ajax({
        url: '{% url "turbines:validate_contract_name" %}',
        type: 'POST',
        data: {
          'contract_name': contract_name,
          'csrfmiddlewaretoken': csrf
        },
        dataType: 'json',
        success: function (data) {
          if (data.similar_contracts.length <= 5) {
            $('#similar_contracts').html("");
            data.similar_contracts.forEach(function (contract) {$('#similar_contracts').prepend("<li>"+contract.name+"</li>")});
            $('#similar_contracts').prepend("<p>Similar contracts already in database:</p>");
          } else {
            $('#similar_contracts').html("");
            $('#similar_contracts').prepend("<li>"+data.similar_contracts.length+" similar contracts</li>");
            $('#similar_contracts').prepend("<p>Similar contracts already in database:</p>");
          }
          if (data.similar_contracts.length === 0) {
            $('#similar_contracts').html("");
          }
          if (data.is_taken) {
            alert("An contract with exactly this name already exists.");
          }
        }
      });
    });
  </script>
{% endblock %}