{% extends "polls/base.html" %}
{% load static %}
{% load l10n %}
{% load mathfilters %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12" style="margin-top:1rem;">
            <h1>{{ contract.name }}
            <span>
                {% if perms.turbine.can_terminate_contract %}
                    {% if not contract.termination_date and not contract.termination_reason %}
                    <a class="btn btn-primary btn-sm pull-right" href="{% url 'turbines:terminate_contract' contract.id %}" id="terminate_contract_button"><i class="fa fa-trash"></i> Terminate</a>
                    {% endif %}
                {% endif %}
                {% if perms.turbine.change_contract %}
                    <a class="btn btn-primary btn-sm pull-right" href="{% url "turbines:contract_edit" contract.id %}"><i class="fa fa-edit"></i> Edit</a>
                {% endif %}
            </span>
            </h1>
            <h3>{% if contract.termination_date or contract.termination_reason %}Terminated: {% endif %}{{ contract.contract_scope }}</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <table class="table" style="table-layout: fixed;">
            {% if contract.termination_date or contract.termination_reason %}
            <tr>
                <th>Termination Reason</th>
                <td>{{ contract.termination_reason }}</td>
                <th>Termination Date</th>
                <td>{{ contract.termination_date }}</td>
            </tr>
            {% endif %}
            <tr>
                <th {% if perms.turbine.can_view_contract_pdf and contract.file %} colspan="3"{% else %}colspan="4"{% endif %}>General</th>
                {% if perms.turbine.can_view_contract_pdf and contract.file %}
                    <td><a href="/media/{{ contract.file }}"><i class="fa fa-file"></a></td>
                {% endif %}
            </tr>
            <tr>
                <th>DWT Unit</th>
                <td {% if contract.dwt_responsible %}{% else %}colspan="3"{% endif %}>{{ contract.dwt }}</td>
                {% if contract.dwt_responsible %}
                <th>DWT Responsible</th>
                <td>{{ contract.dwt_responsible }}</td>
                {% endif %}
            </tr>
            {% if contract.turbines.all|length > 0 %}
            {% if contract.contracted_windfarm %}
                <tr>
                    <th>Wind Farm</th>
                    <td colspan="3">
                        {% for wf, link in contract.contracted_windfarm.items %}
                        <a href="{{ link }}">{{ wf }}</a>
                        {% endfor %}
                    </td>
                </tr>
            {% endif %}
            <tr>
                <th>Turbines</th>
                <td>Amount: {{ contract.amount_turbines }}</td>
                <td colspan="2">Power: {{ contract.mw }} MW</td>
            </tr>
            <tr>
                <td></td>
                {% for wec_type, link in contract.contracted_wec_types.items %}
                {% with modulus=forloop.counter|mod:4 %}
                    <td {% if forloop.last %} colspan="{{ 4|sub:modulus }}" {% endif %}>
                        <a href="{{ link }}">{{ wec_type }} </a>
                    </td>
                {% endwith %}
                {% endfor %}
            </tr>
            {% for t in contract.turbines.all %}
            {% if forloop.counter0|divisibleby:3 %}
                    <tr>
                        <td></td>
                {% endif %}
                {% with modu=forloop.counter|mod:3 %}
                    <td {% if forloop.last and modu != 0 %} colspan="{{ 4|sub:modu }}" {% endif %}>
                        <a href="{{ t.get_absolute_url }}">{{ t }} </a>
                    </td>
                {% endwith %}
                {% if forloop.counter|divisibleby:3 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            {% else %}
            <tr>
                <th colspan="4" style="color:red">Assign turbines to this contract</th>
            </tr>
            {% endif %}
            <tr>
                <th colspan="4">Contract Details</th>
            </tr>
            <tr>
                <th>Start Date</th>
                <td>{{ contract.start_date }}</td>
                <th>End Contact</th>
                <td>{{ contract.end_date }}</td>
            </tr>
            <tr>
                <th>Contractual Partner</th>
                <td colspan="3">
                   <a href="{{ contract.actor.get_absolute_url }}">{{ contract.actor }}</a>
                </td>
            </tr>
            {% if contract.average_remuneration %}
            <tr>
                <th>Average Yearly Remuneration</th>
                <td colspan="3">{{ contract.average_remuneration }}
                    {% if contract.dwt == "DWTUK" %}
                    £
                    {% elif contract.dwt == "DWTUS" %}
                    $
                    {% else %}
                    €
                    {% endif %}
                    /WTG/year</td>
            </tr>
            {% endif %}
            {% if contract.farm_availability %}
            <tr>
                <th>Availability Guarantee</th>
                <td {% if contract.wtg_availability %}{% else %}colspan="2"{% endif %}>{{ contract.farm_availability }}% farm availability</td>
                {% if contract.wtg_availability %}
                <td>{{ contract.wtg_availability }}% single WTG availability</td>
                {% endif %}
                <td>{{ contract.availability_type }}</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="4">Services included</th>
            </tr>
            <tr>
                <th>
                    Remote Control
                    {% if contract.remote_control == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </th>
                <th>
                    Scheduled Maintenance
                    {% if contract.scheduled_maintenance == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </th>
                <th>
                    Unscheduled Maintenance
                    {% if contract.unscheduled_maintenance_personnel == True or contract.unscheduled_maintenance_material == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </th>
                <th>
                    Main Components
                    {% if contract.main_components == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </th>
            </tr>
            <tr>
                <td>
                    24/7
                    {% if contract.remote_control == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Man power
                    {% if contract.scheduled_maintenance == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Man power
                    {% if contract.unscheduled_maintenance_personnel == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Man power
                    {% if contract.main_components == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>Technical Operation
                    {% if contract.technical_operation == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}</th>
                <td>
                    Material
                    {% if contract.scheduled_maintenance == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Material
                    {% if contract.unscheduled_maintenance_material == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Main Components
                    {% if contract.main_components == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    Add. Maintenance (Type IV)
                    {% if contract.additional_maintenance == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td></td>
                <td>
                    exclusions:
                    {% if contract.exclusions.all|length > 0 %}
                        {% for e in contract.exclusions.all %}
                            {% if forloop.last %}
                                {{ e }}
                            {% else %}
                                {{ e }},
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        None
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th colspan="4">Options</th>
            </tr>
            <tr>
                <td>
                    Service Lift Maintenance
                    {% if contract.service_lift_maintenance == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Rotor Blade Inspection
                    {% if contract.rotor_blade_inspection == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Gearbox Videoendoscopy
                    {% if contract.videoendoscopic_inspection_gearbox == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    External Damages
                    {% if contract.external_damages == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Inspection of service lift by certified body (ZÜS)
                    {% if contract.certified_body_inspection_service_lift == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Machine & Tower (WKP)
                    {% if contract.periodic_inspection_wtg == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Electrical Inspection (DGUV V3)
                    {% if contract.electrical_inspection == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Pressure Vessels
                    {% if contract.pressure_vessels == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Safety-related inspection (service lift, safety equipment, etc.)
                    {% if contract.safety_inspection == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Repair of service lift, safety equipment, etc
                    {% if contract.safety_repairs == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    Exchange of service lift, safety equipment, etc
                    {% if contract.safety_exchange == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td>
                    General Overhaul of working equipment (winch, on-board-crane, etc.)
                    {% if contract.overhaul_working_equipment == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>
                    Condition Monitoring
                    {% if contract.cms == True %}
                        <i class="fa fa-check pull-right" style="color:green;"></i>
                    {% else %}
                        <i class="fa fa-times pull-right" style="color:red;"></i>
                    {% endif %}
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            {% if perms.turbine.can_comment_contracts %}
            <tr>
                <th colspan="4"><a class="btn btn-primary pull-right" href="{% url "turbines:new_comment" contract_id=contract.pk %}"><i class="fa fa-plus"></i> Add Comment</a></th>
            </tr>
            {% endif %}
            {% if comments.all|length > 0 %}
            <tr>
                <th colspan="4">Comments</th>
            </tr>
            {% for c in comments.all %}
            <tr>
                <td>{{ c.created }} by {{ c.created_by }}</td>
                <td colspan="2">{{ c.text }}</td>
                {% if c.file %}
                <td>
                    <table style="border-collapse: collapse; border:none;" class="pull-right">
                        <tr style="border:none;">
                            <td style="border:none;"><a href="/media/{{ c.file }}"><i class="fa fa-file pull-right"></a></td>
                            <td style="border:none;">{% if perms.turbine.can_comment_contracts %}<a href="{% url "turbines:edit_comment" pk=c.pk contract_id=contract.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                        </tr>
                    </table>
                </td>
                {% else %}
                <td>{% if perms.turbine.can_comment_contracts %}<a href="{% url "turbines:edit_comment" pk=c.pk contract_id=contract.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            <tr class="table-row-header">
                <th colspan="4">Change history <i class="fa fa-plus pull-right"></i></th>
            </tr>
            {% for ch in changes.all %}
            <tr class="collapse-row">
                <td>{{ ch.created }} by {{ ch.created_by }}</td>
                <td colspan="2">{{ ch.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script type="text/javascript">
$('.table-row-header').click(function(){
    $(this).nextUntil('.table-row-header').css('display', function(i,v){
        return this.style.display === 'table-row' ? 'none' : 'table-row';
    });
});
</script>
{% endblock %}