{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Contracts
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container">
    <h1 class="page-header">Contracts</h1>
</div>
<div class="container">
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
            {% if perms.projects.has_sales_status %}
            <a class="btn btn-primary pull-right" href="{% url "turbines:contract_csv" %}"><i class="fa fa-table"></i> Custom Export</a>
            <a class="btn btn-primary pull-right" href="{% url "turbines:new_contract" %}"><i class="fa fa-plus"></i> Add Contract</a>
            {% endif %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.dwt.label_tag }}<br>
                        {% render_field filter.form.dwt class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.actor.label_tag }}<br>
                        {% render_field filter.form.actor class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.turbines__wind_farm.label_tag }}<br>
                        {% render_field filter.form.turbines__wind_farm class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.turbines__wec_typ__manufacturer.label_tag }}<br>
                        {% render_field filter.form.turbines__wec_typ__manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.turbines__wec_typ.label_tag }}<br>
                        {% render_field filter.form.turbines__wec_typ class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.start_date.label_tag }}<br>
                        {% render_field filter.form.start_date class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.end_date.label_tag }}<br>
                        {% render_field filter.form.end_date class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                    <i class="fa fa-search"></i> Search
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ filter.qs.count }} Contracts<br>{{ filter.amount_wtgs }} turbines</p>
            </div>
        </div>
    </form>
</div>

<div class="container" id="list">
    {% render_table table %}
</div>
<div class="container" style="display:block; margin-left:auto; margin-right:auto;margin-top:20px; border-style:solid solid none solid; border-width: 2px; border-color: #092f57; background-color: #bed5e7;">
    Show / Hide elements on map:
    <input id="ServiceLocationCheckbox" type=checkbox onclick="toggleGroup('servicelocation')" checked="checked" style="display: inline;"/ >
    <label for="ServiceLocationCheckbox" style="display: inline;">Service Locations</label>
</div>
<div class="container" id="map" style="width: 100%; height: 600px;"></div>

<script type="text/javascript">

    var customIcons = {
        servicelocation: {
            icon: '/media/error.png'
        },
        contract: {
            icon: '/media/wind_turbine.png'
        },
    };

    var markerGroups = {
            "servicelocation": [],
            "contract": [],
        };

    function initMap() {

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: 52.071876, lng: 8.441456}
        });

        var infoWindow = new google.maps.InfoWindow();

        var contracts = {{json|safe}}
        var service_locations = {{ service_locations|safe }}
        var service_locations_dwts = {{ service_locations_dwts|safe }}

        var markers = [];
        var locations = [];
        for (i = 0; i < contracts.length; i++) {
                var url_parts = ["<b><a href=/turbine/contract/", contracts[i]["pk"], ">", contracts[i]["contracted_windfarm_name"], "</a><br>", contracts[i]["amount_turbines"], "x ", contracts[i]["contracted_wec_types_name"], "</br>"];
                var url = url_parts.join("");
                locations.push([new google.maps.LatLng(contracts[i]["contract_coordinates"]["latitude"], contracts[i]["contract_coordinates"]["longitude"]), url, 'contract'])
            };
        for (i = 0; i < service_locations.length; i++) {
                var url_parts = ['<b>', service_locations[i]["name"], '<br>' + service_locations[i]["dwt"], '<br>', service_locations[i]["location_type"], '</br>'];
                var url = url_parts.join("");
                locations.push([new google.maps.LatLng(service_locations[i]["latitude"], service_locations[i]["longitude"]), url, 'servicelocation'])
            };

        for (i = 0; i < service_locations_dwts.length; i++) {
                var url_parts = ['<b>', service_locations_dwts[i]["name"], '<br>' + service_locations_dwts[i]["dwt"], '<br>', service_locations_dwts[i]["location_type"], '</br>'];
                var url = url_parts.join("");
                locations.push([new google.maps.LatLng(service_locations_dwts[i]["latitude"], service_locations_dwts[i]["longitude"]), url, 'servicelocation'])
            };

        for (var i=0; i< locations.length; i++) {
            var html = locations[i][1];
            var type = locations[i][2];
            var point = locations[i][0];
            var marker = createMarker(map, point, html, type);
            markers.push(marker);
            bindInfoWindow(marker, map, infoWindow, html);
            }
    }
    function createMarker(map, point, html, type) {
            var icon = customIcons[type] || {};
            var marker = new google.maps.Marker({
                map: map,
                position: point,
                icon: {url: icon.icon, scaledSize: new google.maps.Size(32, 32)},
                type: type
            });
            if (!markerGroups[type]) markerGroups[type] = [];
            markerGroups[type].push(marker);
            return marker;
        }

    function toggleGroup(type) {
        for (var i = 0; i < markerGroups[type].length; i++) {
            var marker = markerGroups[type][i];
            if (!marker.getVisible()) {
              marker.setVisible(true);
            } else {
              marker.setVisible(false);
            }
          }
        }

    function bindInfoWindow(marker, map, infoWindow, html) {
            google.maps.event.addListener(marker, 'click', function () {
                infoWindow.setContent(html);
                infoWindow.open(map, marker);

            });
        }
    </script>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:-10vw">{{ manufacturers_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:10vw">{{ wec_type_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:-10vw">{{ customer_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:10vw">{{ age_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:-10vw">{{ country_chart.as_html }}</div>
    </div>
</div>

    <script src="/static/js/markerclusterer.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPf2vVr8toXpXJ2TLInDRjWS4cLQ5tzAk&callback=initMap"></script>
{% endblock %}