{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Turbines" %}
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">{% trans "Turbines" %}</h1>
        </div>
        <div class="col-12">
            <form action="" method="get">
                <div class="card">
                    <div class="card-header">Filter
                        {% if perms.turbine.add_turbine %}
                            <a class="btn btn-primary pull-right" href="{% url "turbines:new_turbine" %}"><i class="fa fa-plus"></i></a>
                        {% endif %}
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.wind_farm.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.wind_farm class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.wec_typ__manufacturer.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.wec_typ__manufacturer class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.wec_typ.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.wec_typ class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-2">
                                <span>
                                    {{ filter.form.turbine_id.label_tag }}
                                    <div class="input-next-to-select">
                                        {% render_field filter.form.turbine_id class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-2">
                                <span>
                                    {{ filter.form.offshore.label_tag }}
                                    <div class="select-with-border">
                                        {% render_field filter.form.offshore class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.status.label_tag }}
                                    <div class="select-with-border">
                                        {% render_field filter.form.status class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.commisioning_year.label_tag }}
                                    <div class="input-next-to-select">
                                        {% render_field filter.form.commisioning_year class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.dismantling_year.label_tag }}
                                    <div class="input-next-to-autocomplete">
                                        {% render_field filter.form.dismantling_year class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.owner.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.owner class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.developer.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.developer class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.asset_management.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.asset_management class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-66 col-md-4">
                                <span>
                                    {{ filter.form.tec_operator.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.tec_operator class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.com_operator.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.com_operator class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.service.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.service class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-md-4">
                                <span>
                                    {{ filter.form.wind_farm__country.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.wind_farm__country class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left">
                            <i class="fa fa-search"></i>
                        </button>
                        <p class="pull-right" style="font-weight:bold">{{ filter.qs.count }} {% trans "Turbines" %}</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12" id="list">
            {% render_table table %}
        </div>
        <div class="col-12 col-md-6 chart">{{ manufacturers_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ wec_type_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">>{{ status_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ country_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ offshore_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ year_chart.as_html }}</div>
    </div>
</div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        var selects = document.querySelectorAll('select');
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.value.trim() !== '' ) {
          	inputEl.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }
        for (i =0; i < selects.length; i ++) {
            var selectEl = selects[i];
            if( selectEl.value.trim() !== '' ) {
                selectEl.parentNode.classList.add( 'inputs--filled' );
            }
            selectEl.addEventListener( 'focus', onFocus );
            selectEl.addEventListener( 'blur', onBlur );
        }

        function onFocus( ev ) {
            ev.target.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.classList.remove( 'inputs--filled' );
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          }
        }
    </script>
{% endblock %}