{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Turbines
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container">
    <h1 class="page-header">Turbines</h1>
</div>
<div class="container">
    <form action="" method="get">
        <div class="card">
            <div class="card-header">Filter
            {% if perms.projects.has_sales_status %}
            <a class="btn btn-primary pull-right" href="{% url "turbines:new_turbine" %}"><i class="fa fa-plus"></i> Add Turbine</a>
            {% endif %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.wind_farm.label_tag }}<br>
                        {% render_field filter.form.wind_farm class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.wec_typ__manufacturer.label_tag }}<br>
                        {% render_field filter.form.wec_typ__manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.wec_typ.label_tag }}<br>
                        {% render_field filter.form.wec_typ class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-md-2 col-xs-6">
                        {{ filter.form.turbine_id.label_tag }}<br>
                        {% render_field filter.form.turbine_id class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-sm-6 col-md-2 col-xs-6">
                        {{ filter.form.offshore.label_tag }}<br>
                        {% render_field filter.form.offshore class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.status.label_tag }}<br>
                        {% render_field filter.form.status class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.commisioning.label_tag }}<br>
                        {% render_field filter.form.commisioning class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.dismantling.label_tag }}<br>
                        {% render_field filter.form.dismantling class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.owner.label_tag }}<br>
                        {% render_field filter.form.owner class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.developer.label_tag }}<br>
                        {% render_field filter.form.developer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.asset_management.label_tag }}<br>
                        {% render_field filter.form.asset_management class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.tec_operator.label_tag }}<br>
                        {% render_field filter.form.tec_operator class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.com_operator.label_tag }}<br>
                        {% render_field filter.form.com_operator class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.service.label_tag }}<br>
                        {% render_field filter.form.service class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-sm-6 col-md-4 col-xs-6">
                        {{ filter.form.wind_farm__country.label_tag }}<br>
                        {% render_field filter.form.wind_farm__country class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                    <i class="fa fa-search"></i> Search
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ filter.qs.count }} Turbines</p>
            </div>
        </div>
    </form>
</div>
<div class="container">
    <ul style="list-style-type: none; margin: 0; padding: 0; overflow: hidden; background-color: #092f57;">
      <li style="float: left"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" class="active" href="#list">List</a></li>
      <li style="float: left"><a style="display: block; color: white; text-align: center; padding: 14px 16px; text-decoration: none;" onClick="initMap();" href="#map">Map</a></li>
    </ul>
</div>
<div class="container" id="list">
    {% render_table table %}
</div>
<div class="container" id="map" style="width: 100%; height: 600px;"></div>
<p>{{ service_locations }}</p>
<script type="text/javascript">
    function initMap() {
        var turbines = {{json|safe}}
        var infowindows = null;

        var locations = [];
        for (i = 0; i < turbines.length; i++) {
                locations.push([new google.maps.LatLng(turbines[i]["latitude"], turbines[i]["longitude"]), '<b>' + '<a href="http://iwedb.tk/turbine/'+turbines[i]["pk"]+'/'+turbines[i]["slug"]+'/'+'">'+ turbines[i]["turbine_id"] + '</a></br>', 'http://iwedb.tk/media/wind_turbine.png'])
            };

        infowindow = new google.maps.InfoWindow({
            content: "holding..."
        });

        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 5,
          center: {lat: 52.071876, lng: 8.441456}
        });

        var markers = locations.map(function(location, i) {
            return new google.maps.Marker({
                position: location[0],
                title: location[1],
                icon: location[2]
            });
        });

        for (var i=0; i< markers.length; i++) {
            var marker = markers[i];
            google.maps.event.addListener(marker, 'click', function() {
                infowindow.setContent(this.title);
                infowindow.open(map, this);
            });}

        var markerCluster = new MarkerClusterer(map, markers, {styles: [
        {
            textColor: 'white',
            url: '/static/img/m/m1.png',
            height: 52,
            width: 53
        },
        {
            textColor: 'white',
            url: '/static/img/m/m2.png',
            height: 55,
            width: 56
        },
        {
            textColor: 'white',
            url: '/static/img/m/m3.png',
            height: 65,
            width: 66
        },
        {
            textColor: 'white',
            url: '/static/img/m/m4.png',
            height: 77,
            width: 78
        },
        {
            textColor: 'white',
            url: '/static/img/m/m5.png',
            height: 89,
            width: 90
        }
    ]
        });
    }
    </script>

    <script src="/static/js/markerclusterer.js"></script>
    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPf2vVr8toXpXJ2TLInDRjWS4cLQ5tzAk&callback=initMap"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:-10rem">{{ manufacturers_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:10rem">{{ wec_type_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:-10rem">{{ status_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:10rem">{{ country_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:-10rem">{{ offshore_chart.as_html }}</div>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12" style="margin-left:10rem">{{ year_chart.as_html }}</div>
    </div>
</div>
{% endblock %}