{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Add new Turbine" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container-fluid">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <div class="row">
        <div class="col-12">
            <h1>{% trans "Add/Edit a turbine" %}</h1>
        </div>
        <div class="col-12">
            <form action="" method="post">{% csrf_token %}
                <div class="row">
                    <div class="col-12 col-lg-3 col-md-4">
                        <span>
                            {{ form.turbine_id.label_tag }}
                            <div class="input-next-to-autocomplete">
                                {% render_field form.turbine_id class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.turbine_id.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.wind_farm.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.wind_farm class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.wind_farm.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.wec_typ.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.wec_typ class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.wec_typ.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12">
                        <ul id="similar_turbine_ids"></ul>
                    </div>
                    <div class="col-12 col-md-2">
                        <span>
                            {{ form.offshore.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.offshore class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.offshore.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-2">
                        <span>
                            {{ form.hub_height.label_tag }}
                            <div class="input-next-to-select">
                                {% render_field form.hub_height class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.hub_height.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-2">
                        <span>
                            {{ form.scada_nr.label_tag }}
                            <div class="input-next-to-select">
                                {% render_field form.scada_nr class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.scada_nr.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>Status</h1>
                <div class="row">
                    <div class="col-12 col-md-2">
                        <span>
                            {{ form.status.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.status class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.status.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>
                            {{ form.commisioning_year.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.commisioning_year class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.commisioning_year.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>
                            {{ form.commisioning_month.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.commisioning_month class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.commisioning_month.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-4 col-md-2">
                        <span>
                            {{ form.commisioning_day.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.commisioning_day class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.commisioning_day.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.under_contract_until.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.under_contract_until class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.under_contract_until.help_text }}</p>
                        </span>
                    </div>
                    <div id="dismantling_year" class="col-4 col-md-2">
                        <span>
                            {{ form.dismantling_year.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.dismantling_year class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.dismantling_year.help_text }}</p>
                        </span>
                    </div>
                    <div id="dismantling_month" class="col-4 col-lg-1 col-md-2">
                        <span>
                            {{ form.dismantling_month.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.dismantling_month class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.dismantling_month.help_text }}</p>
                        </span>
                    </div>
                    <div id="dismantling_day" class="col-4 col-lg-1 col-md-2">
                        <span>
                            {{ form.dismantling_day.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.dismantling_day class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.dismantling_day.help_text }}</p>
                        </span>
                    </div>
                    <div id="repowered" class="col-6 col-md-2">
                        <span>
                            {{ form.repowered.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.repowered class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.repowered.help_text }}</p>
                        </span>
                    </div>
                    <div id="subsequent" class="col-6 col-md-4">
                        <span>
                            {{ form.follow_up_wec.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.follow_up_wec class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.follow_up_wec.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>{% trans "Location" %}</h1>
                <div class="row">
                    <div class="col-12 col-md-2">
                        <span>
                            {{ form.latitude.label_tag }}
                            <div class="">
                                {% render_field form.latitude class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.latitude.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-2">
                        <span>
                            {{ form.longitude.label_tag }}
                            <div class="">
                                {% render_field form.longitude class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.longitude.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-lg-2 col-md-4">
                        <span>
                            {{ form.osm_id.label_tag }}
                            <div class="">
                                {% render_field form.osm_id class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.osm_id.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>{% trans "Actors" %}</h1>
                <div class="row">
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.developer.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.developer class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.developer.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.asset_management.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.asset_management class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.asset_management.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.com_operator.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.com_operator class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.com_operator.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.tec_operator.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.tec_operator class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.tec_operator.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.service.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.service class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.service.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-12 col-md-4">
                        <span>
                            {{ form.owner.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.owner class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.owner.help_text }}</p>
                        </span>
                    </div>
                </div>
                <div class="text-right">
                    <input type="submit" id="submit-btn" value="&#xf0da" class="font-awesome">
                </div>
            </form>
        </div>
    </div>
</div>
{% block javascript %}
<script type="text/javascript">
    $("#turbine_id_form_field").change(function () {
      var turbine_id = $(this).val();
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();
      var view_name = "{{ request.resolver_match.view_name }}";

      $.ajax({
        url: '{% url "turbines:validate_turbine_id" %}',
        type: 'POST',
        data: {
          'turbine_id': turbine_id,
          'csrfmiddlewaretoken': csrf,
          'view_name': view_name
        },
        dataType: 'json',
        success: function (data) {
          if (data.view_name === 'turbines:new_turbine') {
              if (data.similar_turbine_ids.length <= 5) {
                    $('#similar_turbine_ids').html("");
                    data.similar_turbine_ids.forEach(function (turbine) {$('#similar_turbine_ids').prepend("<li>"+turbine.turbine_id+"</li>")});
                    $('#similar_turbine_ids').prepend("<p>Similar turbine already in database:</p>");
                  } else {
                    $('#similar_turbine_ids').html("");
                    $('#similar_turbine_ids').prepend("<li>"+data.similar_turbine_ids.length+" similar turbine</li>");
                    $('#similar_turbine_ids').prepend("<p>Similar turbines already in database:</p>");
                  }
                  if (data.similar_turbine_ids.length === 0) {
                    $('#similar_turbine_ids').html("");
                  }
                  if (data.is_taken) {
                    alert("An turbine with exactly this turbine id already exists.");
                  }
                }
            }
      });
    });

    var dismantling_year_field = $("#dismantling_year");
    var dismantling_month_field = $("#dismantling_month");
    var dismantling_day_field = $("#dismantling_day");
    var repowered_field = $("#repowered");
    var subsequent_field = $("#subsequent");
        if ($("#status_id").val() !== "dismantled") {
        dismantling_year_field.hide()
        dismantling_month_field.hide()
        dismantling_day_field.hide()
        repowered_field.hide()
        subsequent_field.hide()
    };
    $("#status_id").change(function () {
        if ($(this).val() === 'dismantled') {
            dismantling_year_field.show();
            dismantling_month_field.show();
            dismantling_day_field.show();
            repowered_field.show();
            subsequent_field.show();
        } else {
            dismantling_year_field.hide();
            dismantling_month_field.hide();
            dismantling_day_field.hide();
            repowered_field.hide();
            subsequent_field.hide();
        }
    });
  </script>
{% endblock %}
<script type="text/javascript">
    var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        var selects = document.querySelectorAll('select');
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.required ){
            var label = inputEl.parentElement.querySelector( 'label' );
            label.innerHTML = label.innerHTML + " * ";
          }
          if( inputEl.value.trim() !== '' ) {
          	inputEl.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }
        for (i =0; i < selects.length; i ++) {
            var selectEl = selects[i];
            if( selectEl.required ){
                var label = selectEl.parentElement.parentElement.querySelector( 'label' );
                label.innerHTML = label.innerHTML + " * ";
            }
            if( selectEl.value.trim() !== '' ) {
                selectEl.parentNode.classList.add( 'inputs--filled' );
            }
            selectEl.addEventListener( 'focus', onFocus );
            selectEl.addEventListener( 'blur', onBlur );
        }

        function onFocus( ev ) {
            ev.target.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.classList.remove( 'inputs--filled' );
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          } if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.classList.add( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
            ev.target.addEventListener( 'select', liveValidation );
          } else if ( ev.target.checkValidity() == true ) {
            ev.target.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
            ev.target.addEventListener( 'select', liveValidation );
          }
        }

        function liveValidation( ev ) {
          if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.classList.add( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
          } else {
            ev.target.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
          }
        }

        var submitBtn = document.querySelector( 'input[type=submit]' );
        submitBtn.addEventListener( 'click', onSubmit );

        function onSubmit( ev ) {
          var inputsWrappers = ev.target.parentNode.querySelectorAll( 'span' );
          for (i = 0; i < inputsWrappers.length; i ++) {
            input = inputsWrappers[i].querySelector( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel], input[type=file], select' );
            if ( input.checkValidity() == false ) {
              inputsWrappers[i].classList.add( 'inputs--invalid' );
            } else if ( input.checkValidity() == true ) {
              inputsWrappers[i].classList.remove( 'inputs--invalid' );
            }
            if ( input.type == 'tel' ){
                if( input.value === '' && !input.required){
                    inputsWrappers[i].classList.remove( 'inputs--invalid' );
                }else if (!input.value.match(/^\+?1?\d{1,2}[\W\d]+(\d{1,2})$/)){
                    inputsWrappers[i].classList.add( 'inputs--invalid' );
                    ev.preventDefault()
                }else{
                    inputsWrappers[i].classList.remove( 'inputs--invalid' );
                }
            }
          }
        }
  </script>
{% endblock %}