{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add new Turbine
{% endblock %}

{% block content %}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">Add a new turbine
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.turbine_id.label_tag }}
                        {{ form.turbine_id.errors }}
                        {% render_field form.turbine_id class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.wind_farm.label_tag }}
                        {{ form.wind_farm.errors }}
                        {% render_field form.wind_farm class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.wec_manufacturer.label_tag }}
                        {{ form.wec_manufacturer.errors }}
                        {% render_field form.wec_manufacturer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.wec_typ.label_tag }}
                        {{ form.wec_typ.errors }}
                        {% render_field form.wec_typ class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.latitude.label_tag }}
                        {{ form.latitude.errors }}
                        {% render_field form.latitude class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.longitude.label_tag }}
                        {{ form.longitude.errors }}
                        {% render_field form.longitude class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.hub_height.label_tag }}
                        {{ form.hub_height.errors }}
                        {% render_field form.hub_height class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.commisioning.label_tag }}
                        {{ form.commisioning.errors }}
                        {% render_field form.commisioning class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.dismantling.label_tag }}
                        {{ form.dismantling.errors }}
                        {% render_field form.dismantling class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.developer.label_tag }}
                        {{ form.developer.errors }}
                        {% render_field form.developer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.com_operator.label_tag }}
                        {{ form.com_operator.errors }}
                        {% render_field form.com_operator class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.tec_operator.label_tag }}
                        {{ form.tec_operator.errors }}
                        {% render_field form.tec_operator class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.owner.label_tag }}
                        {{ form.owner.errors }}
                        {% render_field form.owner class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.service.label_tag }}
                        {{ form.service.errors }}
                        {% render_field form.service class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.offshore.label_tag }}
                        {{ form.offshore.errors }}
                        {% render_field form.offshore class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.status.label_tag }}
                        {{ form.status.errors }}
                        {% render_field form.status class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.repowered.label_tag }}
                        {{ form.repowered.errors }}
                        {% render_field form.repowered class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-2 col-sm-6 col-xs-6">
                        {{ form.follow_up_wec.label_tag }}
                        {{ form.follow_up_wec.errors }}
                        {% render_field form.follow_up_wec class="form-control" %}
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}