{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Bank Data" %}</h2>
    <span>
      <label for="bank_institute" class="text-small-uppercase">{% trans "Credit Institute" %}</label>
      {% render_field form.bank_institute class="text-body input-select" %}
      <p class="help-text">{{ form.bank_institute.help_text }}</p>
    </span>
    <span>
      <label for="iban" class="text-small-uppercase">IBAN</label>
      {% render_field form.iban class="text-body" %}
      <p class="help-text">{{ form.iban.help_text }}</p>
    </span>
    <span>
      <label for="bic" class="text-small-uppercase">BIC</label>
      {% render_field form.bic class="text-body" %}
      <p class="help-text">{{ form.bic.help_text }}</p>
    </span>
    <!--<span>
      <label for="vat_nr" class="text-small-uppercase">{% trans "VAT number" %}</label>
      {% render_field form.vat_nr class="text-body" %}
      <p class="help-text">{{ form.vat_nr.help_text }}</p>
    </span>-->
{% endblock %}