{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2>{% trans "Base information" %}</h2>
    <span>
        <label for="scope">{% trans "Scope" %}</label>
        <div class="select-with-border">
          {% render_field form.scope class="placeholder-right" %}
        </div>
        <p class="help-text">{{ form.scope.help_text }}</p>
    </span>
    <span>
      <label for="wind_farm_name">{% trans "Wind Farm" %}</label>
      <div class="input-next-to-select">
        {% render_field form.wind_farm_name class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.wind_farm_name.help_text }}</p>
    </span>
    <span>
      <label for="street_nr">{% trans "Street and house number" %}</label>
      <div class="input-next-to-select">
        {% render_field form.street_nr class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.street_nr.help_text }}</p>
    </span>
    <span>
      <label for="postal_code">{% trans "Postal Code" %}</label>
      <div class="input-next-to-select">
        {% render_field form.postal_code class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.postal_code.help_text }}</p>
    </span>
    <span>
      <label for="city">{% trans "City" %}</label>
      <div class="input-next-to-select">
        {% render_field form.city class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.city.help_text }}</p>
    </span>
    <span>
      <label for="location_details">{% trans "Location Details" %}</label>
      <div class="input-next-to-select">
        {% render_field form.location_details class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.location_details.help_text }}</p>
    </span>
    <span>
      <label for="amount_wec">{% trans "Amount of Turbines" %}</label>
      <div class="input-next-to-select">
        {% render_field form.amount_wec class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.amount_wec.help_text }}</p>
    </span>
{% endblock %}

{% block buttons %}
    <div class="row">
        <div class="col-lg-6">
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "prev step" %}</button>
        {% endif %}
        </div>
        <div class="text-right col-lg-6">
            <input id="submit" type="submit" value="{% trans 'next step' %}">
        </div>
    </div>
    <p></p>
    <p class="help-text"> * {% trans "indicates a required field" %} </p>
    <h3 class="page-counter">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>
{% endblock %}

