{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form.management_form }}
    <h2 class="text-headline">{% trans "Communication" %}</h2>
    <span>
      <label for="it_contact" class="text-small-uppercase">{{ form.it_contact_person.label }}</label>
      {% render_field form.it_contact_person class="text-body" %}
      <p class="help-text">{{ form.it_contact_person.help_text }}</p>
    </span>
    <span>
      <label for="it_phone" class="text-small-uppercase">{{ form.it_phone.label }}</label>
      {% render_field form.it_phone class="text-body" %}
      <p class="help-text">{{ form.it_phone.help_text }}</p>
    </span>
    <span>
      <label for="it_mail" class="text-small-uppercase">{{ form.it_mail.label }}</label>
      {% render_field form.it_mail class="text-body" %}
      <p class="help-text">{{ form.it_mail.help_text }}</p>
    </span>
    <span>
      <label for="substation" class="text-small-uppercase">{{ form.substation.label }}</label>
      {% render_field form.substation class="text-body" %}
      <p class="help-text">{{ form.substation.help_text }}</p>
    </span>
    <span>
      <label for="metering_point" class="text-small-uppercase">{{ form.metering_point.label }}</label>
      {% render_field form.metering_point class="text-body" %}
      <p class="help-text">{{ form.metering_point.help_text }}</p>
    </span>
    <span>
      <label for="direct_marketer" class="text-small-uppercase">{{ form.direct_marketer.label }}</label>
      {% render_field form.direct_marketer class="text-body" %}
      <p class="help-text">{{ form.direct_marketer.help_text }}</p>
    </span>
    <span>
      <label for="grid_operator" class="text-small-uppercase">{{ form.grid_operator.label }}</label>
      {% render_field form.grid_operator class="text-body" %}
      <p class="help-text">{{ form.grid_operator.help_text }}</p>
    </span>
    {% if wizard.steps.prev %}
        <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "first step" %}</button>
        <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "prev step" %}</button>
    {% endif %}
    <input class="text-small-uppercase" id="submit" type="submit" value="{% trans 'Next Step' %}">
    <p></p>
    <p class="help-text"> * {% trans "indicates a required field" %} </p>
    <h3 class="text-subheadline">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>
</form>
{% endblock %}