{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2>{% trans "Communication" %}</h2>
    <span>
      <label for="it_contact">{{ form.it_contact_person.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.it_contact_person class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.it_contact_person.help_text }}</p>
    </span>
    <span>
      <label for="it_phone">{{ form.it_phone.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.it_phone class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.it_phone.help_text }}</p>
    </span>
    <span>
      <label for="it_mail">{{ form.it_mail.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.it_mail class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.it_mail.help_text }}</p>
    </span>
    <span>
      <label for="substation">{{ form.substation.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.substation class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.substation.help_text }}</p>
    </span>
    <span>
      <label for="metering_point">{{ form.metering_point.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.metering_point class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.metering_point.help_text }}</p>
    </span>
    <label for="direct_marketing">{{ form.direct_marketing.label }}</label>
    <p></p>
    <div class="row">
        <div class="col-12 col-md-3">
            <span>
                <div class="select-with-border">
                    {% render_field form.direct_marketing class="placeholder-right" %}
                </div>
                <p class="help-text">{{ form.direct_marketing.help_text }}</p>
            </span>
        </div>
        <div class="col-12 col-md-9">
            <span>
                <div class="input-next-to-select">
                    {% render_field form.direct_marketer class="placeholder-right" %}
                </div>
            <p class="help-text">{{ form.direct_marketer.help_text }}</p>
            </span>
        </div>
    </div>
    <span>
      <label for="grid_operator">{{ form.grid_operator.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.grid_operator class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.grid_operator.help_text }}</p>
    </span>
{% endblock %}
{% block checkbox %}
    var checkboxes = document.querySelectorAll( 'input[type=checkbox]' );
    for (i = 0; i < checkboxes.length; i ++) {
      var checkboxEl = checkboxes[i];
      checkboxEl.addEventListener( 'click', onClick );
      handleTextboxes(checkboxEl);
    }

    function onClick( ev ) {
      handleTextboxes(ev.target);
    }

    function handleTextboxes( checkbox ){
      var textboxId = "id_communication-direct_marketer";
      var textbox = document.getElementById(textboxId);
      if (checkbox.checked) {
        textbox.parentElement.parentElement.style.display = "block";
      } else {
        textbox.parentElement.parentElement.style.display = "none";
      }
    }
{% endblock %}