{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Communication" %}</h2>
    <span>
      <label for="it_contact" class="text-small-uppercase">{{ form.it_contact_person.label }}</label>
      {% render_field form.it_contact_person class="text-body" %}
      <p class="help-text">{{ form.it_contact_person.help_text }}</p>
    </span>
    <span>
      <label for="it_phone" class="text-small-uppercase">{{ form.it_phone.label }}</label>
      {% render_field form.it_phone class="text-body" %}
      <p class="help-text">{{ form.it_phone.help_text }}</p>
    </span>
    <span>
      <label for="it_mail" class="text-small-uppercase">{{ form.it_mail.label }}</label>
      {% render_field form.it_mail class="text-body" %}
      <p class="help-text">{{ form.it_mail.help_text }}</p>
    </span>
    <span>
      <label for="substation" class="text-small-uppercase">{{ form.substation.label }}</label>
      {% render_field form.substation class="text-body" %}
      <p class="help-text">{{ form.substation.help_text }}</p>
    </span>
    <span>
      <label for="metering_point" class="text-small-uppercase">{{ form.metering_point.label }}</label>
      {% render_field form.metering_point class="text-body" %}
      <p class="help-text">{{ form.metering_point.help_text }}</p>
    </span>
    <label for="direct_marketing" class="text-small-uppercase">{{ form.direct_marketing.label }}</label>
    <p></p>
    <div class="row">
        <div class="col-lg">
            <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:0.2rem;">
                {% render_field form.direct_marketing class="text-body" %}
            </div>
            <p class="help-text">{{ form.direct_marketing.help_text }}</p>
        </div>
        <div class="col-lg-9">
            {% render_field form.direct_marketer class="text-body" %}
      <p class="help-text">{{ form.direct_marketer.help_text }}</p>
        </div>
    </div>
    <span>
      <label for="grid_operator" class="text-small-uppercase">{{ form.grid_operator.label }}</label>
      {% render_field form.grid_operator class="text-body" %}
      <p class="help-text">{{ form.grid_operator.help_text }}</p>
    </span>
{% endblock %}
{% block checkbox %}
var checkboxes = document.querySelectorAll( 'input[type=checkbox]' );
for (i = 0; i < checkboxes.length; i ++) {
  var checkboxEl = checkboxes[i];
  checkboxEl.addEventListener( 'click', onClick );
  handleTextboxes(checkboxEl);
}

function onClick( ev ) {
  handleTextboxes(ev.target);
}

function handleTextboxes( checkbox ){
  var textboxId = "id_communication-direct_marketer";
  var textbox = document.getElementById(textboxId);
  if (checkbox.checked) {
    textbox.parentElement.style.display = "block";
  } else {
    textbox.parentElement.style.display = "none";
  }
}
{% endblock %}