{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2>{% trans "Contractual Status" %}</h2>
    <span>
      <label for="current_service_contract">{{ form.current_service_contract.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.current_service_contract class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.current_service_contract.help_text }}</p>
    </span>
    <span>
        <label for="commencement_current_service_contract">{{ form.commencement_current_service_contract.label }}</label>
        <div class="select-with-border">
            {% render_field form.commencement_current_service_contract class="placeholder-right" %}
        </div>
        <p class="help-text">{{ form.commencement_current_service_contract.help_text }}</p>
    </span>
    <span>
        <label for="desired_service_contract">{{ form.desired_service_contract.label }}</label>
        <div class="select-with-border">
          {% render_field form.desired_service_contract class="placeholder-right" %}
        </div>
        <p class="help-text">{{ form.desired_service_contract.help_text }}</p>
    </span>
    <span>
      <label for="desired_duration_service_contract">{{ form.desired_duration_service_contract.label }}</label>
      <div class="input-next-to-select">
        {% render_field form.desired_duration_service_contract class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.desired_duration_service_contract.help_text }}</p>
    </span>
{% endblock %}