{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Contractual Status" %}</h2>
    <span>
      <label for="current_service_contract" class="text-small-uppercase">{{ form.current_service_contract.label }}</label>
      {% render_field form.current_service_contract class="text-body" %}
      <p class="help-text">{{ form.current_service_contract.help_text }}</p>
    </span>
    <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:0.75rem;">
        <label for="commencement_current_service_contract" class="text-small-uppercase label-select">{{ form.commencement_current_service_contract.label }}</label><br>
        {% render_field form.commencement_current_service_contract class="text-body" %}
    </div>
    <p class="help-text">{{ form.commencement_current_service_contract.help_text }}</p>
    <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
      <label for="desired_service_contract" class="text-small-uppercase label-select">{{ form.desired_service_contract.label }}</label><br>
      {% render_field form.desired_service_contract class="text-body" %}
    </div>
    <p class="help-text">{{ form.desired_service_contract.help_text }}</p>
    <span>
      <label for="desired_duration_service_contract" class="text-small-uppercase">{{ form.desired_duration_service_contract.label }}</label>
      {% render_field form.desired_duration_service_contract class="text-body" %}
      <p class="help-text">{{ form.desired_duration_service_contract.help_text }}</p>
    </span>
{% endblock %}