{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block language %}
<form action="{% url 'set_language' %}" method="post" class="language-select">
    {% csrf_token %}
    <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
    <ul>
        {% get_current_language as LANGUAGE_CODE %}
        {% get_available_languages as LANGUAGES %}
        {% get_language_info_list for LANGUAGES as languages %}
        {% for language in languages %}
            <li>
                <button type="submit" name="language" value="{{ language.code }}" class="{% if language.code == LANGUAGE_CODE %}selected{% endif %} language-button">
                    {{ language.name_local }}
                </button>
            </li>
        {% endfor %}
    </ul>
</form>
{% endblock %}

{% block form %}
    <h2 class="text-headline">{% trans "Personal Data" %}</h2>
    <span>
      <label for="bank_institute" class="text-small-uppercase">{% trans "Company" %} </label>
      {% render_field form.contact_company class="text-body input-select" %}
      <p class="help-text">{{ form.contact_company.help_text }}</p>
    </span>
    <span>
      <label for="iban" class="text-small-uppercase">{% trans "Name" %}</label>
      {% render_field form.contact_name class="text-body" %}
      <p class="help-text">{{ form.contact_name.help_text }}</p>
    </span>
    <span>
      <label for="bic" class="text-small-uppercase">Position</label>
      {% render_field form.contact_position class="text-body" %}
      <p class="help-text">{{ form.contact_position.help_text }}</p>
    </span>
    <span>
      <label for="bic" class="text-small-uppercase">Mail</label>
      {% render_field form.contact_mail class="text-body" %}
      <p class="help-text">{{ form.contact_mail.help_text }}</p>
    </span>
    <div class="row">
        <div class="col-lg-1">
            {% render_field form.confirm_data_security class="text-body" %}
        </div>
        <div class="col-lg-11">
            <p class="help-text">{% blocktrans %}You agree that your data will be used to process your request. Further information and revocation notices can be found in our{% endblocktrans %} <a href="https://www.deutsche-windtechnik.com/data-privacy">privacy policy</a>.</p>
        </div>
    </div>
{% endblock %}

{% block buttons %}
    <div class="row">
        <div class="col-lg-6">
        {% if wizard.steps.prev %}
            <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "first step" %}</button>
            <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "prev step" %}</button>
        {% endif %}
        </div>
        <div class="text-right col-lg-6">
            <input class="text-small-uppercase" id="submit" type="submit" value="{% trans 'next step' %}">
        </div>
    </div>
    <p></p>
    <p class="help-text-required-field"> * {% trans "indicates a required field" %} </p>
    <h3 class="text-subheadline">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>
{% endblock %}