{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Generator" %}</h2>
    {% for f in wizard.form %}
        <h3 class="text-subheadline">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {{ f.id }}
        <div class="row">
            <div class="col-lg-6">
                {% render_field f.generator_manufacturer class="text-body" %}
                <p class="help-text">{{ f.generator_manufacturer.help_text }}</p>
            </div>
            <div class="col-lg-6">
                {% render_field f.generator_type class="text-body" %}
                <p class="help-text">{{ f.generator_type.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% render_field f.generator_serialnr class="text-body" %}
                <p class="help-text">{{ f.generator_serialnr.help_text }}</p>
            </div>
            <div class="col-lg-6">
                {% render_field f.generator_year class="text-body" %}
                <p class="help-text">{{ f.generator_year.help_text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}