{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Generator" %}</h2>
    {% for f in wizard.form %}
        <h3 class="text-subheadline">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {{ f.id }}
        <div class="row">
            <div class="col-lg-6">
                {% render_field f.generator_manufacturer class="text-body" %}
                <p class="help-text">{{ f.generator_manufacturer.help_text }}</p>
            </div>
            <div class="col-lg-6">
                {% render_field f.generator_type class="text-body" %}
                <p class="help-text">{{ f.generator_type.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                {% render_field f.generator_serialnr class="text-body" %}
                <p class="help-text">{{ f.generator_serialnr.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:0.2rem;">
                    {% render_field f.generator_exchange class="text-body" %}
                </div>
                <p class="help-text">{{ f.generator_exchange.help_text }}</p>
            </div>
            <div class="col-lg-8">
                {% render_field f.generator_year class="text-body" %}
                <p class="help-text">{{ f.generator_year.help_text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}

{% block checkbox %}
var checkboxes = document.querySelectorAll( 'input[type=checkbox]' );
for (i = 0; i < checkboxes.length; i ++) {
  var checkboxEl = checkboxes[i];
  checkboxEl.addEventListener( 'click', onClick );
  handleTextboxes(checkboxEl);
}

function onClick( ev ) {
  handleTextboxes(ev.target);
}

function handleTextboxes( checkbox ){
  var checkboxId = checkbox.id;
  var wecId = checkboxId.split("-")[1];
  var textboxId = "id_generator-" + wecId + "-generator_year";
  var textbox = document.getElementById(textboxId);
  if (checkbox.checked) {
    textbox.parentElement.style.display = "block";
  } else {
    textbox.parentElement.style.display = "none";
  }
}
{% endblock %}