{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Inspection Dates" %}</h2>
    {% for f in wizard.form %}
        <h3 class="text-subheadline">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {{ f.id }}
        {% if scope == "Service Contract" or scope == "Technical Operations Contract"%}
            <div class="row">
                <div class="col-lg-6">
                    <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                        {% render_field f.date_cb_inspection_machine_tower class="text-body" %}
                        </div>
                    <p class="help-text">{{ f.date_cb_inspection_machine_tower.help_text }}</p>
                </div>
                <div class="col-lg-6">
                    <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                        {% render_field f.date_recurring_inspection class="text-body" %}
                        </div>
                    <p class="help-text">{{ f.date_recurring_inspection.help_text }}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                        {% render_field f.date_rotor_blade_inspection class="text-body" %}
                        </div>
                    <p class="help-text">{{ f.date_rotor_blade_inspection.help_text }}</p>
                </div>
                <div class="col-lg-6">
                    <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                        {% render_field f.date_gearbox_endoscopy class="text-body" %}
                        </div>
                    <p class="help-text">{{ f.date_gearbox_endoscopy.help_text }}</p>
                </div>
            </div>
        {% endif %}
        <div class="row">
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                   {% render_field f.date_safety_inspection class="text-body" %}
                    </div>
                <p class="help-text">{{ f.date_safety_inspection.help_text }}</p>
            </div>
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                   {% render_field f.date_service_lift_maintenance class="text-body" %}
                    </div>
                <p class="help-text">{{ f.date_service_lift_maintenance.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_service_lift_inspection class="text-body" %}
                    </div>
                <p class="help-text">{{ f.date_service_lift_inspection.help_text }}</p>
            </div>
            {% if scope == "Service Contract" or scope == "Technical Operations Contract"%}
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_electric_inspection class="text-body" %}
                    </div>
                <p class="help-text">{{ f.date_electric_inspection.help_text }}</p>
            </div>
            {% endif %}
        </div>
        {% if scope == "Service Contract" or scope == "Technical Operations Contract"%}
        <div class="row">
            <!-- only if turbine type == MM -->
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_blade_bearing_inspection class="text-body" %}
                    </div>
                <p class="help-text">{{ f.date_blade_bearing_inspection.help_text }}</p>
            </div>
            <!-- end if -->
        </div>
        {% endif %}
    {% endfor %}
{% endblock %}
