{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2>{% trans "Invoice Recipient" %}</h2>
    <span>
      <label for="invoice_recipient">{% trans "Company" %}</label>
      <div class="input-next-to-select">
        {% render_field form.invoice_recipient class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.invoice_recipient.help_text }}</p>
    </span>
    <span>
      <label for="ir_street_nr">{% trans "Street and house number" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_street_nr class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_street_nr.help_text }}</p>
    </span>
    <span>
      <label for="ir_postal_code">{% trans "Postal Code" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_postal_code class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_postal_code.help_text }}</p>
    </span>
    <span>
      <label for="ir_city">{% trans "City" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_city class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_city.help_text }}</p>
    </span>
    <span>
      <label for="ir_contact_person">{% trans "Contact Person" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_contact_person class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_contact_person.help_text }}</p>
    </span>
    <span>
      <label for="ir_phone">{% trans "Phone" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_phone class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_phone.help_text }}</p>
    </span>
    <span>
      <label for="ir_mail">{% trans "Mail" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_mail class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_mail.help_text }}</p>
    </span>
    <span>
      <label for="ir_tax_id">{% trans "Tax ID" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_tax_id class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_tax_id.help_text }}</p>
    </span>
    <span>
      <label for="ir_invoice_mail">{% trans "Invoice Mail" %}</label>
      <div class="input-next-to-select">
        {% render_field form.ir_invoice_mail class="placeholder-right" %}
      </div>
      <p class="help-text">{{ form.ir_invoice_mail.help_text }}</p>
    </span>
{% endblock %}