{% load static %}
{% load widget_tweaks %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% trans "Customer Questionnaire" %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static 'css/customer-questionnaire.css' %}" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{% static 'autocomplete_light/vendor/select2/dist/css/select2.css' %}" \>

    <!-- Custom JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {{ form.media }}
</head>
<body>

    <link href='https://fonts.googleapis.com/css?family=Montserrat:700' rel='stylesheet' type='text/css'>

    <main>
      <figure>
        <picture>
          <img       src="/media/alpha-ventus.jpg"
                     alt="Alpha Ventus" />
        </picture>
      </figure>
      <div class="headline">
        <h2 class="text-headline">{% trans "Customer Data" %}</h2>
        <h2 class="text-headline">{% trans "Wind Farm Data" %}</h2>
        <h3 class="text-subheadline">{% trans "For creating specific offers" %}</h3>
        <div class="shape">
          <p class="text-body-sm">
                {% blocktrans %}
                    To serve your request for quotation sufficiently, we require some information about your project.
                    Please fill out the form as complete as possible.
                {% endblocktrans %}
            </p>
        </div>
      </div>
      <form action="" method="post">
        {% csrf_token %}
        {{ wizard.management_form }}
        {{ wizard.form.management_form }}
        <h2 class="text-headline">{% trans "Invoice Recipient" %}</h2>
        <span>
          <label for="invoice_recipient" class="text-small-uppercase">{% trans "Company" %}</label>
          {% render_field form.invoice_recipient class="text-body input-select" %}
          <p class="help-text">{{ form.invoice_recipient.help_text }}</p>
        </span>
        <span>
          <label for="ir_street_nr" class="text-small-uppercase">{% trans "Street and house number" %}</label>
          {% render_field form.ir_street_nr class="text-body" %}
          <p class="help-text">{{ form.ir_street_nr.help_text }}</p>
        </span>
        <span>
          <label for="ir_postal_code" class="text-small-uppercase">{% trans "Postal Code" %}</label>
          {% render_field form.ir_postal_code class="text-body" %}
          <p class="help-text">{{ form.ir_postal_code.help_text }}</p>
        </span>
        <span>
          <label for="ir_city" class="text-small-uppercase">{% trans "City" %}</label>
          {% render_field form.ir_city class="text-body" %}
          <p class="help-text">{{ form.ir_city.help_text }}</p>
        </span>
        <span>
          <label for="ir_contact_person" class="text-small-uppercase">{% trans "Contact Person" %}</label>
          {% render_field form.ir_contact_person class="text-body" %}
          <p class="help-text">{{ form.ir_contact_person.help_text }}</p>
        </span>
        <span>
          <label for="ir_phone" class="text-small-uppercase">{% trans "Phone" %}</label>
          {% render_field form.ir_phone class="text-body" %}
          <p class="help-text">{{ form.ir_phone.help_text }}</p>
        </span>
        <span>
          <label for="ir_mail" class="text-small-uppercase">{% trans "Mail" %}</label>
          {% render_field form.ir_mail class="text-body" %}
          <p class="help-text">{{ form.ir_mail.help_text }}</p>
        </span>
        <span>
          <label for="ir_tax_id" class="text-small-uppercase">{% trans "Tax ID" %}</label>
          {% render_field form.ir_tax_id class="text-body" %}
          <p class="help-text">{{ form.ir_tax_id.help_text }}</p>
        </span>
        <span>
          <label for="ir_invoice_mail" class="text-small-uppercase">{% trans "Invoice Mail" %}</label>
          {% render_field form.ir_invoice_mail class="text-body" %}
          <p class="help-text">{{ form.ir_invoice_mail.help_text }}</p>
        </span>
        {% if wizard.steps.prev %}
            <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}">{% trans "first step" %}</button>
            <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">{% trans "prev step" %}</button>
        {% endif %}
        <input class="text-small-uppercase" id="submit" type="submit" value="{% trans 'next step' %}">
        <p></p>
        <h3 class="text-subheadline">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>
      </form>
    </main>


    <!-- jQuery -->
    <script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}" async></script>
    <script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
    <script type="text/javascript">
        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.value.trim() !== '' ) {
          	inputEl.parentNode.classList.add( 'input--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }

        function onFocus( ev ) {
          ev.target.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.classList.remove( 'inputs--filled' );
          } else if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.classList.add( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
          } else if ( ev.target.checkValidity() == true ) {
            ev.target.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
          }
        }

        function liveValidation( ev ) {
          if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.classList.add( 'inputs--invalid' );
          } else {
            ev.target.parentNode.classList.remove( 'inputs--invalid' );
          }
        }

        var submitBtn = document.querySelector( 'input[type=submit]' );
        submitBtn.addEventListener( 'click', onSubmit );

        function onSubmit( ev ) {
          var inputsWrappers = ev.target.parentNode.querySelectorAll( 'span' );
          for (i = 0; i < inputsWrappers.length; i ++) {
            input = inputsWrappers[i].querySelector( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
            if ( input.checkValidity() == false ) {
              inputsWrappers[i].classList.add( 'inputs--invalid' );
            } else if ( input.checkValidity() == true ) {
              inputsWrappers[i].classList.remove( 'inputs--invalid' );
            }
          }
        }
    </script>

</body>
</html>