{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2>{% trans "Geographical Location" %}</h2>
    {% for f in wizard.form %}
        <h3 class="turbine-id-header">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {% if forloop.counter = 1 %}
            <span>
                <p class="help-text"><i class="fa fa-info-circle fa-fw"></i> {% trans "Convert coordinates" %} <a href="https://www.koordinaten-umrechner.de/decimal/53.082864,8.786702?karte=OpenStreetMap&zoom=8">{% trans "here" %}</a>.</p>
            </span>
        {% endif %}
        {{ f.id }}
        <div class="row">
            <div class="col-md-6">
                <div class="input-next-to-select">
                    {% render_field f.latitude class="placeholder-right" %}
                </div>
                {% if forloop.counter = 1 %}
                    <p class="help-text">{{ f.latitude.help_text }}</p>
                {% endif %}
            </div>
            <div class="col-md-6">
                <div class="input-next-to-select">
                    {% render_field f.longitude class="placeholder-right" %}
                </div>
                {% if forloop.counter = 1 %}
                    <p class="help-text">{{ f.longitude.help_text }}</p>
                {% endif %}
            </div>
        </div>
    {% endfor %}
{% endblock %}