{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Maintenance Dates" %}</h2>
    {% for f in wizard.form %}
        <h3 class="text-subheadline">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {{ f.id }}
        <div class="row">
            <div class="col-lg">
                {% render_field f.recent_maintenance class="text-body" %}
                <p class="help-text">{{ f.recent_maintenance.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_of_recent_maintenance class="text-body" %}
                </div>
                <p class="help-text">{{ f.date_of_recent_maintenance.help_text }}</p>
            </div>
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_of_5_year_maintenance class="text-body" %}
                </div>
                <p class="help-text">{{ f.date_of_5_year_maintenance.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_of_transformer_maintenance class="text-body" %}
                </div>
                <p class="help-text">{{ f.date_of_transformer_maintenance.help_text }}</p>
            </div>
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_of_converter_maintenance class="text-body" %}
                </div>
                <p class="help-text">{{ f.date_of_converter_maintenance.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_of_lattice_maintenance class="text-body" %}
                </div>
                <p class="help-text">{{ f.date_of_lattice_maintenance.help_text }}</p>
            </div>
            <div class="col-lg-6">
                <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
                    {% render_field f.date_of_overhaul_winch class="text-body" %}
                </div>
                <p class="help-text">{{ f.date_of_overhaul_winch.help_text }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock %}