{% extends "polls/base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Customer Questionnaire" %}
{% endblock %}


{% block content %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/customer-questionnaire.css' %}" \>

    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-headline">
            <h3 class="modal-title" id="helpModalLabel">{% trans "Your Contact for technical questions:" %}</h3>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
                    <h4>Vestas / Siemens / AN Bonus / NEG Micon</h4>
                    <h5>Boy Kliemann</h5>
                    <i class="fa fa-phone fa-fw"></i> + 49 4845 791 68 85<br>
                    <i class="fa fa-envelope fa-fw"></i> b.kliemann@deutsche-windtechnik.com
                    <h4 class="mt-3">Nordex / Fuhrländer</h4>
                    <h5>Jörg Fuchs</h5>
                    <i class="fa fa-phone fa-fw"></i> + 49 541 38 05 38 401<br>
                    <i class="fa fa-envelope fa-fw"></i> j.fuchs@deutsche-windtechnik.com
                    <h4 class="mt-3">Senvion</h4>
                    <h5>Klaus Rose</h5>
                    <i class="fa fa-phone fa-fw"></i> + 49 541 38 05 38 414<br>
                    <i class="fa fa-envelope fa-fw"></i> k.rose@deutsche-windtechnik.com
                    <h4 class="mt-3">Enercon</h4>
                    <h5>Jasper Salzwedel</h5>
                    <i class="fa fa-phone fa-fw"></i> + 49 4845 791 68 987<br>
                    <i class="fa fa-envelope fa-fw"></i> j.salzwedel@deutsche-windtechnik.com
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <header class="masthead questionnaire-background">
        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-10 header-content">
                <div class="row">
                    <div class="col-10">
                        <h1>{% trans "Customer Questionnaire" %}</h1>
                        <h3>{% trans "for individual offers" %}</h3>
                    </div>
                    <div class="col-2">
                        {% block language %}
                        {% endblock %}
                        <button type="submit" class="language-btn" name="btn-help-menu" data-toggle="modal" data-target="#helpModal"><i class="fa fa-question fa-fw"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-3"></div>
            <div class="col-md-3 white-arrow">
                <div class="white-arrow-caption">
                    <p>
                    {% blocktrans %}
                        To serve your request for quotation sufficiently, we require some information about your project.
                        Please fill out the form as complete as possible.
                    {% endblocktrans %}
                    </p>
                </div>
                <img src="/media/DW-Pfeil-klein-weiss.png" />
            </div>
            <div class="col-12 col-md-6">
                <form id="id_form" action="" method="post" class="customer-questionnaire">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form.management_form }}
                {% block form %}
                {% endblock %}
                {% block buttons %}
                    <div class="modal fade" id="progressModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
                      <div class="modal-dialog modal-lg" role="document">
                        <div class="modal-content">
                          <div class="modal-header text-headline">
                            <h3 class="modal-title" id="progressModalLabel">{% trans "Your Progress" %}</h3>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                          <div id="progressModalBody" class="modal-body">
                            {% trans 'Loading' %}...
                            <i class='fa fa-spinner fa-pulse fa-fw'></i>
                          </div>
                          <div class="modal-footer">
                            <button id="cancel-save-for-later" type="button" class="submit-like-button" data-dismiss="modal">{% trans "Cancel" %}</button>
                            {% if wizard.steps.step1 == wizard.steps.count %}
                            <input id="submit" type="submit" value="{% trans 'submit' %}">
                            {% else %}
                            <button id="submit-save-for-later" name="wizard_save_for_later" type="submit" value="wizard_save_for_later">{% trans "Submit" %}</button>
                            {% endif %}
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-6">
                        {% if wizard.steps.prev %}
                            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "first step" %}</button>
                            <input id="submit-prev" type="submit" class="submit-btn" value="{% trans 'prev step' %}">
                        {% endif %}
                        </div>
                        <div class="text-right col-lg-6">
                            {% if wizard.steps.step1 == wizard.steps.count %}
                                <button id="save-for-later-modal" type="button" class="submit-like-button" name="btn-progress-menu" data-toggle="modal" data-target="#progressModal">{% trans "next step" %}</button>
                            {% else %}
                                <button id="save-for-later-modal" type="button" class="submit-like-button" name="btn-progress-menu" data-toggle="modal" data-target="#progressModal">{% trans "Save for later" %}</button>
                                <input id="submit" type="submit" class="submit-btn" value="{% trans 'next step' %}">
                            {% endif %}
                        </div>
                    </div>
                    <p></p>
                    <p class="help-text"> * {% trans "indicates a required field" %} </p>
                    <h3 class="page-counter">{% trans "Step" %} <input type="number" id="go-to-step" name="go-to-step" min="3" max="33" value={{ wizard.steps.step1 }} style="width:3em"> {% trans "of" %} {{ wizard.steps.count }}</h3>

                {% endblock %}
                </form>
            </div>
        </div>
    </header>

    <script type="text/javascript">
        {% block buttons_js %}
        $('#save-for-later-modal').click(function(){
            $("#progressModalBody").html("{% trans 'Loading' %}... <i class='fa fa-spinner fa-pulse fa-fw'></i>");
            var csrf = $( "[name=csrfmiddlewaretoken]" ).val();
            let serialized_data = $("#id_form").serializeArray();
            let save_for_later_dict = {
                "name" : "save_for_later_modal",
                "value" : true
            };
            let data = serialized_data;
            data.push(save_for_later_dict);
            $.ajax({
                url: window.location.pathname,
                type: 'POST',
                data: data,
                success: function (data) {
                    $("#progressModalBody").html(data);
                }
            });
        });

        $('#submit-save-for-later').click(function(ev){
          form = document.getElementById("id_form");
          var inputsWrappers = form.querySelectorAll( 'span' );
          for (i = 0; i < inputsWrappers.length; i ++) {
            input = inputsWrappers[i].querySelector( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel], input[type=file]' );
            if(input != null){
                if ( input.checkValidity() == false ) {
                  inputsWrappers[i].classList.add( 'inputs--invalid' );
                } else if ( input.checkValidity() == true ) {
                  inputsWrappers[i].classList.remove( 'inputs--invalid' );
                }
                if (!handleSpecialInputs(input)){
                    ev.preventDefault();
                }
            }
          }
        });

        $("#submit-prev").click(function(e){
            e.preventDefault();
            let page = $("#go-to-step").attr("value");
            if (page == {{ wizard.steps.step1 }}){
                page -= 1;
                $("#go-to-step").attr("value", page);
            }
            $("#submit").click();
        });

        $("#progressModalBody").on("click", ".goto_link", function(e){
            e.preventDefault();
            let link_id = e.target.id;
            let page = (link_id.split("-"))[1];
            $("#go-to-step").attr("value", page);
            $("#submit").click();
        });
        {% endblock %}

        {% block checkbox %}
        {% endblock %}

        {% block turbine_ids %}
        {% endblock %}

        {% block javascript %}
        {% endblock %}

        $("#id_form").on("keydown", function(e){
           if(e.keyCode === 13){
               e.preventDefault();
               $("#submit").click();
           }
        });

        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.required ){
            var label = inputEl.parentElement.parentElement.querySelector( 'label' );
            label.innerHTML = label.innerHTML + " * ";
          }
          if( inputEl.value.trim() !== '' ) {
              // adds css class 'inputs--filled'
          	inputEl.parentNode.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }

        function handleSpecialInputs(input){
            if ( input.type == 'tel' ){
                if( input.value === '' && !input.required){
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }else if (!input.value.match(/^\+?1?\d{1,2}[\W\d]+(\d{1,2})$/)){
                    input.parentNode.classList.add( 'inputs--invalid' );
                    return false;
                }else{
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }
            }else if ( input.type == 'email' ){
                if( input.value === '' && !input.required){
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }else if (!input.value.match(/^\S+@\S+\.\S+$/g)){
                    input.parentNode.classList.add( 'inputs--invalid' );
                    return false;
                }else{
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }
            }
            return true;
        }

        function onFocus( ev ) {
            ev.target.parentNode.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          } if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
          } else if ( ev.target.checkValidity() == true ) {
            ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
          }
          handleSpecialInputs(ev.target);
        }

        function liveValidation( ev ) {
            if ( ev.target.checkValidity() == false ) {
                ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
            } else {
                ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
            }
            handleSpecialInputs(ev.target);
        }

        var submitBtn = $( ".submit-btn" ).click(onSubmit);

        {% block onSubmit %}
        function onSubmit( ev ) {
          form = document.getElementById("id_form");
          var inputsWrappers = form.querySelectorAll( 'span' );
          for (i = 0; i < inputsWrappers.length; i ++) {
            input = inputsWrappers[i].querySelector( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel], input[type=file]' );
            if(input != null){
                if ( input.checkValidity() == false ) {
                  inputsWrappers[i].classList.add( 'inputs--invalid' );
                } else if ( input.checkValidity() == true ) {
                  inputsWrappers[i].classList.remove( 'inputs--invalid' );
                }
                if (!handleSpecialInputs(input)){
                    ev.preventDefault();
                }
            }
          }
        }
        {% endblock %}
    </script>

{% endblock %}