{% extends "polls/base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block title %}
    {% trans "Customer Questionnaire" %}
{% endblock %}


{% block content %}

    <div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header text-headline">
            <h5 class="modal-title" id="helpModalLabel">{% trans "Your Contact for technical questions:" %}</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
              <div class="row border-between">
                  <div class="col text-small-uppercase">
                    Bild: <i class="fa fa-question fa-fw"></i><br>
                    Name<br>
                    <i class="fa fa-phone fa-fw"></i> +49 541 38 05 38 100<br>
                    <i class="fa fa-envelope fa-fw"></i> test@mail.com
                  </div>
                  <div class="col text-small-uppercase">
                    Bild: <i class="fa fa-question fa-fw"></i><br>
                    Name<br>
                    <i class="fa fa-phone fa-fw"></i> +49 541 38 05 38 100<br>
                    <i class="fa fa-envelope fa-fw"></i> test@mail.com
                  </div>
                  <div class="col text-small-uppercase">
                    Bild: <i class="fa fa-question fa-fw"></i><br>
                    Name<br>
                    <i class="fa fa-phone fa-fw"></i> +49 541 38 05 38 100<br>
                    <i class="fa fa-envelope fa-fw"></i> test@mail.com
                  </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <header class="masthead questionnaire-background">
        <div class="row no-gutters">
            <div class="col-md-2"></div>
            <div class="col-12 col-md-10 header-content">
                <div class="row">
                    <div class="col-10">
                        <h1>{% trans "Customer Questionnaire" %}</h1>
                        <h3>{% trans "for individual offers" %}</h3>
                    </div>
                    <div class="col-2">
                        {% block language %}
                        {% endblock %}
                        <button type="submit" class="language-btn" name="btn-help-menu" data-toggle="modal" data-target="#helpModal"><i class="fa fa-question fa-fw"></i></button>
                    </div>
                </div>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-md-3"></div>
            <div class="col-md-3 white-arrow">
                <div class="white-arrow-caption">
                    <p>
                    {% blocktrans %}
                        To serve your request for quotation sufficiently, we require some information about your project.
                        Please fill out the form as complete as possible.
                    {% endblocktrans %}
                    </p>
                </div>
                <img src="/media/DW-Pfeil-klein-weiss.png" />
            </div>
            <div class="col-12 col-md-6">
                <form id="id_form" action="" method="post" class="customer-questionnaire">
                {% csrf_token %}
                {{ wizard.management_form }}
                {{ wizard.form.management_form }}
                {% block form %}
                {% endblock %}
                {% block buttons %}
                {% endblock %}
                </form>
            </div>
        </div>
    </header>

    <script type="text/javascript">
        {% block checkbox %}
        {% endblock %}
        {% block turbine_ids %}
        {% endblock %}
        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.required ){
            var label = inputEl.parentElement.parentElement.querySelector( 'label' );
            label.innerHTML = label.innerHTML + " * ";
          }
          if( inputEl.value.trim() !== '' ) {
              // adds css class 'inputs--filled'
          	inputEl.parentNode.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }

        function handleCheckbox( ev ) {
          if (checkbox.checked) {
            ev.target.parentNode.classList.remove( 'inputs--invalid' );
          } else {
            ev.target.parentNode.classList.add( 'inputs--invalid' );
          }
        }

        function handleSpecialInputs(input){
            if ( input.type == 'tel' ){
                if( input.value === '' && !input.required){
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }else if (!input.value.match(/^\+?1?\d{1,2}[\W\d]+(\d{1,2})$/)){
                    input.parentNode.classList.add( 'inputs--invalid' );
                    return false;
                }else{
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }
            }else if ( input.type == 'email' ){
                if( input.value === '' && !input.required){
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }else if (!input.value.match(/^\S+@\S+\.\S+$/g)){
                    input.parentNode.classList.add( 'inputs--invalid' );
                    return false;
                }else{
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }
            }
            return true;
        }

        function onFocus( ev ) {
            ev.target.parentNode.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          } if ( ev.target.checkValidity() == false ) {
            ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
          } else if ( ev.target.checkValidity() == true ) {
            ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
            ev.target.addEventListener( 'input', liveValidation );
          }
          handleSpecialInputs(ev.target);
        }

        function liveValidation( ev ) {
            if ( ev.target.checkValidity() == false ) {
                ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
            } else {
                ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
            }
            handleSpecialInputs(ev.target);
        }

        var submitBtn = document.querySelector( 'input[type=submit]' );
        submitBtn.addEventListener( 'click', onSubmit );

        function onSubmit( ev ) {
          form = document.getElementById("id_form");
          var inputsWrappers = form.querySelectorAll( 'span' );
          for (i = 0; i < inputsWrappers.length; i ++) {
            input = inputsWrappers[i].querySelector( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel], input[type=file]' );
            if ( input.checkValidity() == false ) {
              inputsWrappers[i].classList.add( 'inputs--invalid' );
            } else if ( input.checkValidity() == true ) {
              inputsWrappers[i].classList.remove( 'inputs--invalid' );
            }
            if (!handleSpecialInputs(input)){
                ev.preventDefault();
            }
          }
          if (checkbox.checked) {
            checkbox.parentNode.classList.remove( 'inputs--invalid' );
          } else {
            checkbox.parentNode.classList.add( 'inputs--invalid' );
          }
        }
    </script>

{% endblock %}