{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
<form action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form.management_form }}
    <h2 class="text-headline">{% trans "Expert Reports" %}</h2>
    {% for f in wizard.form %}
        <h3 class="text-subheadline">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {{ f.id }}
        <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:1.25rem;">
            {% render_field f.expert_report class="text-body" %}
        </div>
        <p class="help-text">{{ f.expert_report.help_text }}</p>
    {% endfor %}
    {% if wizard.steps.prev %}
        <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "first step" %}</button>
        <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "prev step" %}</button>
    {% endif %}
    <input class="text-small-uppercase" id="submit" type="submit" value="{% trans 'next step' %}">
    <p></p>
    <p class="help-text"> * {% trans "indicates a required field" %} </p>
    <h3 class="text-subheadline">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>
  </form>
{% endblock %}
