{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form_header %}
<form action="" method="post" enctype="multipart/form-data">
{% endblock %}

{% block form %}
    <h2>{% trans "Expert Reports" %}</h2>
    {% for f in wizard.form %}
        <h3 class="turbine-id-header">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {{ f.id }}
        <div class="select-with-border">
            {% render_field f.expert_report class="placeholder-right" %}
        </div>
        <p class="help-text">{{ f.expert_report.help_text }}</p>
    {% endfor %}
{% endblock %}
