{% extends "projects/customer_questionnaire/questionnaire_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
  <form action="" method="post">
    {% csrf_token %}
    {{ wizard.management_form }}
    {{ wizard.form.management_form }}
    <h2 class="text-headline">{% trans "Technical Operator" %}</h2>
    <span>
      <label for="contractual_partner" class="text-small-uppercase">{% trans "Name" %}</label>
      {% render_field form.technical_operator class="text-body input-select" %}
      <p class="help-text">{{ form.technical_operator.help_text }}</p>
    </span>
    <span>
      <label for="cp_street_nr" class="text-small-uppercase">{% trans "Street and house number" %}</label>
      {% render_field form.to_street_nr class="text-body" %}
      <p class="help-text">{{ form.to_street_nr.help_text }}</p>
    </span>
    <span>
      <label for="cp_postal_code" class="text-small-uppercase">{% trans "Postal Code" %}</label>
      {% render_field form.to_postal_code class="text-body" %}
      <p class="help-text">{{ form.to_postal_code.help_text }}</p>
    </span>
    <span>
      <label for="cp_city" class="text-small-uppercase">{% trans "City" %}</label>
      {% render_field form.to_city class="text-body" %}
      <p class="help-text">{{ form.to_city.help_text }}</p>
    </span>
    <span>
      <label for="cp_contact_person" class="text-small-uppercase">{% trans "Contact Person" %}</label>
      {% render_field form.to_contact_person class="text-body" %}
      <p class="help-text">{{ form.to_contact_person.help_text }}</p>
    </span>
    <span>
      <label for="cp_phone" class="text-small-uppercase">{% trans "Phone" %}</label>
      {% render_field form.to_phone class="text-body" %}
      <p class="help-text">{{ form.to_phone.help_text }}</p>
    </span>
    <span>
      <label for="cp_mail" class="text-small-uppercase">{% trans "Mail" %}</label>
      {% render_field form.to_mail class="text-body" %}
      <p class="help-text">{{ form.to_mail.help_text }}</p>
    </span>
    {% if wizard.steps.prev %}
        <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "first step" %}</button>
        <button class="text-small-uppercase" name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "prev step" %}</button>
    {% endif %}
    <input class="text-small-uppercase" id="submit" type="submit" value="{% trans 'next step' %}">
    <p></p>
    <p class="help-text"> * {% trans "indicates a required field" %} </p>
    <h3 class="text-subheadline">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>
  </form>
{% endblock %}