{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2 class="text-headline">{% trans "Turbine IDs" %} {% if scope == "Service Contract" or scope == "Technical Operations Contract" or scope == "Commisioned Work" %}{% trans "and" %} {% trans "Comissioning Dates" %}{% endif %}</h2>
    {% for f in wizard.form %}
        <h3 class="text-subheadline">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        {{ f.id }}
        <div class="row">
            <div {% if scope == "Service Contract" or scope == "Technical Operations Contract" or scope == "Commisioned Work" %}class="col-lg-6"{% else %}class="col-lg-12"{% endif %}><br>
              {% render_field f.turbine_id class="text-body" %}
              {% if forloop.counter = 1 %}
                <p class="help-text">{{ f.turbine_id.help_text }}</p>
              {% endif %}
            </div>
            {% if scope == "Service Contract" or scope == "Technical Operations Contract" or scope == "Commisioned Work" %}
            <!-- hide, if scope in ["Material Request", "Support Contract"] -->
            <div class="col-lg-6">
              <div style="border-bottom: 2px solid #092f57;margin-bottom:1.25rem; padding-bottom:0.75rem;">
                    {% render_field f.comissioning class="text-body" %}
              </div>
              {% if forloop.counter = 1 %}
                <p class="help-text">{{ f.comissioning.help_text }}</p>
              {% endif %}
            </div>
            {% endif %}
        </div>
    {% endfor %}
{% endblock %}