{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2>{% trans "Turbine Model" %}</h2>
    {% for f in form %}
        {{ f.id }}
        <h3 class="turbine-id-header">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        <div class="row">
            <div class="col-12">
                <div class="autocomplete-input-with-border-next-input">
                  {% render_field f.manufacturer class="placeholder-right" %}
                </div>
                <p class="help-text">{{ f.manufacturer.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="autocomplete-input-with-border-next-input">
                  {% render_field f.turbine_model class="placeholder-right" %}
                </div>
                <p class="help-text">{{ f.turbine_model.help_text }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
{% block buttons %}
    <div class="row">
        <div class="col-md-6">
        {% if wizard.steps.prev %}
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.first }}" formnovalidate>{% trans "first step" %}</button>
            <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}" formnovalidate>{% trans "prev step" %}</button>
        {% endif %}
        </div>
        <div class="text-right col-md-6">
            <input id="submit" type="submit" value="{% trans 'next step' %}">
        </div>
    </div>
    <p></p>
    <p class="help-text"> * {% trans "indicates a required field" %} </p>
    <h3 class="page-counter">{% trans "Step" %} {{ wizard.steps.step1 }} {% trans "of" %} {{ wizard.steps.count }}</h3>
{% endblock %}
