{% extends "projects/customer_questionnaire/questionnaire_turbine_base.html" %}
{% load static %}
{% load i18n %}
{% load widget_tweaks %}

{% block form %}
    <h2>{% trans "Turbine Model" %}</h2>
    {% for f in form %}
        {{ f.id }}
        <h3 class="turbine-id-header">{% trans "Turbine" %} {{ forloop.counter }}</h3>
        <div class="row">
            <div class="col-12">
                <div class="autocomplete-input-with-border-next-input">
                  {% render_field f.manufacturer class="placeholder-right" %}
                </div>
                <p class="help-text">{{ f.manufacturer.help_text }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div class="autocomplete-input-with-border-next-input">
                  {% render_field f.turbine_model class="placeholder-right" %}
                </div>
                <p class="help-text">{{ f.turbine_model.help_text }}</p>
            </div>
        </div>
    {% endfor %}

{% endblock %}
