{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Calculation Tools"%}
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container">
    <h1 class="page-header">{% trans "Calculation Tools" %}</h1>
</div>
<div class="container">
    <form action="" method="get">
        <div class="card">
            <div class="card-header">{% trans "Filter" %}
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-4">
                        {{ filter.form.valid_for_country.label_tag }}<br>
                        {% render_field filter.form.valid_for_country class="form-control" %}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary pull-left">
                    <i class="fa fa-search"></i> {% trans "Search" %}
                </button>
                <p class="pull-right" style="font-family:verdana; font-weight:bold">{{ filter.qs.count }} {% trans "Calculation Tools" %}</p>
            </div>
        </div>
    </form>
</div>

<div class="container" id="list">
    {% render_table table %}
</div>


{% endblock %}