{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Customer Questionnaires" %}
{% endblock %}

{% block content %}

{% if messages %}
<ul class="messages">
    {% for message in messages %}
    {% if message.tags %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    {% endif %}
    {% endfor %}
</ul>
{% endif %}

{{ filter.form.media }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="page-header">{% trans "Customer Questionnaires" %}</h1>
        </div>
        <div class="col-12">
            <form action="" method="get">
                <div class="card">
                    <div class="card-header">{% trans "Filter" %}</div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <span>
                                    {{ filter.form.wind_farm_name.label_tag }}
                                    {% render_field filter.form.wind_farm_name class="placeholder-right" %}
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left">
                            <i class="fa fa-search"></i>
                        </button>
                        <p class="pull-right" style="font-weight:bold">{{ filter.qs.count }} {% trans "Customer Questionnaires" %}</p>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12" id="list">
        {% render_table table %}
    </div>
</div>
{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        var selects = document.querySelectorAll('select');
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.value.trim() !== '' ) {
          	inputEl.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }
        for (i =0; i < selects.length; i ++) {
            var selectEl = selects[i];
            if( selectEl.value.trim() !== '' ) {
                selectEl.parentNode.classList.add( 'inputs--filled' );
            }
            selectEl.addEventListener( 'focus', onFocus );
            selectEl.addEventListener( 'blur', onBlur );
        }

        function onFocus( ev ) {
            ev.target.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.classList.remove( 'inputs--filled' );
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          }
        }
    </script>
{% endblock %}