{% extends "polls/base.html" %}
{% load static %}
{% load l10n %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
    <div class="col-lg-12">
        <h1>{{ project.name }}</h1>
        {% if perms.projects.has_sales_status %}
            {% if project.status == "Won" %}
                <a class="btn btn-primary pull-right" href="{% url "projects:project_to_contract" project.id project.slug %}"><i class="fa fa-file-text-o"></i> Create Contract</a>
                <a class="btn btn-primary pull-right" href="{% url "projects:scada_information" project.id project.slug %}"><i class="fa fa-file-text-o"></i> SCADA</a>
            {% endif %}
            <a class="btn btn-primary pull-right" href="{% url "projects:project_edit" project.id %}"><i class="fa fa-edit"></i> Edit</a>
        {% endif %}
    </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-12">
        <table class="table">
            <tr>
                <th colspan="6">General</th>
            </tr>
            {% if project.project_windfarm %}<tr>
                <td>Wind Farm</td>
                <td colspan="5">
                    {% for wf, link in project.project_windfarm.items %}
                    <a href="{{ link }}">{{ wf }}</a>
                    {% endfor %}
                </td>
            </tr>{% endif %}
            <tr>
                <td>Turbines</td>
                <td>{{ project.amount_turbines }}</td>
                <td colspan="2">{{ project.mw }} MW</td>
                {% if project.turbine_age == "not defined" %}
                    <td colspan="2"></td>
                {% else %}
                    <td colspan="2">max. Age: {{ project.turbine_age }} years</td>
                {% endif %}
            </tr>
            <tr>
                <td></td>
                {% for wec_type, link in project.project_wec_types.items %}
                    <td>
                        <a href="{{ link }}">{{ wec_type }}</a>
                    </td>
                {% endfor %}
            </tr>
            {% for t in project.turbines.all %}
                {% if forloop.counter0|divisibleby:5 %}
                    <tr>
                        <td></td>
                {% endif %}
                    <td>
                        <a href="{{ t.get_absolute_url }}">{{ t }} </a>
                    </td>
                {% if forloop.counter|divisibleby:5 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td>DWT Unit</td>
                <td colspan="5">{{ project.dwt }}</td>
            </tr>
            {% if project.offer_nr %}
            <tr>
                <td>Offer Number</td>
                <td colspan="5">{{ project.offer_nr }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Status</td>
                <td colspan="5">{{ project.status }}</td>
            </tr>
            {% if project.prob %}
            <tr>
                <td>Probability</td>
                <td colspan="5">{{ project.prob }} %</td>
            </tr>
            {% endif %}
            {% if project.sales_manager %}
            <tr>
                <td>Sales manager</td>
                <td colspan="5">{{ project.sales_manager }}</td>
            </tr>
            {% endif %}
            {% if project.technologieverantwortlicher %}
            <tr>
                <td>Technology Responsible</td>
                <td colspan="5">{{ project.technologieverantwortlicher }}</td>
            </tr>
            {% endif %}
            {% if project.request_date %}
            <tr>
                <td>First Contact</td>
                <td colspan="5">{{ project.request_date }}</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="6">Customer</th>
            </tr>
            {% if project.project_owner|length > 0 %}
            <tr>
                <td>Owner</td>
                <td colspan="5">
                    {% for o, link in project.project_owner.items %}
                    <a href="{{ link }}">{{ o }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <td>Customer</td>
                <td colspan="5">
                   <a href="{{ project.customer.get_absolute_url }}">{{ project.customer }}</a>
                </td>
            </tr>
            {% if project.customer_contact %}
            <tr>
                <td>Contact Person</td>
                <td colspan="5">
                   <a href="{{ project.customer_contact.get_absolute_url }}">{{ project.customer_contact.name }}</a>{% if project.customer_contact.mail %}, <a href="mailto:{{ project.customer_contact.mail }}">{{ project.customer_contact.mail }}</a>{% endif %}{% if project.customer_contact.phone %}, {{ project.customer_contact.phone }}{% endif %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="6">Contract</th>
            </tr>
            {% if project.contract_type %}
            <tr>
                <td>Contract Type</td>
                <td colspan="2">
                   {{ project.contract }}
                </td>
                <td colspan="3">
                   {{ project.contract_type }}
                </td>
            </tr>
            {% endif %}
            {% if project.start_operation %}
            <tr>
                <td>Start Date</td>
                <td colspan="5">{{ project.start_operation }}</td>
            </tr>
            {% endif %}
            {% if project.run_time %}
            <tr>
                <td>Run Time</td>
                <td colspan="5">
                   {{ project.run_time }} years
                </td>
            </tr>
            {% endif %}
            {% if project.contract_signature %}
            <tr>
                <td>Contract Signature</td>
                <td colspan="5">
                   {{ project.contract_signature }}
                </td>
            </tr>
            {% endif %}
            {% if project.price %}
            <tr>
                <td>Price</td>
                <td colspan="5">
                   {{ project.price }} €/WTG/year
                </td>
            </tr>
            <tr>
                <td>Yearly Contract Value</td>
                <td colspan="5">
                   {{ project.yearly_contract_value }} €/year
                </td>
            </tr>
            {% if project.run_time %}
            <tr>
                <td>Total Contract Value</td>
                <td colspan="5">
                   {{ project.total_contract_value }} €
                </td>
            </tr>
            {% endif %}
            {% endif %}
            {% if project.ebt %}
            <tr>
                <td>EBT</td>
                <td colspan="5">
                   {{ project.ebt }} %
                </td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="6">Closest Service Location</th>
            </tr>
            {% if project.closest_service_location == "coordinates missing" %}
            <tr>
                <td colspan="6">No coordinates provided for turbine(s) and wind farm.</td>
            </tr>
            {% else %}
            <tr>
                <td>Service Location</td>
                <td colspan="2">{{ project.closest_service_location.name }}</td>
                <td>{{project.closest_service_location.DWT}}</td>
                <td colspan="2">air-line distance: {{ project.closest_service_location.distance }} km</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><a target="_blank" rel="noopener noreferrer" href="https://www.google.de/maps/dir/{{ project.closest_service_location.postal_code }}+{{ project.closest_service_location.name }}/{% if project.turbines.all.0.wind_farm.postal_code %}{{ project.turbines.all.0.wind_farm.postal_code }}+{% endif %}{{ project.turbines.all.0.wind_farm.city }}">Check on Google Maps</a></td>
                <td colspan="3" class="help-text">Make sure that 'City' and 'Postal Code' <br>are provided for the Wind Farm</td>
            </tr>
                <form id="driving_costs_form" method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    {% for field in form %}
                    <tr>
                        <td>{{ field.label }}</td>
                        <td>{{ field }}</td>
                        <td>{{ field.errors }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="2"><button name="driving_form" type="submit" value="Calculate" class="btn btn-primary  pull-left">Calculate</button></td>
                </form>
            </tr>
            {% if result != None %}
                <tr>
                    <td colspan="2">Weekday</td>
                    <td colspan="2">Saturday</td>
                    <td colspan="2">Sunday/Bank Holiday</td>
                </tr>
                <tr>
                    <td colspan="2">{{ result.weekday }} €</td>
                    <td colspan="2">{{ result.saturday }} €</td>
                    <td colspan="2">{{ result.sunday }} €</td>
                </tr>
            {% endif %}
            {% endif %}
            <tr>
                <td colspan="2">Contracted Windfarms in </td>
                <form id="contracts_in_distance_form" method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    {% for field in contracts_in_distance_form %}
                        <td>{{ field }}</td>
                        <td>{{ field.errors }}</td>
                    {% endfor %}
                        <td> km distance</td>
                        <td colspan="2"><button name="surrounding_contracts_form" type="submit" value="Calculate" class="btn btn-primary pull-left">Calculate</button></td>
                </form>
            </tr>
            {% if surrounding_contracts != None %}
            {% for c, v in surrounding_contracts.items %}
                <tr>
                    <td colspan="3"><a href="{{ v.url }}">{{ c }}</a></td>
                    <td colspan="3">{{ v.distance }} km</td>
                </tr>
            {% endfor %}
            {% endif %}
            {% if perms.projects.has_sales_status %}
            <tr>
                <th colspan="6"><a class="btn btn-primary pull-right" href="{% url "projects:new_comment" project_id=project.pk %}"><i class="fa fa-plus"></i> Add Comment</a></th>
            </tr>
            {% endif %}
            {% if comments.all|length > 0 %}
            <tr>
                <th colspan="6">Comments</th>
            </tr>
            {% for c in comments.all %}
            <tr>
                <td colspan="2">{{ c.created }} by {{ c.created_by }}</td>
                <td colspan="2">{{ c.text }}</td>
                {% if c.file %}
                    <td><a href="http://success-map.deutsche-windtechnik.com/media/{{ c.file }}"><i class="fa fa-file pull-right"></a></td>
                    <td>{% if perms.projects.has_sales_status %}<a href="{% url "projects:edit_comment" pk=c.pk project_id=project.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                {% else %}
                    <td colspan="2">{% if perms.projects.has_sales_status %}<a href="{% url "projects:edit_comment" pk=c.pk project_id=project.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <th colspan="6">Change history</th>
            </tr>
            {% for ch in changes.all %}
            <tr>
                <td colspan="3">{{ ch.created }} by {{ ch.created_by }}</td>
                <td colspan="3">{{ ch.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

{% endblock %}