{% extends "polls/base.html" %}
{% load static %}
{% load l10n %}
{% load mathfilters %}

{% block title %}
    {{ project.name }}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row" style="margin-top:1rem;">
        <div class="col-12">
            <h1>{{ project.name }}
            {% if perms.projects.has_sales_status %}
                {% if project.status == "Won" %}
                <span>
                    <a class="btn btn-primary btn-sm pull-right" href="{% url "projects:project_to_contract" project.id project.slug %}"><i class="fa fa-file-text-o"></i> Contract</a>
                    <a class="btn btn-primary btn-sm pull-right" href="{% url "projects:scada_information" project.id project.slug %}"><i class="fa fa-file-text-o"></i> Initiation</a>
                    <a class="btn btn-primary btn-sm pull-right" href="{% url "projects:project_edit" project.id %}"><i class="fa fa-edit"></i> Edit</a>
                </span>
                {% else %}
                <span>
                    <a class="btn btn-primary btn-sm pull-right" href="{% url "projects:project_edit" project.id %}"><i class="fa fa-edit"></i> Edit</a>
                </span>
                {% endif %}
            {% endif %}
            </h1>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-12">
        <table class="table" style="table-layout: fixed;">
            <tr>
                <th colspan="6">General</th>
            </tr>
            {% if project.project_windfarm %}<tr>
                <th>Wind Farm</th>
                <td colspan="5">
                    {% for wf, link in project.project_windfarm.items %}
                    <a href="{{ link }}">{{ wf }}</a>
                    {% endfor %}
                </td>
            </tr>{% endif %}
            <tr>
                <th>Turbines</th>
                <td>{{ project.amount_turbines }}</td>
                <td colspan="2">{{ project.mw }} MW</td>
                {% if project.turbine_age == "not defined" %}
                    <td colspan="2"></td>
                {% else %}
                    <td colspan="2">max. Age: {{ project.turbine_age }} years</td>
                {% endif %}
            </tr>
            <tr>
                <th>Model</th>
                {% for wec_type, link in project.project_wec_types.items %}
                {% with modulus=forloop.counter|mod:6 %}
                    <td {% if forloop.last %} colspan="{{ 6|sub:modulus }}" {% endif %}>
                        <a href="{{ link }}">{{ wec_type }}</a>
                    </td>
                {% endwith %}
                {% endfor %}
            </tr>
            {% for t in project.turbines.all %}
                {% if forloop.counter0|divisibleby:5 %}
                    <tr>
                        <td></td>
                {% endif %}
                {% with modu=forloop.counter|mod:5 %}
                    <td {% if forloop.last and modu != 0 %} colspan="{{ 6|sub:modu }}" {% endif %}>
                        <a href="{{ t.get_absolute_url }}">{{ t }} </a>
                    </td>
                {% endwith %}
                {% if forloop.counter|divisibleby:5 or forloop.last %}
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <th>DWT Unit</th>
                <td>{{ project.dwt }}</td>
                {% if project.sales_manager %}
                    <th>Sales manager</th>
                    <td>{{ project.sales_manager }}</td>
                {% endif %}
                {% if project.technologieverantwortlicher %}
                    <th>Technology Responsible</th>
                    <td>{{ project.technologieverantwortlicher }}</td>
                {% endif %}
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ project.status }}</td>
                {% if project.prob %}
                    <th>Probability</th>
                    <td>{{ project.prob }} %</td>
                {% endif %}
                {% if project.offer_number %}
                    <th>Offer Number</th>
                    <td>{{ project.offer_number }}</td>
                {% endif %}
            </tr>
            {% if project.request_date %}
            <tr>
                <th>First Contact</th>
                <td colspan="5">{{ project.request_date }}</td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="6">Customer</th>
            </tr>
            {% if project.project_owner|length > 0 %}
            <tr>
                <th>Owner</th>
                <td colspan="5">
                    {% for o, link in project.project_owner.items %}
                    <a href="{{ link }}">{{ o }}</a>
                    {% endfor %}
                </td>
            </tr>
            {% endif %}
            <tr>
                <th>Customer</th>
                <td {% if project.customer_contact %} colspan="2"{% else %} colspan="5"{% endif %}>
                   <a href="{{ project.customer.get_absolute_url }}">{{ project.customer }}</a>
                </td>
                {% if project.customer_contact %}
                <th>Contact Person</th>
                <td colspan="2">
                   <a href="{{ project.customer_contact.get_absolute_url }}">{{ project.customer_contact.name }}</a>
                </td>
                {% endif %}
            </tr>
            <tr>
                <th colspan="6">Contract</th>
            </tr>
            {% if project.contract_type %}
            <tr>
                <th>Contract Type</th>
                <td colspan="2">
                   {{ project.contract }}
                </td>
                <td colspan="3">
                   {{ project.contract_type }}
                </td>
            </tr>
            {% endif %}
            {% if project.start_operation %}
            <tr>
                <th>Start Date</th>
                <td colspan="2">{{ project.start_operation }}</td>
                {% if project.run_time %}
                <th>Run Time</th>
                <td colspan="2">{{ project.run_time }} years</td>
                {% endif %}
            </tr>
            {% endif %}
            {% if project.contract_signature %}
            <tr>
                <th>Contract Signature</th>
                <td colspan="5">
                   {{ project.contract_signature }}
                </td>
            </tr>
            {% endif %}
            {% if project.price %}
            <tr>
                <th>Price</th>
                <td>
                   {{ project.price }} €/WTG/year
                </td>
                <th>Yearly Contract Value</th>
                <td>
                   {{ project.yearly_contract_value }} €/year
                </td>
            {% if project.run_time %}
                <th>Total Contract Value</th>
                <td>{{ project.total_contract_value }} €</td>
            {% endif %}
            </tr>
            {% endif %}
            {% if project.ebt %}
            <tr>
                <th>EBT</th>
                <td colspan="5">
                   {{ project.ebt }} %
                </td>
            </tr>
            {% endif %}
            <tr>
                <th colspan="6">Location</th>
            </tr>
            {% if project.closest_service_location == "coordinates missing" %}
            <tr>
                <td colspan="6">No coordinates provided for turbine(s) and wind farm.</td>
            </tr>
            {% else %}
            <tr>
                <th>Service Location</th>
                <td colspan="2">{{ project.closest_service_location.name }}</td>
                <td>{{project.closest_service_location.DWT}}</td>
                <td colspan="2">air-line distance: {{ project.closest_service_location.distance }} km</td>
            </tr>
            <tr>
                <td></td>
                <td colspan="2"><a target="_blank" rel="noopener noreferrer" href="https://www.google.de/maps/dir/{{ project.closest_service_location.postal_code }}+{{ project.closest_service_location.name }}/{% if project.turbines.all.0.wind_farm.postal_code %}{{ project.turbines.all.0.wind_farm.postal_code }}+{% endif %}{{ project.turbines.all.0.wind_farm.city }}">Check on Google Maps</a></td>
                <td colspan="3" class="help-text">Make sure that 'City' and 'Postal Code' <br>are provided for the Wind Farm</td>
            </tr>
                <form id="driving_costs_form" method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    <tr>
                        <th>Driving rate</th>
                        <td>{{ form.distance.label }}</td>
                        <td>{{ form.distance }}</td>
                        <td>{{ form.hours.label }}</td>
                        <td>{{ form.hours }}</td>
                        <td><a href="#driving_rates" class="btn btn-primary pull-left" id="driving_rate_button" data-catid="{{ project.id }}">Calculate</a> <i class="fa fa-spinner fa-spin" id="load_driving" style="font-size:1.2rem; visibility:hidden;"></i></td>
                    </tr>
                    {% if form.distance.errors or form.hours.errors %}
                    <tr>
                        <td>{{ form.distance.errors }}</td>
                        <td>{{ form.hours.errors }}</td>
                    </tr>
                    {% endif %}
                </form>
            </tr>
            {% endif %}
        </table>
            <div id="driving_rates"></div>
        <table class="table" style="table-layout: fixed;">
            <tr>
                <th colspan="2">Contracted Windfarms in </th>
                <form id="contracts_in_distance_form" method="POST" action="{{ request.path }}">
                    {% csrf_token %}
                    {% for field in contracts_in_distance_form %}
                        <td>{{ field }}</td>
                        <td>{{ field.errors }}</td>
                    {% endfor %}
                        <th> km distance</th>
                        <td><a href="#surrounding_contracts" class="btn btn-primary pull-left" id="sur_contracts_button" data-catid="{{ project.id }}">Calculate</a> <i class="fa fa-spinner fa-spin" id="load" style="font-size:1.2rem; visibility:hidden;"></i></td>
                </form>
            </tr>
        </table>
            <div id="surrounding_contracts"></div>
        <table class="table" style="table-layout: fixed;">
            {% if perms.projects.has_sales_status %}
            <tr>
                <th colspan="6"><a class="btn btn-primary pull-right" href="{% url "projects:new_comment" project_id=project.pk %}"><i class="fa fa-plus"></i> Add Comment</a></th>
            </tr>
            {% endif %}
            {% if comments.all|length > 0 %}
            <tr>
                <th scope="col" colspan="6">Comments</th>
            </tr>
            {% for c in comments.all %}
            <tr>
                <td colspan="2">{{ c.created }} by {{ c.created_by }}</td>
                <td colspan="3">{{ c.text }}</td>
                {% if c.file %}
                <td>
                    <table style="border-collapse: collapse; border:none;" class="pull-right">
                        <tr style="border:none;">
                            <td style="border:none;"><a href="/media/{{ c.file }}"><i class="fa fa-file pull-right"></a></td>
                            <td style="border:none;">{% if perms.projects.has_sales_status %}<a href="{% url "projects:edit_comment" pk=c.pk project_id=project.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                        </tr>
                    </table>
                </td>
                {% else %}
                    <td>{% if perms.projects.has_sales_status %}<a href="{% url "projects:edit_comment" pk=c.pk project_id=project.pk %}"><i class="fa fa-edit pull-right"></a>{% endif %}</td>
                {% endif %}
            </tr>
            {% endfor %}
            {% endif %}
            <tr class="table-row-header">
                <th colspan="6">Change history <i class="fa fa-plus pull-right"></i></th>
            </tr>
            {% for ch in changes.all %}
            <tr class="collapse-row">
                <td colspan="3">{{ ch.created }} by {{ ch.created_by }}</td>
                <td colspan="3">{{ ch.text }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>

<script type="text/javascript">
// hide/show change history
$('.table-row-header').click(function(){
    $(this).nextUntil('.table-row-header').css('display', function(i,v){
        return this.style.display === 'table-row' ? 'none' : 'table-row';
    });
});
</script>
<script type="text/javascript">
//surrounding contracts form
    $("#sur_contracts_button").click(function () {
      $('#load')[0].style.setProperty("visibility", "visible");
      var distance = $("#distance-number").val();
      var project = $(this).attr("data-catid");
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();

      $.ajax({
        url: '{% url "projects:get_contracts_in_distance" %}',
        type: 'POST',
        data: {
          'distance': distance,
          'project': project,
          'csrfmiddlewaretoken': csrf
        },
        dataType: 'json',
        success: function (data) {
          if (Object.keys(data.contracts).length >= 1) {
            $('#surrounding_contracts').html("");
            jQuery.each(data.contracts, function (contract, group) {
                $('#surrounding_contracts').prepend("<table class='table' style='table-layout: fixed;'><tr><td colspan='2'></td><td colspan='2'><a href='"+group.url+"'>"+contract+"</a></td><td colspan='2'>"+group.distance+" km</td></tr></table>");
            });
            $('#load')[0].style.setProperty("visibility", "hidden");
          } else {
            $('#surrounding_contracts').html("<p>No contracted wind farms exist within the provided diameter.</p>");
            $('#load')[0].style.setProperty("visibility", "hidden");
          }
        },
        error: function () {
            $('#surrounding_contracts').html("<p>Please provide an integer of kilometers as input</p>");
            $('#load')[0].style.setProperty("visibility", "hidden");
        }
      });
    });
// driving rate form
    $("#driving_rate_button").click(function () {
      $('#load_driving')[0].style.setProperty("visibility", "visible");
      var distance = $("#driving-distance").val();
      var minutes = $("#driving-minutes").val();
      var project = $(this).attr("data-catid");
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();

      $.ajax({
        url: '{% url "projects:calculate_driving_rate" %}',
        type: 'POST',
        data: {
          'distance': distance,
          'minutes': minutes,
          'project': project,
          'csrfmiddlewaretoken': csrf
        },
        dataType: 'json',
        success: function (data) {
            $('#driving_rates').html("");
            $('#driving_rates').prepend("<table class='table' style='table-layout: fixed;'><tr><td></td><td>Weekday</td><td>Saturday</td><td colspan='3'>Sunday/Bank Holiday</td></tr><tr><td></td><td>"+data.driving_rates.weekday+"</td><td>"+data.driving_rates.saturday+"</td><td colspan='3'>"+data.driving_rates.sunday+"</td></tr></table>");
            $('#load_driving')[0].style.setProperty("visibility", "hidden");
        },
        error: function () {
            $('#driving_rates').html("<p>Please provide an integers for distance and duration as input</p>");
            $('#load_driving')[0].style.setProperty("visibility", "hidden");
        }
      });
    });
  </script>
{% endblock %}