{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Documents" %}
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{% trans "Documents" %}</h1>
        </div>
        <div class="col-12" id="list">
            {% render_table table %}
        </div>
    </div>
</div>
{% endblock %}