{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Projects" %}
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1>{% trans "Projects" %}</h1>
         </div>
        <div class="col-12">
            <form action="" method="get">
                <div class="card">
                    <div class="card-header">{% trans "Filter" %}
                        <span class="btn-group pull-right">
                            {% if perms.projects.add_project %}
                                <a class="btn btn-primary" href="{% url "projects:new_project" %}"><i class="fa fa-plus"></i></a>
                            {% endif %}
                            <!--{% if perms.projects.can_create_project_overview %}
                                <a class="btn btn-primary pull-right" href="{% url "projects:export" %}"><i class="fa fa-table"></i> {% trans "Project Overview" %}</a>
                            {% endif %}-->
                            {% if perms.projects.can_create_custom_export %}
                                <a class="btn btn-primary" href="{% url "projects:csv" %}"><i class="fa fa-table"></i></a>
                            {% endif %}
                        </span>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-6 col-lg-3">
                                <span>
                                    {{ filter.form.name.label_tag }}
                                    <div class="input-next-to-multi-select">
                                        {% render_field filter.form.name class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-2">
                                <span>
                                    {{ filter.form.dwt.label_tag }}
                                    <div class="select-with-border">
                                        {% render_field filter.form.dwt class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-2">
                                <span>
                                    {{ filter.form.status.label_tag }}
                                    <div class="select-with-border">
                                        {% render_field filter.form.status class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-2">
                                <span>
                                    {{ filter.form.prob.label_tag }}
                                    <div class="input-next-to-multi-select">
                                        {% render_field filter.form.prob class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-3">
                                <span>
                                    {{ filter.form.contract_type.label_tag }}
                                    <div class="select-with-border">
                                        {% render_field filter.form.contract_type class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-4">
                                <span>
                                    {{ filter.form.turbines__wec_typ__manufacturer.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.turbines__wec_typ__manufacturer class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-4">
                                <span>
                                    {{ filter.form.turbines__wec_typ.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.turbines__wec_typ class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-4">
                                <span>
                                    {{ filter.form.customer.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.customer class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-3">
                                <span>
                                    {{ filter.form.contract_signature.label_tag }}
                                    <div class="input-next-to-multi-select">
                                        {% render_field filter.form.contract_signature class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-3">
                                <span>
                                    {{ filter.form.start_operation.label_tag }}
                                    <div class="input-next-to-multi-select">
                                        {% render_field filter.form.start_operation class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-3">
                                <span>
                                    {{ filter.form.tender.label_tag }}
                                    <div class="select-next-to-multi-select">
                                        {% render_field filter.form.tender class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-3">
                                <span>
                                    {{ filter.form.contract.label_tag }}
                                    <div class="select-with-border">
                                        {% render_field filter.form.contract class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-4">
                                <span>
                                    {{ filter.form.offer_number.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.offer_number class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-4">
                                <span>
                                    {{ filter.form.sales_manager.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.sales_manager class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                            <div class="col-6 col-lg-4">
                                <span>
                                    {{ filter.form.turbines__wind_farm__country.label_tag }}
                                    <div class="autocomplete-input-with-border-next-input">
                                        {% render_field filter.form.turbines__wind_farm__country class="placeholder-right" %}
                                    </div>
                                </span>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-primary pull-left">
                            <i class="fa fa-search"></i>
                        </button>
                        <p class="pull-right" style="font-weight:bold">{{ filter.qs.count }} {% trans "Projects" %}</p>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-12">
            {% render_table table %}
        </div>
        <div class="col-12 col-md-6 chart">{{ status_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ contract_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ wec_type_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ customer_chart.as_html }}</div>
        <div class="col-12 col-md-6 chart">{{ age_chart.as_html }}</div>
    </div>
</div>

{% endblock %}
{% block javascript %}
    <script type="text/javascript">
        var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
        var selects = document.querySelectorAll('select');
        for (i = 0; i < inputs.length; i ++) {
          var inputEl = inputs[i];
          if( inputEl.value.trim() !== '' ) {
          	inputEl.parentNode.classList.add( 'inputs--filled' );
          }
          inputEl.addEventListener( 'focus', onFocus );
          inputEl.addEventListener( 'blur', onBlur );
        }
        for (i =0; i < selects.length; i ++) {
            var selectEl = selects[i];
            if( selectEl.value.trim() !== '' ) {
                selectEl.parentNode.classList.add( 'inputs--filled' );
            }
            selectEl.addEventListener( 'focus', onFocus );
            selectEl.addEventListener( 'blur', onBlur );
        }

        function onFocus( ev ) {
            ev.target.parentNode.classList.add( 'inputs--filled' );
        }

        function onBlur( ev ) {
          if ( ev.target.value.trim() === '' ) {
          	ev.target.parentNode.classList.remove( 'inputs--filled' );
          	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
          }
        }
    </script>
{% endblock %}