{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}
{% load i18n %}

{% block title %}
    {% trans "Add new Project" %}
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container-fluid">
    <div class="row">
        <div class="col-8">
            <h1>{% trans "Add/Edit a project" %}</h1>
        </div>
        <div id="offer-number" class="col-4">
            {% if request.resolver_match.view_name == 'projects:new_project' and perms.projects.add_offernumber %}
                <span>
                    <div class="form-inline form-group-sm pull-right">
                        <div class="input-with-border">
                            <form id="offer_number_form" method="POST" action="{{ request.path }}" >
                                {% csrf_token %}
                                {{ offer_number_form.dwt }}
                            </form>
                        </div>
                        <a class="btn btn-primary btn-sm pull-right" style="margin-left:1rem;" href="javascript:void(0)" id="generate_offer_number" onclick="generateOfferNumber();">Generate Offer Number</a>
                    </div>
                </span>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form id="form" action="" method="post" enctype="multipart/form-data">{% csrf_token %}
                <div class="row">
                    <div class="col-6">
                        <span>
                            {{ form.name.label_tag }}
                            <div class="input-next-to-autocomplete">
                                {% render_field form.name class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.name.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.dwt.label_tag }}
                            <div class="select-next-to-autocomplete">
                                {% render_field form.dwt class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.dwt.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        {% if request.resolver_match.view_name == 'projects:new_project' or perms.projects.change_sales_manager %}
                            <span>
                                {{ form.sales_manager.label_tag }}
                                <div class="autocomplete-input-with-border-next-input">
                                    {% render_field form.sales_manager class="placeholder-right" %}
                                </div>
                                <p class="help-text">{{ form.sales_manager.help_text }}</p>
                            </span>
                        {% else %}
                            {{ form.sales_manager.as_hidden }}
                        {% endif %}
                    </div>
                    <div class="col-6 col-md-4">
                        {% if request.resolver_match.view_name == 'projects:project_edit' and perms.projects.change_technologieverantwortlicher %}
                            <span>
                                {{ form.technology_responsible.label_tag }}
                                <div class="autocomplete-input-with-border-next-input">
                                    {% render_field form.technology_responsible class="placeholder-right" %}
                                </div>
                                <p class="help-text">{{ form.technology_responsible.help_text }}</p>
                            </span>
                        {% else %}
                            {{ form.technology_responsible.as_hidden }}
                        {% endif %}
                    </div>
                    <div class="col-12">
                        <ul id="similar_projects"></ul>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.status.label_tag }}
                            <div class="select-next-to-autocomplete">
                                {% render_field form.status class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.status.help_text }}</p>
                            <div id="status_div" data-placement="bottom" data-content="{% trans 'Not possible: Project contains an unresolved risk notice.' %}"></div>
                        </span>
                    </div>
                    <div class="col6 col-lg-2 col-md-4">
                        <span>
                            {{ form.prob.label_tag }}
                            <div class="input-next-to-autocomplete">
                                {% render_field form.prob class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.prob.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.tender.label_tag }}
                            <div class="select-next-to-autocomplete">
                                {% render_field form.tender class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.tender.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <span>
                            {{ form.offer_number.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.offer_number class="placeholder-right" id="offer_number_id" %}
                            </div>
                            <p class="help-text">{{ form.offer_number.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>{% trans "Turbines" %}</h1>
                <div class="row">
                    {% if request.resolver_match.view_name == 'projects:new_project' %}
                        <div class="col-12 col-md-4">
                            <span>
                                {{ form.windfarm.label_tag }}
                                <div class="autocomplete-input-with-border-next-input">
                                    {% render_field form.windfarm class="placeholder-right" id="id_windfarm" %}
                                </div>
                                <p class="help-text">{{ form.windfarm.help_text }}</p>
                            </span>
                        </div>
                        <div id="all_turbines_field" class="col-12 col-md-4">
                            <span>
                                {{ form.all_turbines.label_tag }}
                                <div class="select-next-to-autocomplete">
                                    {% render_field form.all_turbines class="placeholder-right" id="all_turbines" %}
                                </div>
                                <p class="help-text">{{ form.all_turbines.help_text }}</p>
                            </span>
                        </div>
                    {% endif %}
                    <div id="turbines_field" class="col-12 col-md-4">
                        <span>
                            {{ form.turbines.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.turbines class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.turbines.help_text }}</p>
                        </span>
                    </div>
                    <div id="turbines_field" class="col-12 col-md-4">
                        <span>
                            {{ form.parkinfo.label_tag }}
                            <div class="select-next-to-autocomplete">
                                {% render_field form.parkinfo class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.parkinfo.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>{% trans "Customer" %}</h1>
                <div class="row">
                    <div class="col-6 col-md-4">
                        <span>
                            {{ form.customer.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.customer class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.customer.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <span>
                            {{ form.customer_contact.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.customer_contact class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.customer_contact.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <span>
                            {{ form.kundendaten.label_tag }}
                            <div class="select-next-to-autocomplete">
                                {% render_field form.kundendaten class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.kundendaten.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>{% trans "Contract" %}</h1>
                <div class="row">
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.contract.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.contract class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.contract.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-md-4">
                        <span>
                            {{ form.contract_type.label_tag }}
                            <div class="select-with-border">
                                {% render_field form.contract_type class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.contract_type.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.run_time.label_tag }}
                            <div class="input-next-to-select">
                                {% render_field form.run_time class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.run_time.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.ebt.label_tag }}
                            <div class="input-next-to-select">
                                {% render_field form.ebt class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.ebt.help_text }}</p>
                        </span>
                    </div>
                </div>
                {% if graduated_price_start_years %}
                    <div class="row">
                        <div class="col-6 col-lg-2 col-md-4"> {% trans "Graduated prices" %}: </div>
                    </div>
                {% endif %}
                {% for gp in graduated_price_start_years %}
                    <div class="row">
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_start_year.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_start_year class="placeholder-right graduated-price-start-year" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_end_year.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_end_year class="placeholder-right graduated-price-end-year" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_yearly_price.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_yearly_price class="placeholder-right graduated-price-yearly-price" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4" style="display:none">
                            <span>
                                {{ form.graduated_price_id.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_id class="placeholder-right graduated-price-id" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_delete.label_tag }}
                                <div class="select-with-border">
                                    {% render_field form.graduated_price_delete class="placeholder-right graduated-price-delete" %}
                                </div>
                                <input id='id_project-graduated_price_delete-hidden' class='graduated-price-delete-hidden' type='hidden' value='No' name='project-graduated_price_delete'>
                            </span>
                        </div>
                    </div>
                {% endfor %}
                <div class="row" style="padding:1rem;">
                    <button type="button" class="btn btn-primary btn-sm" id="add-another">
                        <i class="fa fa-plus"></i> {% trans "Remuneration" %}
                    </button>
                </div>
                <div id="graduated-prices"></div>
                <h1>{% trans "Timeline" %}</h1>
                <div class="row">
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.request_date.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.request_date class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.request_date.help_text }}</p>
                        </span>
                    </div>
                    <div class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.start_operation.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.start_operation class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.start_operation.help_text }}</p>
                        </span>
                    </div>
                    <div id="signature" class="col-6 col-lg-2 col-md-4">
                        <span>
                            {{ form.contract_signature.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.contract_signature class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.contract_signature.help_text }}</p>
                        </span>
                    </div>
                    <div id="award_reason" class="col-6 col-md-4">
                        <span>
                            {{ form.awarding_reason.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.awarding_reason class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.awarding_reason.help_text }}</p>
                        </span>
                    </div>
                </div>
                <h1>{% trans "Expert report before operational commencement" %}</h1>
                <div class="row">
                    <div class="col-6 col-lg-3 col-md-4">
                        <span>
                            {{ form.expert_report.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.expert_report class="placeholder-right" id="expert_report" %}
                            </div>
                            <p class="help-text">{{ form.expert_report.help_text }}</p>
                        </span>
                    </div>
                    <div id="zop_field" class="col-6 col-lg-3 col-md-4">
                        <span>
                            {{ form.zop.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.zop class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.zop.help_text }}</p>
                        </span>
                    </div>
                    <div id="rotor_field" class="col-6 col-lg-3 col-md-4">
                        <span>
                            {{ form.rotor.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.rotor class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.rotor.help_text }}</p>
                        </span>
                    </div>
                    <div id="gearbox_endoscopy_field" class="col-6 col-lg-3 col-md-4">
                        <span>
                            {{ form.gearbox_endoscopy.label_tag }}
                            <div class="autocomplete-input-with-border-next-input">
                                {% render_field form.gearbox_endoscopy class="placeholder-right" %}
                            </div>
                            <p class="help-text">{{ form.gearbox_endoscopy.help_text }}</p>
                        </span>
                    </div>
                </div>
                <div class="text-right">
                    <input type="submit" id="submit-btn" value="&#xf0da" class="font-awesome">
                </div>
            </form>
        </div>
    </div>
</div>

<script type="text/javascript">
    $("#project-name").change(function () {
      var project_name = $(this).val();
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();
      var view_name = "{{ request.resolver_match.view_name }}";

      $.ajax({
        url: '{% url "projects:validate_project_name" %}',
        type: 'POST',
        data: {
          'project_name': project_name,
          'csrfmiddlewaretoken': csrf,
          'view_name': view_name
        },
        dataType: 'json',
        success: function (data) {
          if (data.view_name === 'projects:new_project') {
              if (data.similar_projects.length <= 5) {
                    $('#similar_projects').html("");
                    data.similar_projects.forEach(function (project) {$('#similar_projects').prepend("<li>"+project.name+": "+ project.customer__name +", "+ project.status +"</li>")});
                    $('#similar_projects').prepend("<p>Similar projects already in database:</p>");
                  } else {
                    $('#similar_projects').html("");
                    $('#similar_projects').prepend("<li>"+data.similar_projects.length+" similar projects</li>");
                    $('#similar_projects').prepend("<p>Similar projects already in database:</p>");
                  }
                  if (data.similar_projects.length === 0) {
                    $('#similar_projects').html("");
                  }
                  if (data.is_taken) {
                    alert("An project with exactly this name already exists.");
                  }
                }
            }
      });
    });

    document.getElementById("submit-btn").addEventListener( 'click', onSubmit );

    function onSubmit( ev ) {
        if(!check_status()){
            ev.preventDefault();
            return;
        }
        if(!checkGraduatedPriceFields(ev)){
            ev.preventDefault();
            return;
        }
        inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel], input[type=file], select' );
        for(input of inputs){
            if ( input.checkValidity() == false ) {
              input.parentNode.classList.add( 'inputs--invalid' );
            } else if ( input.checkValidity() == true ) {
              input.parentNode.classList.remove( 'inputs--invalid' );
            }
            if ( input.type == 'tel' ){
                if( input.value === '' && !input.required){
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }else if (!input.value.match(/^\+?1?\d{1,2}[\W\d]+(\d{1,2})$/)){
                    input.parentNode.classList.add( 'inputs--invalid' );
                    ev.preventDefault();
                }else{
                    input.parentNode.classList.remove( 'inputs--invalid' );
                }
            }
        }
    }

    var graduated_price_max_id = {{ graduated_price_max_id|default:-1 }};

    function initializeGraduatedPriceFields(graduated_price_start_years, graduated_price_end_years, graduated_price_yearly_prices, graduated_price_ids){
        if(graduated_price_start_years == 0){
            return;
        }
        let graduated_price_start_year_fields = document.getElementsByClassName('graduated-price-start-year');
        let graduated_price_end_year_fields = document.getElementsByClassName('graduated-price-end-year');
        let graduated_price_yearly_price_fields = document.getElementsByClassName('graduated-price-yearly-price');
        let graduated_price_id_fields = document.getElementsByClassName('graduated-price-id');

        for (let i=0; i<graduated_price_start_year_fields.length; i++){
            graduated_price_start_year_fields[i].value = graduated_price_start_years[i];
            graduated_price_end_year_fields[i].value = graduated_price_end_years[i];
            graduated_price_yearly_price_fields[i].value = graduated_price_yearly_prices[i];
            graduated_price_id_fields[i].value = graduated_price_ids[i];
        }
    };
    initializeGraduatedPriceFields({{ graduated_price_start_years|default:0 }},{{ graduated_price_end_years|default:0 }},{{ graduated_price_yearly_prices|default:0 }}, {{ graduated_price_ids|default:0 }});

    function checkGraduatedPriceFields(ev){
        let graduated_price_start_year_fields = document.getElementsByClassName('graduated-price-start-year');
        let graduated_price_end_year_fields = document.getElementsByClassName('graduated-price-end-year');
        let graduated_price_yearly_price_fields = document.getElementsByClassName('graduated-price-yearly-price');
        let graduated_price_delete_fields = document.getElementsByClassName("graduated-price-delete");
        let hidden_graduated_price_delete_fields = document.getElementsByClassName('graduated-price-delete-hidden');
        for (let i=0; i<graduated_price_delete_fields.length; i++){
            if(graduated_price_start_year_fields[i].value.length == 0){
                graduated_price_start_year_fields[i].parentNode.classList.add( 'inputs--invalid' );
                return false;
            } else {
                graduated_price_start_year_fields[i].parentNode.classList.remove( 'inputs--invalid' );
            }
            if(graduated_price_yearly_price_fields[i].value.length == 0){
                graduated_price_yearly_price_fields[i].parentNode.classList.add( 'inputs--invalid' );
                return false;
            } else {
                graduated_price_yearly_price_fields[i].parentNode.classList.remove( 'inputs--invalid' );
            }
            if(graduated_price_end_year_fields[i].value.length == 0){
                graduated_price_end_year_fields[i].value = graduated_price_start_year_fields[i].value;
            }
            if(graduated_price_delete_fields[i].checked) {
                hidden_graduated_price_delete_fields[i].disabled = true;
            }
        }
        return true;
    }

    $("#add-another").click(function() {let element = $(`<div class="row">
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_start_year.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_start_year class="placeholder-right graduated-price-start-year" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_end_year.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_end_year class="placeholder-right graduated-price-end-year" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_yearly_price.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_yearly_price class="placeholder-right graduated-price-yearly-price" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4" style="display:none">
                            <span>
                                {{ form.graduated_price_id.label_tag }}
                                <div class="input-next-to-select">
                                    {% render_field form.graduated_price_id class="placeholder-right graduated-price-id" %}
                                </div>
                            </span>
                        </div>
                        <div class="col-6 col-lg-2 col-md-4">
                            <span>
                                {{ form.graduated_price_delete.label_tag }}
                                <div class="select-with-border">
                                    {% render_field form.graduated_price_delete class="placeholder-right graduated-price-delete" %}
                                </div>
                                <input id='id_project-graduated_price_delete-hidden' class='graduated-price-delete-hidden' type='hidden' value='No' name='project-graduated_price_delete'>
                            </span>
                        </div>
                    </div>`);
        element.attr('name', 'gp-form-field');
        $("#graduated-prices").append(element);
        let graduated_price_id_fields = document.getElementsByClassName('graduated-price-id');
        graduated_price_id_fields[graduated_price_id_fields.length-1].value = ++graduated_price_max_id;
    })

    function generateOfferNumber() {
        var csrf = $("[name=csrfmiddlewaretoken]").val();
        var dwt = $("#offer_number_dwt").val();
        $.ajax({
            url: '{% url "projects:generate_offer_number" %}',
            type: 'POST',
            data: {
                'csrfmiddlewaretoken': csrf,
                'dwt': dwt
            },
            dataType: 'json',
            success: function (data) {
                $('#offer-number').html("<div class='pull-right' style='font-weight:bold; color:red;'>"+data.new_offer_number.number+"</div>");
            }
        });
    };

    var all_turbines_field = $("#all_turbines_field");
    var windfarms = $("#id_windfarm").val();
    if (typeof windfarms != "undefined" && windfarms != null && windfarms.length != null && windfarms.length > 0) {
        all_turbines_field.show();
    } else {
        all_turbines_field.hide();
    };

    $("#id_windfarm").change(function () {
        var all_turbines_field = $("#all_turbines_field");
        var windfarms = $("#id_windfarm").val();
        if (typeof windfarms != "undefined" && windfarms != null && windfarms.length != null && windfarms.length > 0) {
            all_turbines_field.show();
        } else {
            all_turbines_field.hide();
        };
    });

    $("#all_turbines").change(function () {
        var turbines_field = $("#turbines_field");
        if ($("#all_turbines").is(':checked') && $("#id_windfarm").val() != "undefined" && $("#id_windfarm").val().length > 0) {
            turbines_field.hide();
        } else {
            turbines_field.show();
        };
    });

    var award_field = $("#award_reason");
    var signature_field = $("#signature");
    if ($("#status_id").val() === 'Won' || $("#status_id").val() === 'Lost') {
        award_field.show();
        signature_field.show();
    } else {
        award_field.hide();
        signature_field.hide();
    };

    $("#status_id").change(check_status);

    function check_status() {
        let status_field = document.getElementById("status_id");
        if (status_field.value === 'Won' && "{{ unresolved_risk_notices }}" == "True"){
            status_field.parentNode.classList.add( 'inputs--invalid' );
            $('#status_div').popover('show');
            return false;
        }else{
            status_field.parentNode.classList.remove( 'inputs--invalid' );
            $('#status_div').popover('hide');

            if (status_field.value === 'Won' || status_field.value === 'Lost') {
                award_field.show();
                signature_field.show();
            } else {
                award_field.hide();
                signature_field.hide();
            }
        }
        return true;
    }

    var zop_field = $("#zop_field");
    var rotor_field = $("#rotor_field");
    var gearbox_endoscopy_field = $("#gearbox_endoscopy_field");
    if ($("#expert_report").is(':checked')) {
        zop_field.show();
        rotor_field.show();
        gearbox_endoscopy_field.show();
    } else {
        zop_field.hide();
        rotor_field.hide();
        gearbox_endoscopy_field.hide();
    };

    $("#expert_report").change(function () {
        if ($(this).is(':checked')) {
            zop_field.show();
            rotor_field.show();
            gearbox_endoscopy_field.show();
        } else {
            zop_field.hide();
            rotor_field.hide();
            gearbox_endoscopy_field.hide();
        }
    });

    var inputs = document.querySelectorAll( 'input[type=text], input[type=email], input[type=number], input[type=select], input[type=tel]' );
    var selects = document.querySelectorAll('select');
    for (i = 0; i < inputs.length; i ++) {
      var inputEl = inputs[i];
      if( inputEl.required ){
        var label = inputEl.parentElement.parentElement.querySelector( 'label' );
        label.innerHTML = label.innerHTML + " * ";
      }
      if( inputEl.value.trim() !== '' ) {
      	inputEl.parentNode.classList.add( 'inputs--filled' );
      }
      inputEl.addEventListener( 'focus', onFocus );
      inputEl.addEventListener( 'blur', onBlur );
    }
    for (i =0; i < selects.length; i ++) {
        var selectEl = selects[i];
        if( selectEl.required ){
            if(selectEl.id !='offer_number_dwt'){
                var label = selectEl.parentElement.parentElement.querySelector( 'label' );
                label.innerHTML = label.innerHTML + " * ";
            }
        }
        if( selectEl.value.trim() !== '' ) {
            selectEl.parentNode.classList.add( 'inputs--filled' );
        }
        selectEl.addEventListener( 'focus', onFocus );
        selectEl.addEventListener( 'blur', onBlur );
    }

    function onFocus( ev ) {
        ev.target.parentNode.classList.add( 'inputs--filled' );
    }

    function onBlur( ev ) {
      if ( ev.target.value.trim() === '' ) {
      	ev.target.parentNode.classList.remove( 'inputs--filled' );
      	ev.target.parentNode.parentNode.classList.remove( 'inputs--filled' );
      } if ( ev.target.checkValidity() == false ) {
        ev.target.parentNode.classList.add( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
        ev.target.addEventListener( 'input', liveValidation );
        ev.target.addEventListener( 'select', liveValidation );
      } else if ( ev.target.checkValidity() == true ) {
        ev.target.parentNode.classList.remove( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
        ev.target.addEventListener( 'input', liveValidation );
        ev.target.addEventListener( 'select', liveValidation );
      }
      if (ev.target.id == "status_id"){
          check_status();
      }
    }

    function liveValidation( ev ) {
      if ( ev.target.checkValidity() == false ) {
        ev.target.parentNode.classList.add( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.add( 'inputs--invalid' );
      } else {
        ev.target.parentNode.classList.remove( 'inputs--invalid' );
        ev.target.parentNode.parentNode.classList.remove( 'inputs--invalid' );
      }
      checkGraduatedPriceFields(ev);
      if (ev.target.id == "status_id"){
          check_status();
      }
    }
</script>
{% endblock %}