{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add new Project
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">Add/Edit a project
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-6">
                        {{ form.name.label_tag }}<br>
                        {{ form.name.errors }}<br>
                        {% render_field form.name class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.dwt.label_tag }}<br>
                        {{ form.dwt.errors }}<br>
                        {% render_field form.dwt class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.status.label_tag }}<br>
                        {{ form.status.errors }}<br>
                        {% render_field form.status class="form-control" %}
                    </div>
                    <div class="form-group col-lg-5 col-md-6 col-sm-6 col-xs-6">
                        {{ form.turbines.label_tag }}<br>
                        {{ form.turbines.errors }}<br>
                        {% render_field form.turbines class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.prob.label_tag }}<br>
                        {{ form.prob.errors }}<br>
                        {% render_field form.prob class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.customer.label_tag }}<br>
                        {{ form.customer.errors }}<br>
                        {% render_field form.customer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.new_customer.label_tag }}<br>
                        {{ form.new_customer.errors }}<br>
                        {% render_field form.new_customer class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.customer_contact.label_tag }}<br>
                        {{ form.customer_contact.errors }}<br>
                        {% render_field form.customer_contact class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.last_contact.label_tag }}<br>
                        {{ form.last_contact.errors }}<br>
                        {% render_field form.last_contact class="form-control" %}
                    </div>
                    <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                        {{ form.contract_type.label_tag }}<br>
                        {{ form.contract_type.errors }}<br>
                        {% render_field form.contract_type class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.run_time.label_tag }}<br>
                        {{ form.run_time.errors }}<br>
                        {% render_field form.run_time class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.department.label_tag }}<br>
                        {{ form.department.errors }}<br>
                        {% render_field form.department class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.responsible.label_tag }}<br>
                        {{ form.responsible.errors }}<br>
                        {% render_field form.responsible class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.request_date.label_tag }}<br>
                        {{ form.request_date.errors }}<br>
                        {% render_field form.request_date class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.start_operation.label_tag }}<br>
                        {{ form.start_operation.errors }}<br>
                        {% render_field form.start_operation class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.contract_signature.label_tag }}<br>
                        {{ form.contract_signature.errors }}<br>
                        {% render_field form.contract_signature class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.price.label_tag }}<br>
                        {{ form.price.errors }}<br>
                        {% render_field form.price class="form-control" %}
                    </div>
                    <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                        {{ form.ebt.label_tag }}<br>
                        {{ form.ebt.errors }}<br>
                        {% render_field form.ebt class="form-control" %}
                    </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}