{% extends "polls/base.html" %}
{% load static %}
{% load render_table from django_tables2 %}
{% load widget_tweaks %}

{% block title %}
    Add new Project
{% endblock %}

{% block content %}
{{ form.media }}
<div class="container">
    {% if messages %}
    <ul style="background-color:#ccffb3">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
    </ul>
    {% endif %}
    <form action="" method="post">{% csrf_token %}
       <div class="card">
            <div class="card-header">Add/Edit a project</div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header">General</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    {{ form.name.label_tag }}<br>
                                    <p class="required">{{ form.name.errors.as_text }}</p>
                                    {% render_field form.name class="form-control" %}
                                    <p class="help-text">{{ form.name.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.dwt.label_tag }}<br>
                                    <p class="required">{{ form.dwt.errors.as_text }}</p>
                                    {% render_field form.dwt class="form-control" %}
                                    <p class="help-text">{{ form.dwt.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.sales_manager.label_tag }}<br>
                                    <p class="required">{{ form.sales_manager.errors.as_text }}</p>
                                    {% render_field form.sales_manager class="form-control" %}
                                    <p class="help-text">{{ form.sales_manager.help_text }}</p>
                                </div>
                                <div class="col-12">
                                    <ul id="similar_projects"></ul>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.status.label_tag }}<br>
                                    <p class="required">{{ form.status.errors.as_text }}</p>
                                    {% render_field form.status class="form-control" %}
                                    <p class="help-text">{{ form.status.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.prob.label_tag }}<br>
                                    <p class="required">{{ form.prob.errors.as_text }}</p>
                                    {% render_field form.prob class="form-control" %}
                                    <p class="help-text">{{ form.prob.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.offer_number.label_tag }}<br>
                                    <p class="required">{{ form.offer_number.errors.as_text }}</p>
                                    {% render_field form.offer_number class="form-control" %}
                                    <p class="help-text">{{ form.offer_number.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-header">Turbines</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-6">
                                    {{ form.windfarm.label_tag }}<br>
                                    <p class="required">{{ form.windfarm.errors.as_text }}</p>
                                    {% render_field form.windfarm class="form-control" %}
                                    <p class="help-text">{{ form.windfarm.help_text }}</p>
                                </div>
                                <div class="form-group col-12">
                                    {{ form.turbines.label_tag }}<br>
                                    <p class="required">{{ form.turbines.errors.as_text }}</p>
                                    {% render_field form.turbines class="form-control" %}
                                    <p class="help-text">{{ form.turbines.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-header">Customer</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.customer.label_tag }}<br>
                                    <p class="required">{{ form.customer.errors.as_text }}</p>
                                    {% render_field form.customer class="form-control" %}
                                    <p class="help-text">{{ form.customer.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.customer_contact.label_tag }}<br>
                                    <p class="required">{{ form.customer_contact.errors.as_text }}</p>
                                    {% render_field form.customer_contact class="form-control" %}
                                    <p class="help-text">{{ form.customer_contact.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-header">Contract</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.contract.label_tag }}<br>
                                    <p class="required">{{ form.contract.errors.as_text }}</p>
                                    {% render_field form.contract class="form-control" %}
                                    <p class="help-text">{{ form.contract.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-4 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.contract_type.label_tag }}<br>
                                    <p class="required">{{ form.contract_type.errors.as_text }}</p>
                                    {% render_field form.contract_type class="form-control" %}
                                    <p class="help-text">{{ form.contract_type.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.run_time.label_tag }}<br>
                                    <p class="required">{{ form.run_time.errors.as_text }}</p>
                                    {% render_field form.run_time class="form-control" %}
                                    <p class="help-text">{{ form.run_time.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.price.label_tag }}<br>
                                    <p class="required">{{ form.price.errors.as_text }}</p>
                                    {% render_field form.price class="form-control" %}
                                    <p class="help-text">{{ form.price.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.ebt.label_tag }}<br>
                                    <p class="required">{{ form.ebt.errors.as_text }}</p>
                                    {% render_field form.ebt class="form-control" %}
                                    <p class="help-text">{{ form.ebt.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <div class="card">
                    <div class="card-header">Timeline</div>
                        <div class="card-body">
                            <div class="row">
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.request_date.label_tag }}<br>
                                    <p class="required">{{ form.request_date.errors.as_text }}</p>
                                    {% render_field form.request_date class="form-control" %}
                                    <p class="help-text">{{ form.request_date.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-2 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.start_operation.label_tag }}<br>
                                    <p class="required">{{ form.start_operation.errors.as_text }}</p>
                                    {% render_field form.start_operation class="form-control" %}
                                    <p class="help-text">{{ form.start_operation.help_text }}</p>
                                </div>
                                <div class="form-group col-lg-3 col-md-4 col-sm-6 col-xs-6">
                                    {{ form.contract_signature.label_tag }}<br>
                                    <p class="required">{{ form.contract_signature.errors.as_text }}</p>
                                    {% render_field form.contract_signature class="form-control" %}
                                    <p class="help-text">{{ form.contract_signature.help_text }}</p>
                                </div>
                            </div>
                        </div>
                </div>
                <button type="submit" value="Save" class="btn btn-primary  pull-left">
                    <i class="fa fa-upload"></i> Submit
                </button>
            </div>
        </div>
    </form>
</div>

<script type="text/javascript">
    $("#project-name").change(function () {
      var project_name = $(this).val();
      var csrf = $( "[name=csrfmiddlewaretoken]" ).val();

      $.ajax({
        url: '{% url "projects:validate_project_name" %}',
        type: 'POST',
        data: {
          'project_name': project_name,
          'csrfmiddlewaretoken': csrf
        },
        dataType: 'json',
        success: function (data) {
          if (data.similar_projects.length <= 5) {
            $('#similar_projects').html("");
            data.similar_projects.forEach(function (project) {$('#similar_projects').prepend("<li>"+project.name+": "+ project.customer__name +", "+ project.status +"</li>")});
            $('#similar_projects').prepend("<p>Similar projects already in database:</p>");
          } else {
            $('#similar_projects').html("");
            $('#similar_projects').prepend("<li>"+data.similar_projects.length+" similar projects</li>");
            $('#similar_projects').prepend("<p>Similar projects already in database:</p>");
          }
          if (data.similar_projects.length === 0) {
            $('#similar_projects').html("");
          }
          if (data.is_taken) {
            alert("An project with exactly this name already exists.");
          }
        }
      });
    });
  </script>
{% endblock %}