{% extends "polls/base.html" %}
{% load static %}
{% load l10n %}
{% load i18n %}

{% block title %}
    {{ user.first_name }} {{ user.last_name }}
{% endblock %}

{% block content %}
{{ filter.form.media }}
<div class="container-fluid">
    <div class="col-12">
        <h1>User</h1>
    </div>
    <div class="col-12">
        <table class="table">
            <tr>
                <td>Name</td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>
            <tr>
                <td>{% trans "Username" %}</td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td>Mail</td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td colspan="2"><a href="{% url "password_reset" %}">{% trans "Password Reset" %}</a></td>
            </tr>
            <tr>
                <td>{% trans "Prefered Language" %}</td>
                <td>
                    <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                        <input name="next" type="hidden" value="{{ redirect_to }}" />
                        <select name="language" style="display: inline-block;">
                            {% get_current_language as LANGUAGE_CODE %}
                            {% get_available_languages as LANGUAGES %}
                            {% get_language_info_list for LANGUAGES as languages %}
                            {% for language in languages %}
                                <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected="selected"{% endif %}>
                                    {{ language.name_local }} ({{ language.code }})
                                </option>
                            {% endfor %}
                        </select><button type="submit" style="display: inline-block;"class="btn btn-primary btn-sm" value="Save"><i class="fa fa-caret-right"></i></button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
{% endblock %}